<div class="flex justify-center">
  <div class="text-base-content max-w-full">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure class="aspect-square">
        <img src="{{ nftImage }}" alt="image of the NFT" class="h-full object-cover" />
      </figure>
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-info">NOT LISTED</div>
        </div>
        <h2 class="card-title">{{ nftMetadata?.name }}</h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Class ID</th>
                <td>{{ classID }}</td>
              </tr>
              <tr>
                <th>NFT ID</th>
                <td>{{ nftID }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br />
    <div class="flex flex-row">
      <span class="flex-auto"></span>
      <div class="card bg-base-100 shadow-xl w-full lg:w-auto">
        <h3 class="m-4 card-title">List this NFT</h3>
        <div class="card-body">
          <form (submit)="onSubmit()">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Select Bid Currency</span>
              </label>
              <select class="select select-bordered w-full" [(ngModel)]="bidSymbol" name="symbol">
                <option disabled="disabled" [value]="undefined">Please Select</option>
                <option [value]="'axlUSDC'">axlUSDC</option>
                <option [value]="'ATOM'">ATOM</option>
                <option [value]="'GUU'">GUU</option>
              </select>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Enter Minimum Deposit Rate</span>
                <!-- The button to open modal -->
                <label for="modal-minimum-deposit"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-minimum-deposit" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is minimum deposit rate?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-minimum-deposit" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input
                  required
                  type="number"
                  name="minDepositRate"
                  [(ngModel)]="minDepositRate"
                  placeholder="1.5"
                  class="input input-bordered w-full"
                  pattern="^[0-9]*\.?[0-9]{0,4}$"
                />
                <span>%</span>
              </label>
            </div>

            <br />
            <button class="btn btn-primary w-full px-8">List NFT</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
