<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs">
    <ul>
      <li routerLink="../.."><a>Vaults</a></li>
      <li>{{ owner }}</li>
    </ul>
  </div>

  <h2 class="breal-all mt-4">Created Vaults</h2>
  <ng-container *ngFor="let vault of vaults; let i = index">
    <div class="w-full md:w-auto mb-8">
      <div class="card bg-base-100 shadow-xl w-full">
        <div class="card-body">
          <div class="flex flex-row flex-wrap items-center gap-4">
            <h2 class="card-title">
              <ng-container *ngIf="symbols && symbols[i]?.img">
                <div class="avatar">
                  <div class="mask mask-circle w-6 h-6">
                    <img src="{{ symbols[i].img }}" alt="Asset Symbol" />
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!symbols || !symbols[i]?.img">
                <span class="material-symbols-outlined">question_mark</span>
              </ng-container>
              <span *ngIf="vault?.vault?.name">{{ vault?.vault?.name }}</span>
              <span *ngIf="!vault?.vault?.name">Vault #{{ vault?.vault?.id }}</span>
            </h2>
            <div class="flex flex-row items-center gap-2">
              <div class="badge badge-primary">{{ vault.vault?.denom | coinDenom | async }}</div>
              <div class="badge badge-info">NO KYC</div>
            </div>
          </div>
          <p *ngIf="vault?.vault?.description" class="m-8" style="white-space: pre-wrap">
            {{ vault?.vault?.description }}
          </p>
          <div class="overflow-x-auto">
            <table class="table w-full">
              <tbody>
                <tr>
                  <td>Vault ID</td>
                  <td>{{ vault?.vault?.id }}</td>
                </tr>
                <tr>
                  <td>Owner's Deposit</td>
                  <td>{{ vault?.vault?.owner_deposit | coin | async }}</td>
                </tr>
                <tr>
                  <td class="flex flex-row items-center gap-2">
                    <span>Withdrawal Commission Rate</span>
                    <!-- The button to open modal -->
                    <label for="modal-commission" class="label-text cursor-pointer">
                      <span class="material-symbols-outlined">help</span>
                    </label>

                    <!-- Put this part before </body> tag -->
                    <input type="checkbox" id="modal-commission" class="modal-toggle" />
                    <div class="modal modal-bottom sm:modal-middle">
                      <div class="modal-box">
                        <h3 class="font-bold text-lg">What is the withdrawal commission rate?</h3>
                        <p class="py-4">
                          This is the commission charged for withdrawals from the vault.
                          Additionally, sometimes an additional commission may be imposed based on
                          the strategy.
                        </p>
                        <p>
                          For more information on commissions visit
                          <a
                            href="https://docs.ununifi.io/overview/interchain-yield-aggregator/commission"
                            target="_blank"
                          >
                            <u class="text-info">the UnUniFi Documentation</u> </a
                          >.
                        </p>
                        <div class="modal-action">
                          <label for="modal-commission" class="btn">Okay</label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{ vault?.vault?.withdraw_commission_rate | percent : '1.0-4' }}</td>
                </tr>
                <tr>
                  <td class="flex flex-row items-center gap-2">
                    <span>Withdrawal Reserve Rate</span>
                    <!-- The button to open modal -->
                    <label for="modal-reserve" class="label-text cursor-pointer">
                      <span class="material-symbols-outlined">help</span>
                    </label>

                    <!-- Put this part before </body> tag -->
                    <input type="checkbox" id="modal-reserve" class="modal-toggle" />
                    <div class="modal modal-bottom sm:modal-middle">
                      <div class="modal-box">
                        <h3 class="font-bold text-lg">What is the withdrawal reserve rate?</h3>
                        <p class="py-4">
                          This is the percentage of withdrawal reserves available for all deposits.
                          The withdrawal reserves will be used for withdrawing with zero unbonding
                          time. Additionally, the Withdrawal Reserve Rate is used to calculate
                          withdrawal fees.
                        </p>
                        <p>
                          For more information about the Withdrawal Reserve Rate, visit
                          <a
                            href="https://docs.ununifi.io/overview/interchain-yield-aggregator/withdraw-reserve-rate"
                            target="_blank"
                          >
                            <u class="text-info">the UnUniFi Documentation</u> </a
                          >.
                        </p>
                        <div class="modal-action">
                          <label for="modal-reserve" class="btn">Okay</label>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{ vault?.vault?.withdraw_reserve_rate | percent : '1.0-4' }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="overflow-x-auto mt-4">
            <table class="table w-full">
              <thead>
                <tr>
                  <th></th>
                  <th>Strategy Name</th>
                  <th>Percentage</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let strategy of vault.vault?.strategy_weights">
                  <tr
                    class="hover cursor-pointer"
                    routerLink="/yield-aggregator/strategies/{{ vault.vault?.denom }}/{{
                      strategy.strategy_id
                    }}"
                    [routerLink]="[
                      '/yield-aggregator/strategies',
                      vault.vault?.denom,
                      strategy.strategy_id
                    ]"
                  >
                    <th>#{{ strategy.strategy_id }}</th>
                    <td>{{ getStrategyDetail(strategy.strategy_id)?.strategy?.name }}</td>
                    <td>{{ strategy.weight | percent : '1.0-2' }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="card-actions justify-end" *ngIf="owner === address">
            <label
              for="transfer-modal-{{ vault.vault?.id }}"
              class="btn btn-outline btn-secondary mr-2"
              >Transfer</label
            >
          </div>
          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="transfer-modal-{{ vault.vault?.id }}" class="modal-toggle" />
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="font-bold text-lg">
                Are you sure to transfer the ownership of this Vault?
              </h3>
              <form #transferFormRef="ngForm" (submit)="onSubmitTransfer(vault.vault?.id)">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Enter Destination address</span>
                  </label>
                  <input
                    type="text"
                    required
                    #recipientNgModelRef="ngModel"
                    placeholder="Enter the recipient address (prefix: ununifi)"
                    class="input input-bordered w-full"
                    [class]="{
                      'input-error': recipientNgModelRef.errors && recipientNgModelRef.touched
                    }"
                    [(ngModel)]="recipientAddress"
                    name="recipient"
                  />
                </div>

                <p class="py-4">
                  The ownership of the vault #{{ vault.vault?.id }} will be transferred to the
                  address, do you proceed?
                </p>
                <div class="modal-action">
                  <label for="transfer-modal-{{ vault.vault?.id }}" class="btn btn-outline"
                    >Cancel</label
                  >
                  <button class="btn btn-secondary" [disabled]="transferFormRef.invalid">
                    Transfer
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <p *ngIf="!vaults?.length" class="mt-4 ml-4">There is no vault.</p>
</div>
