<div class="flex flex-row items-end">
  <h2 class="mb-4">
    <span>Address</span>
    <span class="flex-auto"></span>
    <span class="ml-2 break-all text-gray-600 text-sm sm:text-base">{{
      baseAccount?.address
    }}</span>
  </h2>
</div>

<ng-container *ngIf="baseAccount === undefined || null; then empty; else exist"></ng-container>

<ng-template #empty>
  <span>*This account has no denoms</span>
</ng-template>

<ng-template #exist>
  <h3 class="mb-0 ml-2">Over view</h3>
  <mat-card class="mb-4">
    <mat-list *ngFor="let balance of balances; last as last">
      <mat-list-item>
        <span class="flex-auto"></span>
        <span class="whitespace-nowrap">{{ balance.amount | number: '1.0-0' }}</span>
        <span class="ml-2 break-all">{{ balance.denom }}</span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    <!--  Todo: enable after price information enabled
    <mat-list>
      <mat-list-item>
        <span class="whitespace-nowrap">Total Balances: </span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all">{{ value }}</span>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <span class="whitespace-nowrap">Total Value: </span>
        <span class="flex-auto"></span>
        $<span class="ml-2 break-all">{{ value }}</span> (@ $ {{ value }} / )
      </mat-list-item>
    </mat-list>
    -->
  </mat-card>
</ng-template>
