<view-market
  [baseSymbol]="baseSymbol$ | async"
  [baseImage]="baseImage$ | async"
  [quoteImage]="quoteImage$ | async"
  [quoteSymbol]="quoteSymbol$ | async"
  [params]="params$ | async"
  [info]="info$ | async"
  [symbolBalancesMap]="symbolBalancesMap$ | async"
  [pool]="pool$ | async"
  [price]="price$ | async"
  [positions]="positions$ | async"
  [positionInstances]="positionInstances$ | async"
  [selectedMarket]="selectedMarket$ | async"
  [availableMarkets]="availableMarkets$ | async"
  (openPosition)="onOpenPosition($event)"
  (closePosition)="onClosePosition($event)"
  (changeMarket)="onChangeMarket($event)"
></view-market>
