<view-deposit
  [owner]="owner$ | async"
  [vaultBalances]="vaultBalances$ | async"
  [vaults]="vaults$ | async"
  [vaultSymbols]="vaultSymbols$ | async"
  [usdDepositAmount]="usdDepositAmount$ | async"
  [estimatedRedeemAmounts]="estimatedRedeemAmounts$ | async"
  [usdTotalAmount]="usdTotalAmount$ | async"
  [strategies]="strategies$ | async"
  [strategySymbols]="strategySymbols$ | async"
  [usdUnbondingAmount]="usdUnbondingAmount$ | async"
  [usdTotalUnbondingAmount]="usdTotalUnbondingAmount$ | async"
></view-deposit>
