<h2 class="mb-4">Incentive Token Detail</h2>
<h3 class="mb-0 ml-2">{{ unitId }}</h3>
<mat-card class="mb-4">
  <mat-card-title>txMemo</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="break-words">{{ txMemo }}</span>
        <span class="flex-auto"></span>
        <button mat-button type="button" matSuffix (click)="copyClipboard(txMemo!)">
          <mat-icon>content_copy</mat-icon>
          <span>copy</span>
        </button>
      </mat-list-item>
    </mat-list>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>
          Add this JSON string to the txMemo in the MSG of the transaction sent from the app you
          created.
        </p>
        <p>You will be rewarded when the transaction is processed successfully.</p>
      </mat-card-content>
    </details>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="unit === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="unit !== undefined; then exist; else notFound"> </ng-container>
</ng-template>
<ng-template #exist>
  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let subject of unit?.subject_info_lists; last as last">
          <mat-list-item>
            <span class="whitespace-nowrap">{{ subject.subject_addr }}:</span>
            <span class="flex-auto"></span>
            <span class="ml-1 break-all">{{ subject.weight }}</span>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #notFound>
  <p>404 Not Found</p>
</ng-template>
