<ng-container *ngIf="unit === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="unit !== undefined; then exist; else notFound"> </ng-container>
</ng-template>
<ng-template #exist>
  <h2 class="mb-0">
    {{ unit?.id }}
  </h2>

  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="break-words">{{ unit }}</span>
          <span class="flex-auto"></span>
          <button mat-button type="button" matSuffix (click)="copyClipboard(unit?.txMemo!)">
            <mat-icon>content_copy</mat-icon>
            <span>copy</span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <ng-container *ngFor="let subject of unit?.subject_info_lists; last as last">
          <mat-list-item>
            <span class="whitespace-nowrap">{{ subject.subject_addr }}:</span>
            <span class="flex-auto"></span>
            <span class="ml-1 break-all">{{ subject.weight }}</span>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Timestamp:</span>
          <span class="flex-auto"></span>
          <span class="ml-1 break-all">{{ unit?.created_at | date: 'yyyy-M-d a h:mm:ss z' }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card> -->
</ng-template>

<ng-template #notFound>
  <p>404 Not Found</p>
</ng-template>
