<ng-container *ngIf="txDetail">
  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <span class="badge badge-info"> {{ txDetail.txType }} </span>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>Delegator address</th>
            <td class="font-mono">
              {{ txDetail.fromAddress }}
            </td>
          </tr>
          <tr>
            <th>Validator address (dst.)</th>
            <td class="font-mono">
              {{ txDetail.validatorDestinationAddress }}
            </td>
          </tr>
          <tr>
            <th class="font-mono">Validator address (src.)</th>
            <td>
              {{ txDetail.validatorSourceAddress }}
            </td>
          </tr>
          <tr>
            <th>Amount</th>
            <td>
              {{ txDetail.amount }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
