<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <h2>Strategies</h2>
  </div>
  <!-- <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title break-all">All Available Strategies</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">Average APY</div>
            <div class="stat-value">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Average TVL</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Deposited</div>
            <div class="stat-value">$ 123</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Earnings</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#mars00</div>
          <div class="badge badge-lg badge-secondary mr-1">USDC</div>
        </div>
        <h2 class="card-title">Mars Lending</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">TVL</div>
            <div class="stat-value text-primary">$ 1.23</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Deposits</div>
            <div class="stat-value">$ 123.4</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Earnings</div>
            <div class="stat-value text-primary">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <div class="card-actions justify-end hidden lg:flex">
          <button routerLink="mars00" class="btn btn-outline btn-info">View</button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#mer01</div>
          <div class="badge badge-lg badge-secondary mr-1">GUU</div>
        </div>
        <h2 class="card-title">Mercury Lending</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">TVL</div>
            <div class="stat-value text-primary">$ 1.23</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Deposits</div>
            <div class="stat-value">$ 123.4</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Earnings</div>
            <div class="stat-value text-primary">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <div class="card-actions justify-end hidden lg:flex">
          <button routerLink="mer01" class="btn btn-outline btn-info">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
