<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <h2>Strategies of {{ symbol || denom }}</h2>
  </div>
  <div class="flex flex-row flex-wrap -mr-12 -mb-12">
    <div
      *ngFor="let strategy of strategies; let i = index"
      class="pr-12 pb-12 w-full md:w-1/2 xl:w-1/3"
    >
      <div class="card bg-base-100 shadow-xl w-full">
        <div class="card-body">
          <div class="flex flex-row">
            <div class="badge badge-lg badge-primary mr-1">#{{ strategy.id }}</div>
          </div>
          <h2 class="card-title break-all">
            {{ strategy.name }}
          </h2>

          <button
            routerLink="/yield-aggregator/strategies/{{ strategy.denom }}/{{ strategy.id }}"
            class="btn btn-outline btn-info"
          >
            View
          </button>
        </div>
      </div>
    </div>
    <p *ngIf="!strategies?.length">There is no strategy.</p>
  </div>
</div>
