<div class="mx-auto max-w-screen-xl">
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">
          Mars Lending
          <div class="badge badge-secondary">USDC</div>
        </h2>
        <div class="stats">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">TVL</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Deposited</div>
            <div class="stat-value">$ 123</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Earnings</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Vaults</h3>
  <div class="flex flex-row flex-wrap -mb-8">
    <div class="pb-8 w-full">
      <div class="card bg-base-100 shadow-xl w-full">
        <div class="card-body">
          <h2 class="card-title">axlUSDC#1</h2>

          <div class="stats">
            <div class="stat">
              <div class="stat-title">Weight of Mars Lending</div>
              <div class="stat-value">50%</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat">
              <div class="stat-title">APR</div>
              <div class="stat-value">21.2%</div>
              <div class="stat-desc"></div>
            </div>
          </div>
          <div class="card-actions justify-end hidden lg:flex">
            <button routerLink="/yield-aggregator/vaults/axlUSDC#1" class="btn btn-primary">
              Deposit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
