<div class="flex flex-row items-end mb-2">
  <h2 class="mb-0">Proposals</h2>
</div>
<ng-container *ngIf="proposals === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="(proposals?.proposals?.length || 0) > 0; then exist; else empty">
  </ng-container>
</ng-template>
<ng-template #exist>
  <mat-card>
    <mat-nav-list>
      <ng-container *ngFor="let proposal of proposals?.proposals; last as last">
        <ng-container *ngIf="unpackContent(proposal.content) as content">
          <mat-list-item routerLink="{{ proposal.proposal_id }}">
            <div matLine class="flex mb-2">
              <span># {{ proposal.proposal_id }}</span>
              <span class="flex-auto"></span>
              <span>{{ content.title }}</span>
              <span class="flex-auto"></span>
              <span>{{ proposal.status?.replace('PROPOSAL_STATUS_', '') }}</span>
            </div>
            <div matLine class="flex">
              <mat-icon class="mr-2" color="primary">thumb_up</mat-icon>
              <span>{{ proposal.final_tally_result?.yes }}</span>
              <span class="flex-auto"></span>
              <mat-icon class="mr-2" color="warn">thumb_down</mat-icon>
              <span>{{ proposal.final_tally_result?.no_with_veto }}</span>
              <span class="flex-auto"></span>
              <mat-icon class="mr-2" color="accent">thumb_down</mat-icon>
              <span>{{ proposal.final_tally_result?.no }}</span>
              <span class="flex-auto"></span>
              <mat-icon class="mr-2">subtitles_off</mat-icon>
              <span>{{ proposal.final_tally_result?.abstain }}</span>
            </div>
          </mat-list-item>
          <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-card>
</ng-template>
<ng-template #empty>
  <p>There is no proposal.</p>
</ng-template>
