<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Proposals</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="flex gap-4">
      <div class="form-control">
        <label class="input-group">
          <select
            class="select w-20 sm:w-64"
            [(ngModel)]="pageSize"
            (change)="onPaginationChange()"
          >
            <option disabled selected>Select items amount</option>
            <ng-container *ngFor="let size of pageSizeOptions">
              <option [value]="size">{{ size }}</option>
            </ng-container>
          </select>
        </label>

        <label class="label">
          <span class="label-text-alt"
            >{{ calcItemsIndex().start }} - {{ calcItemsIndex().end }} of
            {{ pageLength }}items</span
          >
        </label>
      </div>

      <div class="join join-horizontal">
        <button class="btn join-item" (click)="onPaginationChange(1)">«</button>
        <button class="btn join-item cursor-default">Page {{ pageNumber || 1 }}</button>
        <button class="btn join-item" (click)="onPaginationChange(2)">»</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="proposals === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <p class="text-center">
      <span class="loading loading-ring loading-lg"></span>
    </p>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="(proposals?.length || 0) > 0; then exist; else empty"> </ng-container>
  </ng-template>

  <ng-template #exist>
    <div *ngFor="let proposal of proposals; let i = index" class="w-full mb-4">
      <div class="card bg-base-100 w-full shadow-xl">
        <div class="card-body">
          <div class="flex items-center">
            <h2 class="card-title break-all">
              #{{ proposal.proposal_id }} {{ getProposalTitle(proposal) }}
            </h2>
            <span class="flex-auto"></span>
            <span class="badge badge-primary badge-lg">
              {{ proposal.status?.replace('PROPOSAL_STATUS_', '') }}
            </span>
          </div>

          <label class="label">
            <span class="label-text">Tallies</span>
          </label>
          <div class="grid gap-3">
            <div class="flex items-center p-1 gap-2">
              <span class="material-symbols-outlined text-success">thumb_up</span>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].yes }}"
                class="progress progress-success"
              ></progress>
            </div>
            <div class="flex items-center p-1 gap-2">
              <span class="material-symbols-outlined text-warning">thumb_down</span>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].no }}"
                class="progress progress-warning"
              ></progress>
            </div>
            <div class="flex items-center p-1 gap-2">
              <span class="material-symbols-outlined text-error">not_interested</span>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].noWithVeto }}"
                class="progress progress-error"
              ></progress>
            </div>
            <div class="flex items-center p-1 gap-2">
              <span class="material-symbols-outlined text-primary">subtitles_off</span>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].abstain }}"
                class="progress progress-primary"
              ></progress>
            </div>
          </div>
          <div class="card-actions justify-end">
            <button
              class="btn btn-outline btn-info w-full md:w-auto md:px-8"
              routerLink="{{ proposal.proposal_id }}"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #empty>
    <p>There is no proposal.</p>
  </ng-template>
</div>
