<div class="card bg-base-100 shadow-xl overflow-y-auto">
  <div class="flex flex-col items-end md:hidden">
    <button mat-icon-button class="mt-2 mr-2" (click)="onClickClose()">
      <span class="material-icons">close</span>
    </button>
  </div>
  <div class="card-body">
    <div class="flex flex-col items-center">
      <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
      <div class="font-bold text-xl m-3">Delegate to this validator</div>
    </div>

    <form #formRef="ngForm" (submit)="onSubmit()">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">To. (Validator)</span>
        </label>
        <ul class="menu bg-base-100">
          <li class="disabled">
            <a class="text-base-content items-center">
              <span
                class="material-icons"
                [ngStyle]="{ color: getColorCode(validator?.operator_address!) }"
              >
                circle
              </span>
              {{ validator?.description?.moniker }}
            </a>
          </li>
        </ul>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">From. (Delegator)</span>
        </label>
        <ul class="menu bg-base-100">
          <li class="disabled">
            <a class="text-base-content items-center">
              <span
                class="material-icons"
                [ngStyle]="{ color: getColorCode(currentStoredWallet?.address!) }"
              >
                circle
              </span>
              {{ currentStoredWallet?.id }}
            </a>
          </li>
        </ul>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Delegate Amount</span>
        </label>
        <label class="input-group">
          <input
            name="delegate-amount"
            type="number"
            placeholder="12.123456"
            class="input input-bordered w-full"
            [(ngModel)]="delegateAmount"
            [min]="0"
            required
            pattern="^\d+(\.\d{1,6})?$"
          />
          <span>{{ denom | coinDenom | async }}</span>
        </label>

        <label class="label">
          <span class="label-text text-xs"> Available Balance: {{ balance | coin | async }} </span>
        </label>
      </div>

      <!-- <h3 class="pt-3">Gas Settings</h3>
    <mat-form-field class="w-full">
      <mat-label>Gas Ratio</mat-label>
      <input [(ngModel)]="gasRatio" name="gas-ratio" matInput type="number" required />
    </mat-form-field>
    <mat-button-toggle-group class="flex mb-4" value="low">
      <mat-button-toggle class="flex-auto" value="low" (click)="changeGasRatio(0)"
        >Low</mat-button-toggle
      >
      <mat-button-toggle class="flex-auto" value="middle" (click)="changeGasRatio(1.1)"
        >Middle</mat-button-toggle
      >
      <mat-button-toggle class="flex-auto" value="high" (click)="changeGasRatio(2)"
        >High</mat-button-toggle
      >
    </mat-button-toggle-group>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Advanced </mat-panel-title>
          <mat-panel-description> Change Default Gas Price </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex flex-col content-content lg:flex-row">
          <mat-form-field class="flex-auto">
            <mat-label>Gas Denom</mat-label>
            <mat-select
              [(ngModel)]="selectedGasPrice && selectedGasPrice.denom"
              name="minimum-gas-denom"
              required
              (valueChange)="onMinimumGasDenomChanged($event)"
            >
              <mat-option
                *ngFor="let minimumGasPriceOption of minimumGasPrices"
                [value]="minimumGasPriceOption.denom"
              >
                {{ minimumGasPriceOption.denom }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="flex-auto">
            <mat-label>Gas Price</mat-label>
            <input
              [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
              #minimumGasPriceRef
              name="minimum-gas-price"
              matInput
              type="number"
              [min]="0"
              required
            />
          </mat-form-field>
        </div>
        <mat-slider
          class="w-full"
          [max]="1"
          [min]="0"
          [step]="0.015"
          [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
          name="minimum-gas-price-slider"
        >
        </mat-slider>
      </mat-expansion-panel>
    </mat-accordion> -->
      <div class="card-actions justify-end mt-4">
        <button class="btn btn-primary w-full md:w-auto md:px-8" [disabled]="formRef.invalid">
          Delegate
        </button>
      </div>
    </form>
  </div>
</div>
