<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <div class="text-xl breadcrumbs">
      <ul>
        <li><a routerLink="..">Earn Fixed Yield</a></li>
        <li>Vault #{{ 1 }}</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="join">
      <button class="btn btn-sm btn-primary join-item">Earn</button>
      <button class="btn btn-sm btn-primary glass join-item" (click)="changeAdvanced()">
        Trade
      </button>
    </div>
  </div>

  <h1 class="text-2xl mb-8">Earn Fixed Yield with {{ 'stATOM' }}</h1>

  <div class="card bg-base-200 shadow-xl mb-4">
    <div class="card-body">
      <h2 class="card-title">Step.1 Select a Maturity</h2>
      <p class="opacity-50">Withdraw anytime at market prices</p>

      <div class="flex flex-row flex-wrap gap-2 mb-4">
        <button
          class="btn btn-lg btn-outline btn-primary"
          [class.btn-active]="selectedMaturity === '1'"
          (click)="selectedMaturity = '1'"
        >
          <div>
            <div class="text-xl flex flex-row">
              <p class="font-bold">{{ '2024-10-1' | date : 'mediumDate' }}</p>
              <p class="lowercase ml-2">({{ 317 }}d)</p>
            </div>
            <div class="text-xl flex flex-row">
              <p class="text-accent font-bold">{{ '0.1003' | percent : '1.2-2' }}</p>
              Fixed APY
            </div>
          </div>
        </button>
        <button
          class="btn btn-lg btn-outline btn-primary"
          [class.btn-active]="selectedMaturity === '2'"
          (click)="selectedMaturity = '2'"
        >
          <div>
            <div class="text-xl flex flex-row">
              <p class="font-bold">{{ '2024-10-1' | date : 'mediumDate' }}</p>
              <p class="lowercase ml-2">({{ 317 }}d)</p>
            </div>
            <div class="text-xl flex flex-row">
              <p class="text-accent font-bold">{{ '0.1003' | percent : '1.2-2' }}</p>
              Fixed APY
            </div>
          </div>
        </button>
        <button
          class="btn btn-lg btn-outline btn-primary"
          [class.btn-active]="selectedMaturity === '3'"
          (click)="selectedMaturity = '3'"
        >
          <div>
            <div class="text-xl flex flex-row">
              <p class="font-bold">{{ '2024-10-1' | date : 'mediumDate' }}</p>
              <p class="lowercase ml-2">({{ 317 }}d)</p>
            </div>
            <div class="text-xl flex flex-row">
              <p class="text-accent font-bold">{{ '0.1003' | percent : '1.2-2' }}</p>
              Fixed APY
            </div>
          </div>
        </button>
      </div>

      <div
        class="flex items-center gap-3 rounded-lg border-2 border-[#adc9ff] p-2 cursor-pointer hover"
      >
        <div class="overflow-x-auto">
          <table class="table">
            <tbody>
              <tr>
                <th class="text-xl">My Position Value</th>
                <td class="text-xl font-bold flex flex-row items-center gap-2">
                  <div>{{ 0 }} {{ 'stATOM' }}</div>
                  <span class="material-symbols-outlined"> arrow_forward </span>
                  <div class="text-primary">{{ 0 }} {{ 'stATOM' }}</div>
                </td>
              </tr>
              <tr>
                <th class="text-xl">Redeem at Maturity</th>
                <td class="text-xl font-bold flex flex-row items-center gap-2">
                  <div>{{ 0 }} {{ 'stATOM' }}</div>
                  <span class="material-symbols-outlined"> arrow_forward </span>
                  <div class="text-primary">{{ 0 }} {{ 'stATOM' }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-base-200 shadow-xl mb-8">
    <div class="card-body">
      <h2 class="card-title">Step.2 Deposit to Earn</h2>
      <div class="tabs w-full">
        <a
          class="tab tab-lg tab-bordered w-1/2 text-accent"
          [class.border-accent]="tab === 'deposit'"
          [class.text-accent]="tab === 'deposit'"
          (click)="tab = 'deposit'"
        >
          Deposit
        </a>
        <a
          class="tab tab-lg tab-bordered w-1/2 text-accent"
          [class.border-accent]="tab === 'withdraw'"
          [class.text-accent]="tab === 'withdraw'"
          (click)="tab = 'withdraw'"
        >
          Withdraw
        </a>
      </div>

      <form *ngIf="tab === 'deposit'">
        <div class="form-control">
          <span class="label">
            <span class="label-text">Input</span>
          </span>
          <label class="input-group join">
            <span>USDC</span>
            <input class="join-item input input-bordered w-full" />
          </label>
          <span class="label">
            <span class="label-text"></span>
          </span>
        </div>

        <div class="flex flex-row justify-center">
          <button type="button" class="btn btn-circle" (click)="tab = 'deposit'">
            <span class="material-symbols-outlined"> swap_vert </span>
          </button>
        </div>

        <div class="form-control">
          <span class="label">
            <span class="label-text">Output</span>
          </span>
          <label class="input-group join">
            <span>PT</span>
            <input disabled class="join-item input input-bordered w-full" />
          </label>
          <span class="label">
            <span class="label-text"></span>
          </span>
        </div>

        <div class="card-actions justify-end px-4">
          <button class="btn btn-primary w-full gap-1">
            <span class="material-symbols-outlined"> attach_money </span>
            <span class="hidden md:inline">Deposit</span>
          </button>
        </div>
      </form>

      <form *ngIf="tab === 'withdraw'">
        <div class="form-control">
          <span class="label">
            <span class="label-text">Input</span>
          </span>
          <label class="input-group join">
            <span>PT</span>
            <input class="join-item input input-bordered w-full" />
          </label>
          <span class="label">
            <span class="label-text"></span>
          </span>
        </div>

        <div class="flex flex-row justify-center">
          <button type="button" class="btn btn-circle" (click)="tab = 'withdraw'">
            <span class="material-symbols-outlined"> swap_vert </span>
          </button>
        </div>

        <div class="form-control">
          <span class="label">
            <span class="label-text">Output</span>
          </span>
          <label class="input-group join">
            <span>USDC</span>
            <input disabled class="join-item input input-bordered w-full" />
          </label>
          <span class="label">
            <span class="label-text"></span>
          </span>
        </div>
        <div class="card-actions justify-end px-4">
          <button class="btn btn-primary w-full gap-1">
            <span class="material-symbols-outlined"> money_off </span>
            <span class="hidden md:inline">Withdraw</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
