<ng-container *ngIf="proposal === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <h2>proposal: {{ proposal?.proposal_id }}</h2>

  <div class="overflow-x-auto">
    <table class="table w-full">
      <tr>
        <th>Status</th>
        <td>{{ proposal?.status }}</td>
      </tr>
    </table>
  </div>

  <h3>Tally</h3>

  <div class="overflow-x-auto">
    <table class="table w-full">
      <tr>
        <th>Yes</th>
        <td>{{ tally?.yes }}</td>
      </tr>
      <tr>
        <th>Abstain</th>
        <td>{{ tally?.abstain }}</td>
      </tr>
      <tr>
        <th>No</th>
        <td>{{ tally?.no }}</td>
      </tr>
      <tr>
        <th>No with Veto</th>
        <td>{{ tally?.no_with_veto }}</td>
      </tr>
    </table>
  </div>

  <h3>Deposit</h3>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <tr>
        <th>Submit Time</th>
        <td>{{ proposal?.submit_time }}</td>
      </tr>
      <tr>
        <th>Deposit End Time</th>
        <td>{{ proposal?.deposit_end_time }}</td>
      </tr>
    </table>
  </div>

  <h4>Total Deposit</h4>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <ng-container *ngFor="let total of proposal?.total_deposit">
        <tr>
          <td>{{ total.amount }}</td>
          <td>{{ total.denom }}</td>
        </tr>
      </ng-container>
    </table>
  </div>

  <ng-container *ngFor="let deposit of deposits">
    <h4>Depositor: {{ deposit.depositor }}</h4>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <ng-container *ngFor="let amount of deposit.amount">
          <tr>
            <td>{{ amount.amount }}</td>
            <td>{{ amount.denom }}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </ng-container>

  <h3>Vote</h3>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <tr>
        <th>Vote Start Time</th>
        <td>{{ proposal?.voting_start_time }}</td>
      </tr>
      <tr>
        <th>Vote End Time</th>
        <td>{{ proposal?.voting_end_time }}</td>
      </tr>
    </table>
  </div>

  <ng-container *ngFor="let vote of votes">
    <h4>voter: {{ vote.voter }}</h4>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tr>
          <th>Is Yes</th>
          <td>{{ vote.option }}</td>
        </tr>
      </table>
    </div>
  </ng-container>
</ng-template>
