<view-repay
  [classID]="classID$ | async"
  [nftID]="nftID$ | async"
  [listingInfo]="listingInfo$ | async"
  [symbol]="symbol$ | async"
  [symbolImage]="symbolImage$ | async"
  [bidders]="bidders$ | async"
  [loans]="loans$ | async"
  [liquidation]="liquidation$ | async"
  [repayAmount]="repayAmount$ | async"
  [nftMetadata]="nftMetadata$ | async"
  [nftImage]="nftImage$ | async"
  [chartData]="chartData$ | async"
  [shortestExpiryDate]="shortestExpiryDate$ | async"
  [averageInterestRate]="averageInterestRate$ | async"
  (appSubmit)="onSubmit($event)"
  (appSimulate)="onSimulate($event)"
></view-repay>
