<div class="flex justify-center">
  <div class="max-w-full">
    <h2 class="mb-0">NFT-Backed Loan</h2>
    <mat-card class="mb-4 mat-elevation-z8">
      <mat-card-title>Borrow Tokens on the Security of NFT</mat-card-title>
      <mat-card-subtitle>NFT Management</mat-card-subtitle>
      <mat-card-content>
        <p>
          You can list an NFT and borrow Tokens from a bidder. You can also sell the NFT directly to
          the bidder.
        </p>
        <p>In case of late repayment, the NFT will be automatically liquidated.</p>
      </mat-card-content>
      <div class="flex flex-row">
        <button class="mr-4 px-8" mat-flat-button color="primary" routerLink="borrowers/borrower">
          <mat-icon>add_photo_alternate</mat-icon>
          <span>Join as a Borrower</span>
        </button>
        <button mat-stroked-button color="accent">
          <span>Read more</span>
        </button>
        <span class="flex-auto"></span>
      </div>
    </mat-card>

    <mat-card class="mb-4 mat-elevation-z8">
      <mat-card-title>Lend your Tokens to NFT Holder</mat-card-title>
      <mat-card-subtitle>Token Management</mat-card-subtitle>
      <mat-card-content>
        <p>
          You can lend your Tokens at a set interest rate and repayment term. In addition to earning
          interest rates, you may be able to buy NFTs at lower prices.
        </p>
        <p>The Interest is charged from the time the NFT seller borrows from your deposit.</p>
      </mat-card-content>
      <div class="flex flex-row">
        <button class="mr-4 px-8" mat-flat-button color="primary" routerLink="lenders">
          <mat-icon>monetization_on</mat-icon>
          <span>Join as a Lender</span>
        </button>
        <button mat-stroked-button color="accent">
          <span>Read more</span>
        </button>
        <span class="flex-auto"></span>
      </div>
    </mat-card>

    <!-- To do: Update Query & show overview -->
    <!-- <mat-card class="mb-4 mat-elevation-z8">
      <mat-card-title>Overview</mat-card-title>
      <mat-list>
        <mat-list-item>
          <span class="break-all truncate pr-4">Average Interest Rate:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">%</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">24h Volume:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">GUU</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">24h Total Interest:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">GUU</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">Now Listing NFTs:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">{{ listedNfts?.length }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">Total Deposits:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">GUU</span>
        </mat-list-item>
      </mat-list>
    </mat-card> -->
  </div>
</div>
