<h2>NFT-Backed Loan</h2>
<div class="flex justify-center items-center flex-wrap">
  <div class="card bg-white shadow-xl rounded-lg overflow-hidden w-full m-2 md:w-5/12 lg:w-1/3">
    <img
      alt="Lender"
      src="https://img.freepik.com/free-vector/cryptocurrency-market-abstract-concept-illustration_335657-2166.jpg"
      class="w-full h-64 object-cover"
    />
    <div class="card-body h-full">
      <h2 class="card-title text-black">
        Lend your Tokens to an NFT Holder
        <!-- The button to open modal -->
        <label for="modal-lend" class="label-text cursor-pointer">
          <mat-icon class="text-black">help</mat-icon>
        </label>
      </h2>
      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="modal-lend" class="modal-toggle" />
      <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="font-bold text-lg">What is the Lender?</h3>
          <p>
            The lender can lend out tokens at a set interest rate and repayment term. In addition to
            earning interest, you may have the opportunity to buy NFTs at discounted prices.
          </p>
          <p>
            The interest begins accruing as soon as the NFT lister chooses to borrow from your
            deposited tokens.
          </p>
          <div class="modal-action">
            <label for="modal-lend" class="btn">Understood</label>
          </div>
        </div>
      </div>
      <p class="text-gray-700 text-base mb-4">
        Set a deposit for NFT bidding and lend tokens to NFT owners.
      </p>

      <button class="btn btn-accent btn-outline w-full" routerLink="lenders/lender">
        <span>Lending Status</span>
      </button>

      <button class="btn btn-primary btn-outline w-full" routerLink="lenders">
        <mat-icon class="mr-2">monetization_on</mat-icon>
        <span>Go to Lend</span>
      </button>
    </div>
  </div>

  <div class="card bg-white shadow-xl rounded-lg overflow-hidden w-full m-2 md:w-5/12 lg:w-1/3">
    <img
      alt="Borrower"
      src="https://img.freepik.com/free-vector/mobile-banking-return-money-from-purchases-conduct-financial-transactions-remotely-with-mobile-device-vector-isolated-concept-metaphor-illustration_335657-2799.jpg"
      class="w-full h-64 object-cover"
    />
    <div class="card-body h-full">
      <h2 class="card-title text-black">
        Borrow Tokens against your Collateralized NFT
        <!-- The button to open modal -->
        <label for="modal-borrow" class="label-text cursor-pointer">
          <mat-icon class="text-black">help</mat-icon>
        </label>
      </h2>
      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="modal-borrow" class="modal-toggle" />
      <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="font-bold text-lg">What is the Borrower?</h3>
          <p>
            You can list an NFT and choose to borrow tokens from the bidder. You can also choose to
            sell the NFT directly to the bidder.
          </p>
          <p>In the case that loan repayment is late, the NFT will be automatically liquidated.</p>
          <div class="modal-action">
            <label for="modal-borrow" class="btn">Understood</label>
          </div>
        </div>
      </div>
      <p class="text-gray-700 text-base mb-4">
        List NFT, received funds from the bidders and borrow tokens.
      </p>

      <button class="btn btn-secondary btn-outline w-full" routerLink="borrowers/borrower">
        <mat-icon class="mr-2">add_photo_alternate</mat-icon>
        <span>Go to borrow</span>
      </button>
    </div>
  </div>
</div>
