<h2 class="mb-0">NFT-Backed Loan</h2>
<div class="flex justify-center">
  <div class="max-w-full text-base-content">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title break-all">Borrow Tokens on the Security of NFT</h2>
        <p>
          You can list an NFT and borrow Tokens from a bidder. You can also sell the NFT directly to
          the bidder.
        </p>
        <p>In case of late repayment, the NFT will be automatically liquidated.</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" routerLink="borrowers/borrower">
            <mat-icon>add_photo_alternate</mat-icon>
            <span class="ml-2">Join as a Borrower</span>
          </button>
          <!-- The button to open modal -->
          <label for="modal-deposit" class="btn">Read more</label>
          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="modal-deposit" class="modal-toggle" />
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="font-bold text-lg">NFT-Backed Loan Borrow</h3>
              <p class="py-4">Coming soon!</p>
              <div class="modal-action">
                <label for="modal-deposit" class="btn">Understood</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title break-all">Lend your Tokens to NFT Holder</h2>
        <p>
          You can lend your Tokens at a set interest rate and repayment term. In addition to earning
          interest rates, you may be able to buy NFTs at lower prices.
        </p>
        <p>The Interest is charged from the time the NFT seller borrows from your deposit.</p>
        <div class="card-actions justify-end">
          <button class="btn btn-secondary" routerLink="lenders">
            <mat-icon>monetization_on</mat-icon>
            <span class="ml-2">Join as a Lender</span>
          </button>
          <!-- The button to open modal -->
          <label for="modal-deposit" class="btn">Read more</label>
          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="modal-deposit" class="modal-toggle" />
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box text-base-content">
              <h3 class="font-bold text-lg">NFT-Backed Loan Lend</h3>
              <p class="py-4">Coming soon!</p>
              <div class="modal-action">
                <label for="modal-deposit" class="btn">Understood</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- To do: Update Query & show overview -->
    <!-- <mat-card class="mb-4 mat-elevation-z8">
      <mat-card-title>Overview</mat-card-title>
      <mat-list>
        <mat-list-item>
          <span class="break-all truncate pr-4">Average Interest Rate:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">%</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">24h Volume:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">GUU</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">24h Total Interest:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">GUU</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">Now Listing NFTs:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">{{ listedNfts?.length }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="break-all truncate pr-4">Total Deposits:</span>
          <span class="flex-auto"></span>
          <span class="break-all truncate">GUU</span>
        </mat-list-item>
      </mat-list>
    </mat-card> -->
  </div>
</div>
