<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title font-mono">{{ address }}</h2>

    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Provider Name</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let verification of verifications">
            <tr>
              <td>
                {{ findProvider(verification.provider_id)?.name }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
