<div class="card bg-base-100 shadow-xl overflow-y-auto">
  <div class="card-body">
    <div class="card-actions justify-end md:hidden">
      <button class="btn btn-square btn-ghost btn-sm">
        <span class="material-symbols-outlined" (click)="onClickClose()">close</span>
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
      <div class="font-bold text-xl m-3">Vote to this proposal</div>
    </div>

    <ul class="menu w-full">
      <li class="disabled">
        <a class="text-base-content"> # {{ proposal?.id }} {{ proposal?.title }} </a>
      </li>
    </ul>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Voter</span>
      </label>
      <ul class="menu bg-base-100">
        <li class="disabled">
          <a class="text-base-content items-center font-mono">
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ color: getColorCode(currentStoredWallet?.address!) }"
            >
              circle
            </span>
            {{ currentStoredWallet?.address }}
          </a>
        </li>
      </ul>
    </div>

    <!-- <h3 class="pt-3">Gas Settings</h3>
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Gas Ratio</span>
      </label>
      <input
        name="gas-ratio"
        type="number"
        placeholder="Type here"
        class="input input-bordered input-sm w-full"
        [(ngModel)]="gasRatio"
        required
      />
    </div>
    <div class="btn-group w-full mt-2">
      <label class="btn flex-auto" [class.btn-active]="gasRatio === 0" (click)="changeGasRatio(0)"
        >Low</label
      >
      <label
        class="btn flex-auto"
        [class.btn-active]="gasRatio === 1.1"
        (click)="changeGasRatio(1.1)"
        >Middle</label
      >
      <label class="btn flex-auto" [class.btn-active]="gasRatio === 2" (click)="changeGasRatio(2)"
        >High</label
      >
    </div>

    <div
      tabindex="0"
      class="collapse collapse-arrow rounded-box bg-base-200 text-base-content mt-2"
    >
      <input type="checkbox" class="peer" />
      <div class="collapse-title flex items-center">
        <div class="text-xl flex-auto">Advanced</div>
        <div class="flex-auto text-sm">Change Default Gas Price</div>
      </div>
      <div class="collapse-content">
        <div class="flex flex-col content-content lg:flex-row">
          <div class="form-control flex-auto">
            <label class="label">
              <span class="label-text">Minimum Gas Denom</span>
            </label>
            <select
              class="select select-bordered select-sm"
              [(ngModel)]="selectedGasPrice && selectedGasPrice.denom"
              name="minimum-gas-denom"
              required
              (ngModelChange)="onMinimumGasDenomChanged($event)"
            >
              <option
                *ngFor="let minimumGasPriceOption of minimumGasPrices"
                [value]="minimumGasPriceOption.denom"
              >
                {{ minimumGasPriceOption.denom }}
              </option>
            </select>
          </div>
          <div class="form-control flex-auto">
            <label class="label">
              <span class="label-text">Minimum Gas Price</span>
            </label>
            <input
              #minimumGasPriceRef
              name="minimum-gas-price"
              type="number"
              placeholder="Type here"
              class="input input-bordered input-sm"
              [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
              [min]="0"
              required
            />
          </div>
        </div>
        <input
          name="minimum-gas-price-slider"
          class="range range-secondary w-full mt-4"
          type="range"
          max="1"
          min="0"
          step="0.015"
          value="0.015"
          [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
        />
      </div>
    </div> -->

    <button class="btn btn-success btn-block btn-sm mt-2" (click)="onSubmitYes()">
      <span class="material-symbols-outlined">thumb_up</span>
      &nbsp;&nbsp;Yes
    </button>

    <button class="btn btn-warning btn-block btn-sm" (click)="onSubmitNo()">
      <span class="material-symbols-outlined">thumb_down</span>
      &nbsp;&nbsp;No
    </button>

    <button class="btn btn-error btn-block btn-sm" (click)="onSubmitNoWithVeto()">
      <span class="material-symbols-outlined">not_interested</span>
      &nbsp;&nbsp;No with Veto
    </button>

    <button class="btn btn-primary btn-sm" (click)="onSubmitAbstain()">
      <span class="material-symbols-outlined">subtitles_off</span>
      &nbsp;&nbsp;Abstain
    </button>
  </div>
</div>
