<div class="card bg-base-100 shadow-xl overflow-y-auto max-h-screen">
  <div class="flex flex-col items-end md:hidden">
    <button mat-icon-button class="mt-2 mr-2" (click)="onClickClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="card-body">
    <p>ununifi-backup-private-key-wizard-dialog works!</p>
    <div>
      <div class="flex flex-col items-center">
        <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
        <div class="font-bold text-xl m-3">Connect Your Wallet</div>
        <div class="text-base m-3">Start earning high yield on your crypto</div>
        <ul class="steps py-4">
          <li
            *ngFor="let stepText of steps; index as i"
            class="step {{ i <= step ? 'step-primary' : '' }}"
          >
            {{ stepText }}
          </li>
        </ul>
        <ng-container *ngIf="step === 0">
          <button class="btn btn-secondary btn-wide" (click)="savePrivateKey()">Download</button>
        </ng-container>
        <ng-container *ngIf="step === 1">
          <form #formRef="ngForm" (submit)="checkSavedPrivateKey(inputPrivateKey)">
            <div class="form-control w-full">
              <div class="label">
                <span class="label-text">Input Private key</span>
              </div>
              <div class="inline-flex items-center">
                <input
                  name="privateKey"
                  class="input input-bordered input-sm w-full"
                  [type]="isPasswordVisible ? 'text' : 'password'"
                  [(ngModel)]="inputPrivateKey"
                  required
                />
                <label class="swap">
                  <input type="checkbox" (change)="togglePasswordVisibility()" />
                  <div class="swap-on btn btn-sm btn-ghost">
                    <span class="material-icons">visibility</span>
                  </div>
                  <div class="swap-off btn btn-sm btn-ghost">
                    <span class="material-icons">visibility_off</span>
                  </div>
                </label>
              </div>
            </div>
            <div class="mt-2">
              <button class="btn btn-secondary w-full" color="accent">Check</button>
            </div>
          </form>
        </ng-container>
        <form class="w-full py-4" (submit)="next()">
          <div class="flex justify-end">
            <button class="btn btn-ghost" type="button" (click)="back()" *ngIf="step !== 0">
              Back
            </button>
            <button
              class="btn btn-primary"
              type="submit"
              *ngIf="step <= steps.length - 1"
              [disabled]="(step === 0 && !saved) || (step === 1 && !checked)"
            >
              Next
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
