<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <h1 mat-dialog-title>Validators list</h1>

    <mat-list role="list">
      <mat-list-item class="node-list-item" *ngFor="let url of data.redirectUrls; let i = index">
        <a class="node-list-item flex justify-between items-center" [href]="url" target="_blank">
          <span>Node {{i + 1}}</span>
          <span class="material-icons" class="ml-2">open_in_new</span>
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div>
