<h3 class="mb-0 ml-2">Transactions</h3>
<mat-card>
  <ng-container
    *ngIf="txsWithPagination?.tx_responses === undefined || null; then empty; else exist"
  ></ng-container>
  <ng-template #empty></ng-template>
  <ng-template #exist>
    <mat-list>
      <mat-list-item>
        <span class="break-all truncate pl-4">Type</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">From</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">To</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">Total Amount</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">When</span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-nav-list>
      <ng-container *ngFor="let tx of txsWithPagination?.tx_responses; last as last">
        <mat-list-item routerLink="/txs/{{ tx.txhash }}">
          <span class="pr-4">{{ tx.logs?.[0]?.events?.[3]?.type }}</span>
          <span class="flex-auto"></span>
          <span
            class="w-1/5 break-all truncate"
            >{{ tx.logs?.[0]?.events?.[3]?.attributes?.[1]?.value }}</span
          >
          <span class="flex-auto"></span>
          <span
            class="w-1/5 break-all truncate"
            >{{tx.logs?.[0]?.events?.[3]?.attributes?.[0]?.value}}</span
          >
          <span class="flex-auto"></span>
          <span
            class="w-1/8 break-all truncate"
            >{{ tx.logs?.[0]?.events?.[3]?.attributes?.[2]?.value }}</span
          >
          <span class="flex-auto"></span>
          <span class="w-1/5 break-all">{{ tx.timestamp | date: 'yyyy-M-d a h:mm:ss z' }}</span>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </ng-template>
  <mat-paginator
    [length]="pageLength"
    [pageSize]="pageInfo ? pageInfo.pageSize : 5"
    [pageIndex]="pageInfo ? pageInfo.pageNumber - 1 : 0"
    [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
    (page)="onPaginationChange($event)"
  >
  </mat-paginator>
</mat-card>
