<div class="card bg-base-100 shadow-xl mb-4">
  <div class="card-body">
    <h2 class="card-title">Transactions</h2>
    <ng-container *ngIf="txsWithPagination === null; then loading; else loaded"></ng-container>
    <ng-template #loading>
      <p class="text-center">
        <span class="loading loading-ring loading-lg"></span>
      </p>
    </ng-template>
    <ng-template #loaded>
      <ng-container
        *ngIf="!txsWithPagination?.tx_responses?.length; then empty; else filled"
      ></ng-container>
      <ng-template #empty>
        <p class="ml-4">*This account has no transactions</p>
      </ng-template>
      <ng-template #filled>
        <table class="table w-full">
          <thead>
            <tr>
              <th>Block Height</th>
              <td>Tx Hash</td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let tx of txsWithPagination?.tx_responses"
              class="hover cursor-pointer"
              routerLink="{{ '/txs/' + tx.txhash }}"
            >
              <th>{{ tx.height }}</th>
              <td class="font-mono">{{ tx.txhash }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ng-template>
  </div>
</div>
