<h3>Proposals</h3>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <td>ID</td>
      <td>Status</td>
    </thead>
    <tbody>
      <ng-container *ngIf="(proposals?.proposals?.length || 0) > 0; else empty">
        <ng-container *ngFor="let proposal of proposals?.proposals">
          <tr>
            <td>
              <a routerLink="{{ proposal.proposal_id }}">{{ proposal.proposal_id }}</a>
            </td>
            <td>{{ proposal.status }}</td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-template #empty>
        <tr>
          <td colspan="2">There is no proposal.</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
