<div class="inline-flex items-center w-full">
  <div class="flex-row w-11/12">
    <form #form="ngForm" class="text-base mt-4 sm:mt-6">
      <mat-form-field appearance="fill" (submit)="onSubmitSearchResult()" class="w-full">
        <mat-label>Search</mat-label>
        <input
          #searchValueRef
          matInput
          id="searchValue"
          name="searchValue"
          [(ngModel)]="searchValue"
          [matAutocomplete]="auto"
          (ngModelChange)="onChangeInput(searchValueRef.value)"
          (focus)="onFocusInput(searchValueRef.value)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected()">
          <mat-option
            *ngIf="searchResult?.searchValue !== '' && searchResult?.type !== ''"
            [value]="searchResult?.searchValue"
          >
            {{ searchResult?.type }} = {{ searchResult?.searchValue }}
          </mat-option>
        </mat-autocomplete>
        <button
          mat-icon-button
          matSuffix
          [disabled]="searchResult?.searchValue === '' || searchResult?.type === ''"
          (click)="onSubmitSearchResult()"
        >
          <span class="material-icons">search</span>
        </button>
      </mat-form-field>
    </form>
  </div>
  <button class="flex-row gap-3" mat-button (click)="onConnectWallet()">
    <ng-container *ngIf="currentStoredWallet; then exist; else empty"></ng-container>
    <ng-template #exist>
      <span class="material-icons" [ngStyle]="{ color: getColorCode(currentStoredWallet!) }"
        >circle
      </span>
      <span class="hidden md:inline-block">{{ currentStoredWallet?.id }}</span>
    </ng-template>
    <ng-template #empty>
      <span class="material-icons">wallet</span>
      <span class="hidden md:inline-block">Connect Wallet</span>
    </ng-template>
  </button>
</div>
