<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li>Ecosystem-Incentive</li>
    </ul>
  </div>

  <div class="card bg-base-100 shadow-xl mb-8">
    <div class="card-body">
      <h2 class="card-title">Incentive Recipient</h2>
      <p>
        Rewards can be earned by creating a recipient with a set distribution of rewards and using
        them in front-end applications. Multiple addresses can be set to receive rewards.
      </p>
      <ng-container *ngIf="unitIds === null; then loading; else loaded"></ng-container>
      <ng-template #loading>
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      <ng-template #loaded>
        <ng-container *ngIf="!unitIds || unitIds.length === 0; then empty; else filled">
        </ng-container>
      </ng-template>

      <ng-template #empty> </ng-template>
      <ng-template #filled>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>Recipient Name</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover" *ngFor="let unitId of unitIds" routerLink="units/{{ unitId }}">
                <td>{{ unitId }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <div class="card-actions justify-end">
        <button class="btn btn-outline btn-info px-8" (click)="onClickCreate()">
          <span class="material-icons">add</span>
          <span>Register</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl mb-8">
    <div class="card-body">
      <h2 class="card-title">Rewards</h2>
      <ng-container *ngIf="rewards === null; then loadingReward; else loadedReward"></ng-container>
      <ng-template #loadingReward>
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      <ng-template #loadedReward>
        <ng-container *ngIf="!rewards || rewards.length === 0; then emptyReward; else filledReward">
        </ng-container>
      </ng-template>

      <ng-template #emptyReward>
        <p>There is no reward.</p>
      </ng-template>
      <ng-template #filledReward>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th>Reward</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="hover"
                *ngFor="let reward of rewards; let i = index"
                (click)="onClickReward(reward.denom)"
              >
                <th>#{{ i + 1 }}</th>
                <td>{{ reward | coin }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-actions justify-end">
          <button class="btn btn-outline btn-primary px-8" (click)="onClickAllRewards()">
            <span class="material-icons">add</span>
            <span>Withdraw All Rewards</span>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
