<h2 class="mb-4">Ecosystem-Incentive</h2>

<h3 class="mb-0 ml-2">Existing Incentive Tokens</h3>
<div class="flex flex-col">
  <mat-card class="mb-4">
    <mat-list>
      <ng-container *ngFor="let token of tokens; last as last">
        <mat-list-item routerLink="/incentive/{{ token.id }} }}">
          <span>{{ token.id }}</span>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card>

  <button class="mb-4" mat-flat-button color="accent">Create New Token</button>
</div>

<h3 class="mb-0 ml-2">Available Rewards</h3>
<mat-card class="mb-4">
  <mat-list>
    <mat-list-item *ngIf="rewards === null">
      <mat-spinner></mat-spinner>
    </mat-list-item>
    <mat-list-item *ngIf="rewards === undefined"> No Rewards! </mat-list-item>
    <ng-container *ngIf="rewards && rewards.length > 0">
      <mat-list-item *ngFor="let reward of rewards; last as last">
        <span class="whitespace-nowrap">reward</span>
        <span class="flex-auto"></span>
        <span class="ml2 break-all">{{ reward?.amount }} {{ reward?.denom }}</span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-card>
