<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Proposals</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Items per page</span>
      </label>
      <label class="input-group">
        <select
          class="select select-bordered w-20 sm:w-64"
          [(ngModel)]="pageSize"
          (change)="onPaginationChange()"
        >
          <option disabled selected>Select items amount</option>
          <ng-container *ngFor="let size of pageSizeOptions">
            <option [value]="size">{{ size }}</option>
          </ng-container>
        </select>
        <button class="btn" (click)="onPaginationChange(1)">«</button>
        <span>Page {{ pageNumber || 1 }}</span>
        <button class="btn" (click)="onPaginationChange(2)">»</button>
      </label>
      <label class="label">
        <span class="label-text-alt"
          >{{ calcItemsIndex().start }} - {{ calcItemsIndex().end }} of {{ pageLength }}items</span
        >
      </label>
    </div>
  </div>

  <ng-container *ngIf="proposals === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <p class="text-center">
      <span class="loading loading-dots loading-lg"></span>
    </p>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="(proposals?.length || 0) > 0; then exist; else empty"> </ng-container>
  </ng-template>

  <ng-template #exist>
    <div *ngFor="let proposal of proposals; let i = index" class="w-full mb-4">
      <div class="card bg-base-100 w-full shadow-xl">
        <div class="card-body">
          <span class="badge badge-primary">
            {{ proposal.status?.replace('PROPOSAL_STATUS_', '') }}
          </span>
          <h2 class="card-title break-all">
            #{{ proposal.proposal_id }} {{ getProposalTitle(proposal) }}
          </h2>
          <div class="divider m-0">Tallies</div>
          <div class="grid gap-3">
            <div class="flex items-center p-1 gap-2">
              <mat-icon class="w-8 text-success">thumb_up</mat-icon>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].yes }}"
                class="progress progress-success"
              ></progress>
            </div>
            <div class="flex items-center p-1 gap-2">
              <mat-icon class="w-8 text-warning">thumb_down</mat-icon>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].no }}"
                class="progress progress-warning"
              ></progress>
            </div>
            <div class="flex items-center p-1 gap-2">
              <mat-icon class="w-8 text-error">not_interested</mat-icon>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].noWithVeto }}"
                class="progress progress-error"
              ></progress>
            </div>
            <div class="flex items-center p-1 gap-2">
              <mat-icon class="w-8 text-primary">subtitles_off</mat-icon>
              <progress
                max="{{ tallies![i].max }}"
                value="{{ tallies![i].abstain }}"
                class="progress progress-primary"
              ></progress>
            </div>
          </div>
          <div class="card-actions justify-end">
            <button
              class="btn btn-outline btn-secondary w-full md:w-auto md:px-8 gap-2"
              (click)="onClickVote(proposal.proposal_id!)"
            >
              <mat-icon>how_to_vote</mat-icon>Vote
            </button>
            <button
              class="btn btn-outline btn-info w-full md:w-auto md:px-8"
              routerLink="{{ proposal.proposal_id }}"
            >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #empty>
    <p>There is no proposal.</p>
  </ng-template>
</div>
