<h2 class="mb-0">Yield Aggregator Dashboard</h2>
<div class="flex justify-center">
  <div class="w-full text-base-content">
    <ng-container *ngFor="let config of configs">
      <div class="card lg:card-side bg-base-100 shadow-xl mb-4">
        <div class="card-body">
          <h2 class="card-title break-all">{{ config.name }}</h2>
          <p style="white-space: pre-wrap">{{ config.description }}</p>
          <div class="card-actions justify-end" *ngIf="config.route === 'vaults'">
            <button class="btn btn-primary gap-2" routerLink="{{ config.route }}">
              <span class="material-icons">monetization_on</span>
              <span>Deposit</span>
            </button>
            <button class="btn btn-secondary gap-2" routerLink="{{ config.route }}/create">
              <span class="material-icons">create</span>
              <span>create</span>
            </button>
          </div>

          <div class="card-actions justify-end" *ngIf="config.route === 'strategies'">
            <form #formRef="ngForm" class="flex flex-row">
              <select
                required
                class="select select-bordered mr-2"
                [(ngModel)]="selectedSymbol"
                name="symbol"
                (change)="onChangeSymbol()"
              >
                <option [value]="undefined" disabled>Select a asset</option>
                <ng-container *ngFor="let symbol of availableSymbols">
                  <option [value]="symbol">{{ symbol }}</option>
                </ng-container>
              </select>
              <button
                class="btn btn-primary gap-2"
                [disabled]="formRef.invalid"
                routerLink="{{ config.route }}/{{ selectedDenom }}"
              >
                <span class="material-icons">explore</span>
                <span>View</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
