<h2 class="mb-0">Yield Aggregator Dashboard</h2>
<div class="flex justify-center">
  <div class="w-full text-base-content">
    <ng-container *ngFor="let config of configs">
      <div class="card lg:card-side bg-base-100 shadow-xl mb-4">
        <div class="card-body">
          <h2 class="card-title break-all">{{ config.name }}</h2>
          <p style="white-space: pre-wrap">{{ config.description }}</p>
          <div class="card-actions justify-end">
            <button
              *ngIf="config.route === 'vaults'"
              class="btn btn-primary"
              routerLink="{{ config.route }}"
            >
              <mat-icon>monetization_on</mat-icon>
              <span class="ml-2">Deposit</span>
            </button>
            <button
              *ngIf="config.route === 'vaults'"
              class="btn btn-secondary"
              routerLink="{{ config.route }}/create"
            >
              <mat-icon>create</mat-icon>
              <span class="ml-2">create</span>
            </button>
            <button
              *ngIf="config.route === 'strategies'"
              class="btn btn-primary"
              routerLink="{{ config.route }}"
            >
              <mat-icon>explore</mat-icon>
              <span class="ml-2">View</span>
            </button>
            <!-- The button to open modal -->
            <label class="btn"
              ><a
                href="https://cauchye.notion.site/Derivatives-Manual-8a1501a5b8cf49e9a39dc46d6e41a22e"
                target="_blank"
                >Read more</a
              ></label
            >
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="modal-deposit" class="modal-toggle" />
            <div class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                <h3 class="font-bold text-lg">Yield Aggregator</h3>
                <p class="py-4">Coming soon!</p>
                <div class="modal-action">
                  <label for="modal-deposit" class="btn">Understood</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- <h2 class="mb-0">Yield Aggregator Dashboard</h2>
<mat-card class="mb-4">
  <mat-card-title>Portfolio</mat-card-title>
  <mat-list>
    <mat-list-item>
      <span class="break-all truncate pr-4">Balance:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate">$</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="break-all truncate pr-4">Available to Deposit:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate">$</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="break-all truncate pr-4">Earnings:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate">$</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="break-all truncate pr-4">Vaults est. Yield:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate">$</span>
    </mat-list-item>
  </mat-list>
</mat-card>

<h3 class="mb-0 ml-4">Options</h3>
<mat-card class="mb-4">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Market</mat-label>
    <mat-select [(value)]="selectedConfig" (valueChange)="onChangeConfig($event)">
      <mat-option *ngFor="let conf of configs" [value]="conf">
        {{ conf.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card class="mb-4 mat-elevation-z8">
    <mat-card-title>{{ selectedConfig.name }}</mat-card-title>
    <mat-card-content>{{ selectedConfig.description }}</mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="break-all truncate pr-4">Holdings:</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">GUU</span>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item>
        <span class="break-all truncate pr-4">APY:</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">%</span>
      </mat-list-item>
    </mat-list>
    <div class="flex flex-row">
      <button
        class="w-1/3 mb-4"
        mat-flat-button
        color="primary"
        routerLink="{{ selectedConfig.route }}"
      >
        <mat-icon>list</mat-icon>
        <span>Vaults List</span>
      </button>
      <span class="flex-auto"></span>
      <button class="w-1/4 mb-4" mat-flat-button color="accent">
        <span>Read more</span>
      </button>
    </div>
  </mat-card>
</mat-card> -->
