<div class="drawer drawer-mobile w-screen h-screen">
  <input id="drawer-main" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col h-full overflow-auto">
    <!-- Navbar -->
    <div class="navbar glass sticky top-0 z-20">
      <div class="flex-none lg:hidden">
        <label for="drawer-main" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <button class="align-middle" mat-icon-button routerLink="/">
        <img class="p-1 w-10 h-10" src="assets/favicon.png" />
      </button>
      <div class="flex-1 px-2 mx-2 text-2xl">UnUniFi Portal</div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="btn gap-1 btn-ghost">
            <mat-icon class="mr-2">cloud</mat-icon>
            <span class="hidden md:inline">{{ selectedConfig }}</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li *ngFor="let conf of configs">
              <a (click)="onChangeConfig(conf)">{{ conf }}</a>
            </li>
          </ul>
        </div>
        <button class="btn gap-1 btn-ghost" (click)="onConnectWallet($event)">
          <ng-container *ngIf="currentStoredWallet; then exist; else empty"></ng-container>
          <ng-template #exist>
            <mat-icon
              matListIcon
              class="ml-3"
              [ngStyle]="{ color: getColorCode(currentStoredWallet!) }"
            >
              circle
            </mat-icon>
            <span class="hidden md:inline">{{ currentStoredWallet?.id }}</span>
          </ng-template>
          <ng-template #empty>
            <mat-icon color="primary" class="ml-3">wallet</mat-icon>
            <span class="hidden md:inline">Connect wallet</span>
          </ng-template>
        </button>
      </div>
    </div>
    <!-- Page content here -->
    <div class="bg-base-300 flex justify-center">
      <div class="w-full max-w-screen-xl p-8">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="drawer-side h-full overflow-auto">
    <label for="drawer-main" class="drawer-overlay"></label>
    <ul class="menu p-4 w-11/12 sm:w-3/4 md:2/3 lg:w-full bg-base-200">
      <!-- Sidebar content here -->
      <form #formRef="ngForm" (submit)="onSubmitSearchResult()">
        <div class="form-control">
          <div class="input-group">
            <input
              #searchValueRef
              id="searchValue"
              name="searchValue"
              [(ngModel)]="searchValue"
              [matAutocomplete]="auto"
              (ngModelChange)="onChangeInput(searchValueRef.value)"
              (focus)="onFocusInput(searchValueRef.value)"
              class="input input-bordered"
            />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected()">
              <mat-option
                *ngIf="searchResult?.searchValue !== '' && searchResult?.type !== ''"
                [value]="searchResult?.searchValue"
              >
                {{ searchResult?.type }} = {{ searchResult?.searchValue }}
              </mat-option>
            </mat-autocomplete>
            <button
              class="btn btn-square"
              [disabled]="searchResult?.searchValue === '' || searchResult?.type === ''"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </form>
      <li>
        <a class="flex gap-4" routerLink="/">
          <span class="flex-none">
            <mat-icon color="primary">other_houses</mat-icon>
          </span>
          <span class="flex-1">Balance</span>
        </a>
      </li>
      <li>
        <a class="flex gap-4" routerLink="/vote/proposals">
          <span class="flex-none">
            <mat-icon color="primary">how_to_vote</mat-icon>
          </span>
          <span class="flex-1">Vote</span>
        </a>
      </li>
      <li>
        <a class="flex gap-4" routerLink="/delegate/validators">
          <span class="flex-none">
            <mat-icon color="primary">savings</mat-icon>
          </span>
          <span class="flex-1">Delegate</span>
        </a>
      </li>
      <li>
        <a class="flex gap-4" routerLink="/incentive">
          <span class="flex-none">
            <mat-icon color="primary">attach_money</mat-icon>
          </span>
          <span class="flex-1">Incentive</span>
        </a>
      </li>
      <li>
        <a class="flex gap-4" routerLink="/derivatives">
          <span class="flex-none">
            <mat-icon color="primary">show_chart</mat-icon>
          </span>
          <span class="flex-1">Derivatives</span>
        </a>
      </li>
      <ng-template ngFor let-navigation [ngForOf]="navigations">
        <ng-container *ngIf="navigation?.name && navigation?.link">
          <li>
            <a class="flex gap-4" routerLink="{{ navigation.link.replace('/portal', '') }}">
              <span class="flex-none">
                <mat-icon color="accent">{{ navigation.icon }}</mat-icon>
              </span>
              <span class="flex-1">{{ navigation.name }}</span>
            </a>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>
