@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #020202;
    /* height: 200vh; */
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
}
*{
    color: #fff;
    text-overflow:clip;
    word-wrap: break-word;
}
.bannerAndIntro{
    width: 100%;
    /* height:300vh; */
    background: url('./assets/bg1.png'), #150339;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-link{
    color: #fff !important;
    padding-left: 0;
    padding-bottom: 0;
}
.navbar-toggler{
    z-index: 1000000 !important;
}
.mobile-nav{
    position: fixed;
    z-index: 1000 !important;
    width: 100%;
    top: 0;
    left: 0%;
    background-color: #FF3DB0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.active{
    position:relative;
}
.active::after{
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-10%);


}
.banner{
    position: relative;
}
.man{
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 20%;
}
.star{
    display: block !important;
    position: absolute !important;
    left: 5% !important;
    top: 20% !important;
    width: 60px;
}
.star2{
    display: block !important;
    position: absolute !important;
    left: 70% !important;
    top: 7% !important;
    width: 25px;
}
.arrows{
    display: block !important;
    position: absolute !important;
    right: 10% !important;
    bottom: 5% !important;
    width: 40px;
}
.btn{
    border: 1px solid !important;
    color:  #fff !important;
    background:transparent padding-box, linear-gradient(180deg, #FF3DB0 0%, #932064 100%) border-box !important;
}
.bold{
    font-weight: 700 !important;
    font-size: 3.438rem;
}
.pink{
    color: #FF3DB0 !important;
}
.pin{
    color: #CC00FF !important;
}
.lightItalic{
    font-weight: 400 !important;
    font-style: italic;
}
.bannerParagraph{
    font-size: 20px;
}
.btnLaunch{
    display: block;
    border: 1px solid;
    background: linear-gradient(266.02deg, #A237FF 13.55%, #BF78FE 90.18%);
    width: 150px;
    font-weight: 700;


}
.join{
    background-image: url('./assets/Group10.png');
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ellipse1{
    background-color: #FF3DB0;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ellipse2{
    border: solid 1px #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.ellipse3{
    border: solid 1px #fff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}
.ellipse4{
    background-color: #A237FF;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.joinAndPartners{
    position: relative;
}
.blur{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
}
footer{
    border-top:solid 5px #3E3E65;
}

@media screen and (max-width:426px) {
    .bold{
        font-size: 2.2rem !important;
    }
    .bannerParagraph{
        font-size: 1rem;
    }
}