<div class="drawer lg:drawer-open w-screen h-screen bg-base-300">
  <input id="drawer-main" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-full overflow-auto">
    <!-- Navbar -->
    <div class="navbar glass sticky top-0 z-20">
      <div class="flex-none lg:hidden">
        <label for="drawer-main" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <button class="align-middle" mat-icon-button routerLink="/">
        <img class="p-1 w-10 h-10" src="assets/favicon.png" />
      </button>
      <div class="flex-1 mx-2 text-2xl">
        <div class="hidden xl:block pr-2">UnUniFi</div>
        <div>Portal</div>
      </div>
      <div class="flex-none">
        <app-app-tool class="hidden sm:block"></app-app-tool>
        <app-node-tool></app-node-tool>
        <app-wallet-tool></app-wallet-tool>
      </div>
    </div>
    <!-- Page content here -->
    <div class="w-full max-w-screen-xl mx-auto p-8">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="drawer-side h-full overflow-auto">
    <label for="drawer-main" class="drawer-overlay"></label>
    <ul class="menu p-4 w-11/12 sm:w-3/4 md:2/3 lg:w-full h-full bg-base-200">
      <!-- Sidebar content here -->
      <app-search-tool class="w-full"></app-search-tool>
      <li class="menu-title">
        <span>Utilities</span>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/">
          <span class="flex-none">
            <mat-icon color="primary">other_houses</mat-icon>
          </span>
          <span class="flex-1">Balance</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/utilities/send">
          <span class="flex-none">
            <mat-icon color="primary">send</mat-icon>
          </span>
          <span class="flex-1">Send Token</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/utilities/vote/proposals">
          <span class="flex-none">
            <mat-icon color="primary">how_to_vote</mat-icon>
          </span>
          <span class="flex-1">Vote</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/utilities/delegate/validators">
          <span class="flex-none">
            <mat-icon color="primary">savings</mat-icon>
          </span>
          <span class="flex-1">Delegate</span>
        </label>
      </li>
      <!-- <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/utilities/incentive">
          <span class="flex-none">
            <mat-icon color="primary">attach_money</mat-icon>
          </span>
          <span class="flex-1">Incentive</span>
        </label>
      </li> -->

      <li class="menu-title" *ngIf="apps.length">
        <span>Apps</span>
      </li>
      <ng-container *ngFor="let app of apps">
        <li *ngIf="app.name !== 'Utilities'">
          <label for="drawer-main" class="flex gap-4" routerLink="{{ app.link }}">
            <span class="flex-none">
              <mat-icon color="primary">{{ app.icon }}</mat-icon>
            </span>
            <span class="flex-1">{{ app.name }}</span>
          </label>
        </li>
      </ng-container>

      <li class="menu-title" *ngIf="navigations?.length">
        <span>Testnet</span>
      </li>
      <ng-template ngFor let-navigation [ngForOf]="navigations">
        <ng-container *ngIf="navigation?.name && navigation?.link">
          <li>
            <label
              for="drawer-main"
              class="flex gap-4"
              routerLink="/utilities{{ navigation.link.replace('/portal', '') }}"
            >
              <span class="flex-none">
                <mat-icon color="accent">{{ navigation.icon }}</mat-icon>
              </span>
              <span class="flex-1">{{ navigation.name }}</span>
            </label>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>
