<div class="mx-auto max-w-screen-xl">
  <ng-container *ngFor="let config of configs">
    <div class="card lg:card-side bg-base-100 shadow-xl rounded-lg mb-8">
      <figure class="aspect-square lg:w-1/4">
        <img src="{{ config.image }}" />
      </figure>
      <div class="card-body lg:w-3/4">
        <h2 class="card-title break-all">{{ config.name }}</h2>
        <p class="m-4" style="white-space: pre-wrap">{{ config.description }}</p>
        <div class="stats">
          <div class="stat" *ngIf="config.name === 'Vaults'">
            <div class="stat-title">Available Vaults</div>
            <div class="stat-value" *ngIf="vaults === null">
              <div class="animate-pulse bg-slate-700 w-32 h-12 rounded-full"></div>
            </div>
            <div class="stat-value text-info">{{ vaults?.length }}</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat" *ngIf="config.name === 'Strategies'">
            <div class="stat-title">Available Strategies</div>
            <div class="stat-value" *ngIf="strategies === null">
              <div class="animate-pulse bg-slate-700 w-32 h-12 rounded-full"></div>
            </div>
            <div class="stat-value text-info">{{ strategies?.length }}</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <div class="card-actions justify-end" *ngIf="config.route === 'vaults'">
          <button
            class="btn btn-secondary btn-outline gap-2"
            routerLink="{{ config.route }}/create"
          >
            <span class="material-symbols-outlined">create</span>
            <span>create</span>
          </button>
          <button class="btn btn-primary gap-2 lg:px-8" routerLink="{{ config.route }}">
            <span class="material-symbols-outlined">monetization_on</span>
            <span>Deposit</span>
          </button>
        </div>

        <div class="card-actions justify-end" *ngIf="config.route === 'strategies'">
          <form #formRef="ngForm" class="flex flex-row">
            <button class="btn btn-primary gap-2" [routerLink]="[config.route]">
              <span class="material-symbols-outlined">explore</span>
              <span>View</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</div>
