<div class="drawer w-screen h-screen bg-base-300" data-theme="business">
  <div class="drawer-content flex flex-col min-h-full overflow-auto">
    <!-- Navbar -->
    <div class="navbar glass sticky top-0 z-20">
      <button class="align-middle md:ml-10" mat-icon-button routerLink="/">
        <img class="p-1 w-10 h-10" src="assets/favicon.png" />
      </button>
      <div class="flex-1 px-2 mx-2 text-2xl">UnUniFi Derivatives</div>
      <div class="flex-none">
        <app-app-tool></app-app-tool>
        <app-node-tool></app-node-tool>
        <app-wallet-tool></app-wallet-tool>
      </div>
    </div>
    <!-- Page content here -->
    <div class="w-full max-w-screen-xl mx-auto p-8">
      <ng-content></ng-content>
    </div>
  </div>
</div>
