<div class="mx-auto max-w-screen-xl w-full p-8">
  <div class="card lg:card-side bg-base-100 shadow-xl rounded-lg mb-8">
    <div class="card-body lg:w-3/4">
      <h2 class="card-title break-all">Interest Rate Swap Vault</h2>
      <P>
        UnUniFi Interest Rate Swap Vault provides fixed-rate asset management through the issuance
        of zero-coupon bonds.
      </P>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-outline gap-2" routerLink="simple-vaults">
          <span class="material-symbols-outlined">folder</span>
          <span>View Vaults</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card lg:card-side bg-base-100 shadow-xl rounded-lg mb-8">
    <div class="card-body lg:w-3/4">
      <h2 class="card-title break-all">Liquidity Pools</h2>
      <P>
        UnUniFi Interest Rate Swap Liquidity Pools for a fixed rate vault. Interest can be earned by
        depositing funds into the pool.
      </P>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-outline gap-2" routerLink="simple-pools">
          <span class="material-symbols-outlined">pool</span>
          <span>View Pools</span>
        </button>
      </div>
    </div>
  </div>
</div>
