<ng-container *ngIf="txSignature">
  <h3 class="mb-0 ml-2 font-medium">Signatures</h3>

  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <span class="badge badge-info"> {{ txSignature.type }} </span>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>Public Key</th>
            <td class="font-mono">
              {{ txSignature.publicKey }}
            </td>
          </tr>
          <tr>
            <th>Address</th>
            <td class="font-mono">
              {{ txSignature.accAddress }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
