<ng-container *ngIf="txDetail">
  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <span class="badge badge-info"> {{ txDetail.txType }} </span>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>Validator address</th>
            <td class="font-mono">
              {{ txDetail.toAddress }}
            </td>
          </tr>
          <tr>
            <th>Delegator address</th>
            <td class="font-mono">
              {{ txDetail.fromAddress }}
            </td>
          </tr>
          <tr>
            <th>Minimum self delegate</th>
            <td>
              {{ txDetail.minimumSelfDelegation }}
            </td>
          </tr>
          <tr>
            <th>Commission rate</th>
            <td>
              {{ txDetail.commission?.rate | percent : '1.2-2' }}
            </td>
          </tr>
          <tr>
            <th>Max Commission rate</th>
            <td>
              {{ txDetail.commission?.max_change_rate | percent : '1.2-2' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <mat-card class="mb-2">
    <mat-chip-list>
      <mat-chip color="primary" selected> {{ txDetail.txType }} </mat-chip>
    </mat-chip-list>
    <mat-list>
      <mat-list-item>
        <span class="break-words">Validator address:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.toAddress }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Delegator address:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.fromAddress }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Minimum self delegate:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{
          txDetail.minimumSelfDelegation
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Commission rate:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{
          txDetail.commission?.rate | percent
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Max commission rate:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{
          txDetail.commission?.max_rate | percent
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Max commission change rate:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{
          txDetail.commission?.max_change_rate | percent
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Moniker:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.description?.moniker }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Identity:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{
          txDetail.description?.identity
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Details:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.description?.details }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Contact:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{
          txDetail.description?.security_contact
        }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
    <mat-nav-list>
      <mat-list-item>
        <span class="break-words">Website:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">
          <a target="_blank" rel="noopener noreferrer" href="{{ txDetail.description?.website }}">{{
            txDetail.description?.website
          }}</a>
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</ng-container>
