<view-vault
  [contractAddress]="contractAddress$ | async"
  [tranches]="tranches$ | async"
  [vaultDetails]="vaultDetails$ | async"
  [estimateMintPt]="estimateMintPt$ | async"
  [estimateRedeemPt]="estimateRedeemPt$ | async"
  [estimateMintPtYt]="estimateMintPtYt$ | async"
  [estimatePtRedeemPtYt]="estimatePtRedeemPtYt$ | async"
  [estimateRequiredUtMintYt]="estimateRequiredUtMintYt$ | async"
  [estimateRedeemMaturedYt]="estimateRedeemMaturedYt$ | async"
  (appMintPT)="onMintPT($event)"
  (appChangeMintPT)="onChangeMintPT($event)"
  (appRedeemPT)="onRedeemPT($event)"
  (appChangeRedeemPT)="onChangeRedeemPT($event)"
  (appMintPTYT)="onMintPTYT($event)"
  (appChangeMintPTYT)="onChangeMintPTYT($event)"
  (appRedeemPTYT)="onRedeemPTYT($event)"
  (appChangeRedeemPTYT)="onChangeRedeemPTYT($event)"
  (appMintYT)="onMintYT($event)"
  (appChangeMintYT)="onChangeMintYT($event)"
  (appRedeemYT)="onRedeemYT($event)"
  (appChangeRedeemYT)="onChangeRedeemYT($event)"
></view-vault>
