<view-vault
  [contractAddress]="contractAddress$ | async"
  [vault]="vault$ | async"
  [trancheId]="trancheId$ | async"
  [tranchePool]="tranchePool$ | async"
  [tranchePtAPYs]="tranchePtAPYs$ | async"
  [trancheYtAPYs]="trancheYtAPYs$ | async"
  [actualPtAPYs]="actualPtAPYs$ | async"
  [actualYtAPYs]="actualYtAPYs$ | async"
  [denomBalancesMap]="denomBalancesMap$ | async"
  [ptDenom]="ptDenom$ | async"
  [ytDenom]="ytDenom$ | async"
  [swapTab]="swapTab$ | async"
  [vaultImage]="vaultImage$ | async"
  [estimateMintPt]="estimateMintPt$ | async"
  [estimateRedeemPt]="estimateRedeemPt$ | async"
  [estimateMintPtYt]="estimateMintPtYt$ | async"
  [estimateRedeemPtYt]="estimateRedeemPtYt$ | async"
  [estimateRequiredUtForYt]="estimateRequiredUtForYt$ | async"
  [estimateRedeemMaturedYt]="estimateRedeemMaturedYt$ | async"
  [totalLiquidityUSD]="totalLiquidityUSD$ | async"
  (appMintPT)="onMintPT($event)"
  (appChangeMintPT)="onChangeMintPT($event)"
  (appRedeemPT)="onRedeemPT($event)"
  (appChangeRedeemPT)="onChangeRedeemPT($event)"
  (appMintPTYT)="onMintPTYT($event)"
  (appChangeMintPTYT)="onChangeMintPTYT($event)"
  (appRedeemPTYT)="onRedeemPTYT($event)"
  (appChangeRedeemPTYT)="onChangeRedeemPTYT($event)"
  (appMintYT)="onMintYT($event)"
  (appChangeMintYT)="onChangeMintYT($event)"
  (appRedeemYT)="onRedeemYT($event)"
  (appChangeRedeemYT)="onChangeRedeemYT($event)"
></view-vault>
