<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap items-end mb-4">
    <h2>Validators</h2>
    <span class="flex-auto"></span>
    <div class="btn-group">
      <label
        class="btn btn-outline w-1/2"
        [class.btn-active]="active"
        (click)="onToggleActive(true)"
      >
        Active
      </label>
      <label
        class="btn btn-outline w-1/2"
        [class.btn-active]="!active"
        (click)="onToggleActive(false)"
      >
        Inactive
      </label>
    </div>
  </div>
  <ng-container *ngIf="validators === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <span class="loading loading-dots loading-lg"></span>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="(validators?.length || 0) > 0; then exist; else empty"> </ng-container>
  </ng-template>
  <ng-template #exist>
    <div class="overflow-x-auto mb-8">
      <table class="table w-full">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <td>Validator</td>
            <td>Voting Power</td>
            <td>Tokens</td>
            <td>Commission</td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let validator of validators">
            <tr class="hover cursor-pointer" routerLink="{{ validator.val.operator_address }}">
              <th>
                <mat-icon
                  matListIcon
                  [ngStyle]="{ color: getColorCode(validator.val.operator_address ?? '') }"
                >
                  circle
                </mat-icon>
              </th>
              <td>{{ validator.val.description?.moniker }}</td>
              <td>{{ validator.share | percent : '1.2-2' }}</td>
              <td>
                {{ validator.val.tokens | coinAmount }}
              </td>
              <td>
                {{ validator.val.commission?.commission_rates?.rate | percent : '1.0-0' }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #empty>
    <p class="m-16">There is no validators.</p>
  </ng-template>
</div>
