<div class="flex flex-row items-center">
  <h2 class="mb-0">Block #{{ block?.block?.header?.height }}</h2>
  <span class="flex-auto"></span>
  <button class="btn btn-circle" routerLink="/blocks/{{ previousBlock }}" class="mr-4">
    <mat-icon color="primary"> navigate_before </mat-icon>
  </button>
  <button routerLink="/blocks/{{ nextBlock }}">
    <mat-icon color="primary"> navigate_next </mat-icon>
  </button>
</div>
<h3 class="my-2">Block details</h3>
<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <!-- <h2 class="card-title"></h2> -->
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tr>
          <th>Block Height</th>
          <td>{{ block?.block?.header?.height }}</td>
        </tr>
        <tr>
          <th>Block Time</th>
          <td>{{ block?.block?.header?.time | date : 'yyyy-MM-dd a hh:mm:ss z' }}</td>
        </tr>
        <tr>
          <th>Block Hash</th>
          <td>{{ block?.block_id?.hash }}</td>
        </tr>
        <tr>
          <th>Block Proposer</th>
          <td>{{ block?.block?.header?.proposer_address }}</td>
        </tr>
        <tr>
          <th>Block Transactions</th>
          <td>{{ block?.block?.data?.txs?.length }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<h3 class="my-2">Transactions</h3>
<mat-card class="mb-2">
  <mat-list>
    <mat-list-item>
      <span class="w-4/12 truncate pl-2">Hash</span>
      <span class="w-4/12 truncate pl-2">Type</span>
      <span class="w-4/12 truncate pl-2">From</span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <ng-container
    *ngIf="
      (transactions?.tx_responses?.length || 0) > 0;
      then existTransactions;
      else emptyTransactions
    "
  >
  </ng-container>

  <ng-template #emptyTransactions>
    <span>*No Transactions</span>
  </ng-template>

  <ng-template #existTransactions>
    <mat-nav-list>
      <mat-list-item
        routerLink="/txs/{{ tx.txhash }}"
        *ngFor="let tx of transactions?.tx_responses; let i = index; last as last"
      >
        <span class="w-4/12 truncate text-sm">{{ tx.txhash }}</span>
        <span class="w-4/12 truncate text-sm pl-2">{{ txTitles?.[i]?.txType }}</span>
        <span class="w-4/12 truncate text-sm pl-2">{{ txTitles?.[i]?.fromAddress }}</span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </ng-template>
</mat-card>
