<div class="flex flex-row items-end">
  <h2 class="mb-0">Block #{{ block?.block?.header?.height }}</h2>
  <span class="flex-auto"></span>
  <mat-icon routerLink="/blocks/{{ previousBlock }}" class="mr-4" color="primary"
    >navigate_before</mat-icon
  >
  <mat-icon routerLink="/blocks/{{ nextBlock }}" class="mr-2" color="primary"
    >navigate_next</mat-icon
  >
</div>
<h3 class="ml-4 mb-0">Block details</h3>
<mat-card class="mb-4">
  <mat-list>
    <mat-list-item>
      <span class="whitespace-nowrap">Time:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">
        {{ block?.block?.header?.time | date: 'yyyy-M-d a h:mm:ss z' }}
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">Height:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">{{ block?.block?.header?.height }}</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">Number of Transactions:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">{{ block?.block?.data?.txs?.length }}</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">BlockHash:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{ block?.block_id?.hash }}</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">Proposer:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{
        block?.block?.header?.proposer_address
      }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>

<h3 class="mb-0 ml-4">Transactions</h3>
<mat-card class="mb-2">
  <mat-list>
    <mat-list-item>
      <span class="w-4/12 truncate pl-2">Hash</span>
      <span class="w-4/12 truncate pl-2">Type</span>
      <span class="w-4/12 truncate pl-2">From</span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <ng-container
    *ngIf="
      (transactions?.tx_responses?.length || 0) > 0;
      then existTransactions;
      else emptyTransactions
    "
  >
  </ng-container>

  <ng-template #emptyTransactions>
    <span>*No Transactions</span>
  </ng-template>

  <ng-template #existTransactions>
    <mat-nav-list>
      <mat-list-item
        routerLink="/txs/{{ tx.txhash }}"
        *ngFor="let tx of transactions?.tx_responses; let i = index; last as last"
      >
        <span class="w-4/12 truncate text-sm">{{ tx.txhash }}</span>
        <span class="w-4/12 truncate text-sm pl-2">{{ txTitles?.[i]?.txType }}</span>
        <span class="w-4/12 truncate text-sm pl-2">{{ txTitles?.[i]?.fromAddress }}</span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </ng-template>
</mat-card>

<!--
<h3>Msgs</h3>
<ng-template ngFor let-message [ngForOf]="tx?.tx?.body?.messages">
  <ng-container *ngIf="unpackMsg(message) as msg">
    <mat-card>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Type: </span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all">{{ constructorName(msg) }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <ng-template ngFor let-data [ngForOf]="entries(msg)" let-last="last">
          <mat-list-item>
            <span class="whitespace-nowrap">{{ data[0] }}</span>
            <span class="flex-auto"></span>
            <span class="ml-2 break-all text-xs sm:text-base">{{ data[1] | json }}</span>
          </mat-list-item>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-list>
    </mat-card>
  </ng-container>
</ng-template>
-->
