<mat-nav-list>
  <div class="flex flex-row">
    <h3 matSubheader>Keys</h3>
    <span class="flex-auto"></span>
    <button mat-flat-button routerLink="create" color="accent">
      <span class="material-icons">add</span>
      <span>Create</span>
    </button>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="keys === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <p class="text-center">
      <span class="loading loading-ring loading-lg"></span>
    </p>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="(keys?.length || 0) > 0; then exist; else empty"> </ng-container>
  </ng-template>
  <ng-template #exist>
    <ng-container *ngFor="let key of keys">
      <mat-list-item routerLink="{{ key.id }}">
        <span class="material-icons" matListIcon [ngStyle]="{ color: getColorCode(key) }">
          circle
        </span>
        <span>{{ key.id }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-template>
  <ng-template #empty>
    <p>There is no key.</p>
  </ng-template>
</mat-nav-list>
