<div class="flex flex-col">
  <view-dashboard
    class="mb-4"
    [latestBlockHeight]="latestBlockHeight$ | async"
    [totalSupply]="totalSupply$ | async"
    [stakedTokens]="stakedTokens$ | async"
    [stakedRatio]="stakedRatio$ | async"
    [inflation]="inflation$ | async"
  ></view-dashboard>
  <app-txs class="mb-4"></app-txs>
  <div class="flex flex-row flex-wrap">
    <div class="w-full lg:w-1/2 lg:pr-2 mb-4 lg:mb-0">
      <app-blocks></app-blocks>
    </div>
    <div class="w-full lg:w-1/2 lg:pl-2">
      <app-validators></app-validators>
    </div>
  </div>
</div>
