<div class="drawer lg:drawer-open w-screen h-screen bg-base-300" data-theme="cmyk">
  <input id="drawer-main" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-full overflow-auto">
    <!-- Navbar -->
    <div class="navbar glass sticky top-0 z-20">
      <div class="flex-none lg:hidden">
        <label for="drawer-main" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <button class="align-middle" mat-icon-button routerLink="/">
        <img class="p-1 w-10 h-10" src="assets/favicon.png" />
      </button>
      <div class="flex-1 mx-2 text-2xl">
        <div class="hidden xl:block pr-2">UnUniFi</div>
        <div>Explorer</div>
      </div>
      <app-node-tool></app-node-tool>
      <button class="btn gap-1 btn-primary w-full md:w-auto md:px-8" (click)="onClickOpenPortal()">
        <mat-icon class="md:ml-3">wallet</mat-icon>
        <span class="hidden md:inline">Open Portal</span>
      </button>
    </div>
    <!-- Page content here -->
    <div class="w-full max-w-screen-xl mx-auto p-8">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="drawer-side h-full overflow-auto">
    <label for="drawer-main" class="drawer-overlay"></label>
    <ul class="menu p-4 w-11/12 sm:w-3/4 md:2/3 lg:w-full h-full bg-base-200">
      <!-- Sidebar content here -->
      <app-search-tool class="w-full"></app-search-tool>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/">
          <span class="flex-none">
            <mat-icon color="primary">other_houses</mat-icon>
          </span>
          <span class="flex-1">Home</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/blocks">
          <span class="flex-none">
            <mat-icon color="primary">account_tree</mat-icon>
          </span>
          <span class="flex-1">Blocks</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/txs">
          <span class="flex-none">
            <mat-icon color="primary">mail</mat-icon>
          </span>
          <span class="flex-1">Transactions</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/validators">
          <span class="flex-none">
            <mat-icon color="primary">savings</mat-icon>
          </span>
          <span class="flex-1">Validators</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/proposals">
          <span class="flex-none">
            <mat-icon color="primary">message</mat-icon>
          </span>
          <span class="flex-1">Votes</span>
        </label>
      </li>
    </ul>
  </div>
</div>
