<!-- <mat-toolbar class="mat-elevation-z4 toolbar" color="primary">
      <ng-container *ngIf="(drawerOpened$ | async) === false">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
      <view-toolbar
        class="flex-auto"
        [searchResult]="searchResult"
        (appSubmitSearchResult)="onSubmitSearchResult($event)"
        (appChangeInputValue)="onChangeInputValue($event)"
      >
      </view-toolbar>
    </mat-toolbar> -->

<div class="drawer drawer-mobile w-screen h-screen bg-base-300">
  <input id="drawer-main" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-full overflow-auto">
    <!-- Navbar -->
    <div class="navbar glass sticky top-0 z-20">
      <div class="flex-none lg:hidden">
        <label for="drawer-main" class="btn btn-square btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <button class="align-middle" mat-icon-button routerLink="/">
        <img class="p-1 w-10 h-10" src="assets/favicon.png" />
      </button>
      <div class="flex-1 mx-2 text-2xl">
        <div class="hidden xl:block pr-2">UnUniFi</div>
        <div>Explorer</div>
      </div>
    </div>
    <!-- Page content here -->
    <div class="w-full max-w-screen-xl mx-auto p-8">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="drawer-side h-full overflow-auto">
    <label for="drawer-main" class="drawer-overlay"></label>
    <ul class="menu p-4 w-11/12 sm:w-3/4 md:2/3 lg:w-full bg-base-200">
      <!-- Sidebar content here -->
      <li class="menu-title">
        <span>Utilities</span>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/">
          <span class="flex-none">
            <mat-icon color="primary">other_houses</mat-icon>
          </span>
          <span class="flex-1">Home</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/blocks">
          <span class="flex-none">
            <mat-icon color="primary">account_tree</mat-icon>
          </span>
          <span class="flex-1">Blocks</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/txs">
          <span class="flex-none">
            <mat-icon color="primary">mail</mat-icon>
          </span>
          <span class="flex-1">Transactions</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/validators">
          <span class="flex-none">
            <mat-icon color="primary">savings</mat-icon>
          </span>
          <span class="flex-1">Validators</span>
        </label>
      </li>
      <li>
        <label for="drawer-main" class="flex gap-4" routerLink="/proposals">
          <span class="flex-none">
            <mat-icon color="primary">message</mat-icon>
          </span>
          <span class="flex-1">Votes</span>
        </label>
      </li>

      <li class="menu-title">
        <span>Testnet</span>
      </li>
      <ng-template ngFor let-navigation [ngForOf]="navigations">
        <ng-container *ngIf="navigation?.name && navigation?.link">
          <li>
            <label
              for="drawer-main"
              class="flex gap-4"
              routerLink="/utilities{{ navigation.link.replace('/portal', '') }}"
            >
              <span class="flex-none">
                <mat-icon color="accent">{{ navigation.icon }}</mat-icon>
              </span>
              <span class="flex-1">{{ navigation.name }}</span>
            </label>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>
