<div class="pb-8">
  <ng-container *ngIf="perpetualFuturesPositionInstance">
    <view-perpetual-futures
      [position]="position"
      [positionInstance]="perpetualFuturesPositionInstance"
      [denomMetadataMap]="denomMetadataMap"
      [prices]="prices"
      [markets]="markets"
      [market]="market"
      (closePosition)="onClosePosition($event)"
    ></view-perpetual-futures>
  </ng-container>
  <!-- <ng-container *ngIf="perpetualOptionsPositionInstance">
    <view-perpetual-options [position]="position" [positionInstance]="perpetualOptionsPositionInstance" (closePosition)="onClosePosition()"></view-perpetual-options>
  </ng-container> -->
</div>
