<view-proposal
  [proposal]="proposal$ | async"
  [deposits]="deposits$ | async"
  [depositParams]="depositParams$ | async"
  [tally]="tally$ | async"
  [tallyParams]="tallyParams$ | async"
  [votes]="votes$ | async"
  [votingParams]="votingParams$ | async"
  [tallyTotalCount]="tallyTotalCount$ | async"
  [quorum]="quorum$ | async"
  [threshold]="threshold$ | async"
  [vetoThreshold]="vetoThreshold$ | async"
  (appClickVote)="onVoteProposal($event)"
  (appClickDeposit)="onDepositProposal($event)"
></view-proposal>
