<view-tx [tx]="tx$ | async" [txDetail]=" txDetail$ | async"></view-tx>

<ng-container [ngSwitch]="txType">
  <!--distribution-->
  <view-msg-fund-community-pool *ngSwitchCase="'MsgFundCommunityPool'" [txDetail]=" txDetail$ | async">
  </view-msg-fund-community-pool>
  <view-msg-set-withdraw-address *ngSwitchCase="'MsgSetWithdrawAddress'" [txDetail]=" txDetail$ | async">
  </view-msg-set-withdraw-address>
  <view-msg-withdraw-deledator-reward *ngSwitchCase="'MsgWithdrawDelegatorReward'" [txDetail]=" txDetail$ | async">
  </view-msg-withdraw-deledator-reward>
  <view-msg-withdraw-validator-commission *ngSwitchCase="'MsgWithdrawValidatorCommission'"
    [txDetail]=" txDetail$ | async"></view-msg-withdraw-validator-commission>
  <!--staking-->
  <view-msg-create-validator *ngSwitchCase="'MsgCreateValidator'" [txDetail]=" txDetail$ | async">
  </view-msg-create-validator>
  <view-msg-edit-validator *ngSwitchCase="'MsgEditValidator'" [txDetail]=" txDetail$ | async"></view-msg-edit-validator>
  <view-msg-delegate *ngSwitchCase="'MsgDelegate'" [txDetail]=" txDetail$ | async"></view-msg-delegate>
  <view-msg-begin-redelegate *ngSwitchCase="'MsgBeginRedelegate'" [txDetail]=" txDetail$ | async">
  </view-msg-begin-redelegate>
  <view-msg-undelegate *ngSwitchCase="'MsgUndelegate'" [txDetail]=" txDetail$ | async"></view-msg-undelegate>
  <!--gov-->
  <view-msg-vote *ngSwitchCase="'MsgVote'" [txDetail]=" txDetail$ | async"></view-msg-vote>
  <view-msg-vote-weighted *ngSwitchCase="'MsgVoteWeighted'" [txDetail]=" txDetail$ | async"></view-msg-vote-weighted>
  <view-msg-deposit *ngSwitchCase="'MsgDeposit'" [txDetail]=" txDetail$ | async"></view-msg-deposit>
  <view-msg-submit-proposal *ngSwitchCase="'MsgSubmitProposal'" [txDetail]=" txDetail$ | async">
  </view-msg-submit-proposal>
  <!--vesting-->
  <view-msg-create-vesting-account *ngSwitchCase="'MsgCreateVestingAccount'" [txDetail]=" txDetail$ | async">
  </view-msg-create-vesting-account>
  <!--bank-->
  <view-msg-send *ngSwitchCase="'MsgSend'" [txDetail]=" txDetail$ | async"></view-msg-send>
  <!--default-->
  <div *ngSwitchDefault>* No message</div>
</ng-container>

<view-tx-signature [txSignature]=" txSignature$ | async"></view-tx-signature>
