<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li routerLink=".."><a>Proposals</a></li>
      <li># {{ proposal?.id }}</li>
    </ul>
  </div>
  <ng-container *ngIf="proposal === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <p class="text-center">
      <span class="loading loading-ring loading-lg"></span>
    </p>
  </ng-template>
  <ng-template #loaded>
    <div class="card bg-base-100 shadow-xl mb-4">
      <div class="card-body w-full">
        <span class="badge badge-info badge-lg">
          {{ proposal?.status?.replace('PROPOSAL_STATUS_', '') }}
        </span>
        <h2 class="card-title break-all"># {{ proposal?.id }} {{ proposal?.title }}</h2>
        <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mb-4">
          <input type="checkbox" />
          <div class="collapse-title text-xl font-medium">Click to See The Proposal Messages</div>
          <div class="collapse-content overflow-x-auto">
            <div class="mockup-code mt-2">
              <pre><code>{{ proposal?.messages | json }}</code></pre>
            </div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Proposer</th>
                <td>
                  {{ proposal?.proposer }}
                </td>
              </tr>
              <tr>
                <th>Summary</th>
                <td>
                  {{ proposal?.summary }}
                </td>
              </tr>
              <tr>
                <th>Metadata</th>
                <td>
                  {{ proposal?.metadata }}
                </td>
              </tr>
              <tr>
                <th>Submitted</th>
                <td>{{ proposal?.submit_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}</td>
              </tr>
              <tr>
                <th>End Deposit</th>
                <td>{{ proposal?.deposit_end_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}</td>
              </tr>
              <tr>
                <th>Start Voting</th>
                <td>{{ proposal?.voting_start_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}</td>
              </tr>
              <tr>
                <th>End Voting</th>
                <td>{{ proposal?.voting_end_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h3>Votes</h3>
    <div class="card bg-base-100 shadow-xl mb-4">
      <div class="card-body w-full">
        <div class="stats stats-vertical md:stats-horizontal mb-4 w-full">
          <div class="stat">
            <div class="stat-title">Yes</div>
            <div class="stat-value text-success">
              <span class="material-symbols-outlined">thumb_up</span>
              {{ tally?.yes_count | coinAmount }}
            </div>
            <div class="stat-desc">{{ calcTallyRatio(tally?.yes_count) | percent : '1.0-2' }}</div>
          </div>
          <div class="stat">
            <div class="stat-title">No</div>
            <div class="stat-value text-warning">
              <span class="material-symbols-outlined">thumb_down</span>
              {{ tally?.no_count | coinAmount }}
            </div>
            <div class="stat-desc">{{ calcTallyRatio(tally?.no_count) | percent : '1.0-2' }}</div>
          </div>
          <div class="stat">
            <div class="stat-title">Veto</div>
            <div class="stat-value text-error">
              <span class="material-symbols-outlined">not_interested</span>
              {{ tally?.no_with_veto_count | coinAmount }}
            </div>
            <div class="stat-desc">
              {{ calcTallyRatio(tally?.no_with_veto_count) | percent : '1.0-2' }}
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Abstain</div>
            <div class="stat-value text-primary">
              <span class="material-symbols-outlined">subtitles_off</span>
              {{ tally?.abstain_count | coinAmount }}
            </div>
            <div class="stat-desc">
              {{ calcTallyRatio(tally?.abstain_count) | percent : '1.0-2' }}
            </div>
          </div>
        </div>

        <div class="overflow-x-auto" *ngIf="tallyParams">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Quorum</th>
                <td>
                  <span class="text-error" *ngIf="quorumNotReached">Quorum not reached: </span>
                  <span>
                    {{ quorum | percent : '1.0-2' }} / {{ tallyParams.quorum | percent : '1.0-2' }}
                  </span>
                </td>
              </tr>
              <tr>
                <th>Threshold</th>
                <td>
                  <span class="text-error" *ngIf="thresholdNotReached">
                    Threshold not reached:
                  </span>
                  <span>
                    {{ threshold | percent : '1.0-2' }} /
                    {{ tallyParams.threshold | percent : '1.0-2' }}
                  </span>
                </td>
              </tr>
              <tr>
                <th class="text-warning">Veto Threshold</th>
                <td>
                  <span class="text-error" *ngIf="vetoThresholdReached">
                    Veto Threshold reached:
                  </span>
                  <span>
                    {{ vetoThreshold | percent : '1.0-2' }} /
                    {{ tallyParams.veto_threshold | percent : '1.0-2' }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <label class="cursor-pointer label" *ngIf="votes?.length">
          <span class="label-text mr-2">Voting Details</span>
          <input
            type="checkbox"
            class="toggle toggle-primary"
            name="openSearch"
            [(ngModel)]="voteDetailEnabled"
          />
          <span class="flex-auto"></span>
        </label>

        <div class="overflow-x-auto" *ngIf="voteDetailEnabled">
          <table class="table w-full">
            <tbody>
              <ng-container *ngFor="let vote of votes">
                <tr>
                  <th>{{ vote.voter }}</th>
                  <ng-container *ngFor="let option of vote.options">
                    <td>{{ option.option?.replace('VOTE_OPTION_', '') }}</td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <p class="ml-4" *ngIf="!votes?.length">There is no vote.</p>
        </div>

        <div class="card-actions justify-end">
          <button
            class="btn btn-outline btn-secondary w-full md:w-auto md:px-8 gap-2"
            (click)="onClickVote(proposal?.id!)"
          >
            <span class="material-symbols-outlined">how_to_vote</span>Vote
          </button>
        </div>
      </div>
    </div>

    <h3>deposits</h3>
    <div class="card bg-base-100 shadow-xl mb-4">
      <div class="card-body w-full">
        <div class="stats stats-vertical md:stats-horizontal mb-4 w-full">
          <div class="stat" *ngFor="let total of proposal?.total_deposit">
            <div class="stat-title">Total Deposit</div>
            <div class="stat-value">{{ total.amount | coinAmount }}</div>
            <div class="stat-desc">{{ total.denom | coinDenom | async }}</div>
          </div>
        </div>

        <label class="cursor-pointer label" *ngIf="deposits?.length">
          <span class="label-text mr-2">Deposit Details</span>
          <input
            type="checkbox"
            class="toggle toggle-primary"
            name="openSearch"
            [(ngModel)]="depositDetailEnabled"
          />
          <span class="flex-auto"></span>
        </label>

        <div class="overflow-x-auto" *ngIf="depositDetailEnabled">
          <table class="table w-full">
            <tbody>
              <ng-container *ngFor="let deposit of deposits; last as last">
                <ng-container *ngFor="let amount of deposit.amount">
                  <tr>
                    <th>{{ deposit.depositor }}</th>
                    <td>{{ amount | coin | async }}</td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Minimum Deposit</th>
                <td>
                  <ng-container *ngFor="let min of depositParams?.min_deposit">
                    {{ min.amount | coinAmount }} {{ min.denom | coinDenom | async }}
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th>Max Deposit Period</th>
                <td>
                  {{ depositParams?.max_deposit_period }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-actions justify-end">
          <button
            class="btn btn-outline btn-info px-8 gap-2"
            (click)="onClickDeposit(proposal?.id!)"
          >
            <span class="material-symbols-outlined">add</span>Deposit
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
