<ng-container *ngIf="proposal === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <div class="flex flex-row">
    <h2># {{ proposal?.proposal_id }} {{ unpackContent(proposal?.content).title }}</h2>
    <span class="flex-auto"></span>
    <mat-chip-list>
      <mat-chip color="primary" selected>{{
        proposal?.status?.replace('PROPOSAL_STATUS_', '')
      }}</mat-chip>
    </mat-chip-list>
  </div>

  <h3>Details</h3>
  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span>Type </span>
          <span class="flex-auto"></span>
          <span>{{
            proposalType?.substring(proposalType?.lastIndexOf('.')! + 1, proposalType?.length)
          }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Submitted: </span>
          <span class="flex-auto"></span>
          <span>{{ proposal?.submit_time }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Start Voting: </span>
          <span class="flex-auto"></span>
          <span>{{ proposal?.voting_start_time }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>End Voting: </span>
          <span class="flex-auto"></span>
          <span>{{ proposal?.voting_end_time }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Deposit End Time: </span>
          <span class="flex-auto"></span>
          <span>{{ proposal?.deposit_end_time }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <h3>Description</h3>
  <mat-card class="mb-4">
    <mat-card-content>
      <span class="break-all">{{ unpackContent(proposal?.content).description }}</span>
    </mat-card-content>
  </mat-card>

  <h3>Votes</h3>
  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span>Yes: </span>
          <span class="flex-auto"></span>
          <span>{{ tally?.yes }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>No with Veto: </span>
          <span class="flex-auto"></span>
          <span>{{ tally?.no_with_veto }}</span>
        </mat-list-item>

        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>No: </span>
          <span class="flex-auto"></span>
          <span>{{ tally?.no }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Abstain: </span>
          <span class="flex-auto"></span>
          <span>{{ tally?.abstain }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span>Voting Period: </span>
          <span class="flex-auto"></span>
          <span>{{ votingParams?.voting_period }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item>
          <span>Quorum: </span>
          <span class="flex-auto"></span>
          <span>{{ toNumber(tallyParams?.quorum ?? '0') }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item>
          <span>Threshold: </span>
          <span class="flex-auto"></span>
          <span>{{ toNumber(tallyParams?.threshold ?? '0') }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item>
          <span>Veto Threshold: </span>
          <span class="flex-auto"></span>
          <span>{{ toNumber(tallyParams?.veto_threshold ?? '0') }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <button
    class="w-full mb-4"
    mat-flat-button
    color="primary"
    (click)="onClickVote(proposal?.proposal_id!)"
  >
    <mat-icon>how_to_vote</mat-icon>
    <span>Vote</span>
  </button>

  <h3>deposits</h3>
  <mat-card class="mb-4">
    <mat-card-content>
      <mat-list>
        <ng-container *ngIf="!proposal?.total_deposit?.length">
          <mat-list-item>
            <span>No Deposit</span>
          </mat-list-item>
        </ng-container>
        <ng-container *ngFor="let total of proposal?.total_deposit">
          <mat-list-item>
            <span>Total Deposit:</span>
            <span class="flex-auto"></span>
            <span>{{ total.amount }} {{ total.denom }}</span>
          </mat-list-item>
        </ng-container>
        <mat-divider [inset]="true"></mat-divider>
        <ng-container *ngFor="let min of depositParams?.min_deposit">
          <mat-list-item>
            <span>Minimum Deposit:</span>
            <span class="flex-auto"></span>
            <span>{{ min.amount }} {{ min.denom }}</span>
          </mat-list-item>
        </ng-container>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>
          <span>Max Deposit Period:</span>
          <span class="flex-auto"></span>
          <span>{{ depositParams?.max_deposit_period }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-4">
    <mat-list>
      <ng-container *ngFor="let deposit of deposits; last as last">
        <ng-container *ngFor="let amount of deposit.amount">
          <mat-list-item>
            <span>{{ deposit.depositor }}:</span>
            <span class="flex-auto"></span>
            <span>{{ amount.amount }} {{ amount.denom }}</span>
          </mat-list-item>
        </ng-container>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card>

  <button
    class="w-full mb-4"
    mat-flat-button
    color="primary"
    (click)="onClickDeposit(proposal?.proposal_id!)"
  >
    <mat-icon>add</mat-icon>
    <span>Deposit</span>
  </button>

  <h3>Vote</h3>
  <mat-card>
    <mat-list>
      <ng-container *ngFor="let vote of votes; last as last">
        <mat-list-item>
          <span class="break-all">{{ vote.voter }}: </span>
          <span class="flex-auto"></span>
          <span>{{ vote.option?.replace('VOTE_OPTION_', '') }}</span>
        </mat-list-item>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card>
</ng-template>
