<ng-container *ngIf="validator === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <span class="loading loading-dots loading-lg"></span>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="validator !== undefined; then exist; else notFound"> </ng-container>
</ng-template>
<ng-template #exist>
  <div class="flex items-center my-2">
    <mat-icon class="mr-1" [ngStyle]="{ color: getColorCode(validator?.val) }"> circle </mat-icon>
    <h2 class="mb-0">
      {{ validator?.val?.description?.moniker }}
    </h2>
    <span class="flex-auto"></span>
    <div *ngIf="validator?.inList" class="badge badge-lg badge-primary">Active</div>
    <div *ngIf="!validator?.inList" class="badge badge-lg badge-secondary">Inactive</div>
    <!-- <span
      *ngIf="validator?.inList"
      class="my-2 px-4 py-2 border-2 rounded-md font-semibold tracking-wider text-white bg-blue-500"
    >
      Active
    </span>
    <span
      *ngIf="!validator?.inList"
      class="my-2 px-4 py-2 border-2 rounded-md font-semibold tracking-wider text-white bg-red-500"
    >
      Inactive
    </span> -->
  </div>

  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tr>
            <th>Validator Address</th>
            <td>{{ validator?.val?.operator_address }}</td>
          </tr>
          <tr>
            <th>Account Address</th>
            <td>{{ accAddress }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tr>
            <th>Rank</th>
            <td>{{ validator?.rank }}</td>
          </tr>
          <tr>
            <th>Website</th>
            <td>{{ validator?.val?.description?.website }}</td>
          </tr>
          <tr>
            <th>Commission</th>
            <td>
              {{ validator?.val?.commission?.commission_rates?.rate | percent : '1.0-0' }}
            </td>
          </tr>
          <tr>
            <th>Max Commission</th>
            <td>
              {{ validator?.val?.commission?.commission_rates?.max_rate | percent : '1.0-0' }}
            </td>
          </tr>
          <tr>
            <th>Commission Updated</th>
            <td>
              {{ validator?.val?.commission?.update_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}
            </td>
          </tr>
          <tr>
            <th>Voting Power</th>
            <td>{{ validator?.share | percent : '1.2-2' }}</td>
          </tr>
          <tr>
            <th>Staked</th>
            <td>{{ validator?.val?.tokens | number : '1.0-0' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notFound>
  <p>404 Not Found</p>
</ng-template>
