<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li routerLink=".."><a>Validators</a></li>
      <li>{{ validator?.val?.description?.moniker || validator?.val?.operator_address }}</li>
    </ul>
  </div>
  <ng-container *ngIf="validator === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <p class="text-center">
      <span class="loading loading-ring loading-lg"></span>
    </p>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="validator !== undefined; then exist; else notFound"> </ng-container>
  </ng-template>
  <ng-template #exist>
    <div class="card bg-base-100 shadow-xl mb-4">
      <div class="card-body">
        <div class="flex flex-row items-center gap-4 mb-4">
          <span class="material-icons" [ngStyle]="{ color: getColorCode(validator?.val) }">
            circle
          </span>
          <h2 class="card-title">{{ validator?.val?.description?.moniker }}</h2>
          <span class="flex-auto"></span>
          <div *ngIf="validator?.inList" class="badge badge-lg badge-primary">Active</div>
          <div *ngIf="!validator?.inList" class="badge badge-lg badge-secondary">Inactive</div>
        </div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tr>
              <th>Validator Address</th>
              <td class="font-mono">{{ validator?.val?.operator_address }}</td>
            </tr>
            <tr>
              <th>Account Address</th>
              <td class="font-mono">{{ accAddress }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl mb-4">
      <div class="card-body">
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tr>
              <th>Rank</th>
              <td>{{ validator?.rank }}</td>
            </tr>
            <tr>
              <th>Website</th>
              <td>{{ validator?.val?.description?.website }}</td>
            </tr>
            <tr>
              <th>Commission</th>
              <td>
                {{ validator?.val?.commission?.commission_rates?.rate | percent : '1.0-0' }}
              </td>
            </tr>
            <tr>
              <th>Max Commission</th>
              <td>
                {{ validator?.val?.commission?.commission_rates?.max_rate | percent : '1.0-0' }}
              </td>
            </tr>
            <tr>
              <th>Commission Updated</th>
              <td>
                {{ validator?.val?.commission?.update_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}
              </td>
            </tr>
            <tr>
              <td>Minimum Self Delegation</td>
              <td>{{ validator?.val?.min_self_delegation }}</td>
            </tr>
            <tr>
              <th>Voting Power</th>
              <td>{{ validator?.share | percent : '1.2-2' }}</td>
            </tr>
            <tr>
              <th>Staked</th>
              <td>{{ validator?.val?.tokens | coinAmount }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #notFound>
    <p>404 Not Found</p>
  </ng-template>
</div>
