<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-4">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Transactions</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="form-control overflow-x-auto">
      <label class="label">
        <span class="label-text">Tx Type & Items per page</span>
      </label>
      <label class="input-group">
        <select
          class="select select-bordered select-primary text-center w-auto sm:w-64"
          name="txType"
          [(ngModel)]="selectedTxType"
          (change)="onSelectedTxTypeChanged(selectedTxType!)"
        >
          <option [value]="undefined" disabled>
            <span>Select Tx type</span>
          </option>
          <ng-container *ngFor="let txType of txTypeOptions">
            <option [value]="txType">
              {{ txType }}
            </option>
          </ng-container>
        </select>
        <select
          class="select select-bordered select-primary w-20"
          name="pageSize"
          [(ngModel)]="pageInfo && pageInfo.pageSize"
          (change)="onPaginationChange()"
        >
          <option disabled selected>Select items amount</option>
          <ng-container *ngFor="let size of pageSizeOptions">
            <option [value]="size">{{ size }}</option>
          </ng-container>
        </select>
        <button class="btn btn-outline btn-primary" (click)="onPaginationChange(1)">«</button>
        <button class="btn btn-primary">Page {{ (pageInfo && pageInfo.pageNumber) || 1 }}</button>
        <button class="btn btn-outline btn-primary" (click)="onPaginationChange(2)">»</button>
      </label>
      <label class="label">
        <span class="label-text-alt"
          >{{ calcItemsIndex().start }} - {{ calcItemsIndex().end }} of {{ pageLength }}items</span
        >
      </label>
    </div>
  </div>
  <ng-container *ngIf="txs === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <span class="loading loading-dots loading-lg"></span>
  </ng-template>
  <ng-template #loaded>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <th>TxHash</th>
              <td>Timestamp</td>
            </thead>
            <tbody>
              <ng-container *ngIf="(txs?.length || 0) > 0; else empty">
                <tr
                  *ngFor="let tx of txs"
                  class="hover cursor-pointer"
                  routerLink="/txs/{{ tx.txhash }}"
                >
                  <th>
                    {{ tx.txhash }}
                  </th>
                  <td>
                    {{ tx.timestamp | date : 'yy/MM/dd HH:mm' }}
                  </td>
                </tr>
              </ng-container>
              <ng-template #empty>
                <tr>
                  <td colspan="5">There is no transaction.</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</div>
