<div class="flex justify-center">
  <div class="text-base-content">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure class="aspect-square">
        <img src="{{ nftImage }}" alt="image of the NFT" class="h-full object-contain" />
      </figure>
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary">{{ listingInfo?.state || 'NOT_LISTING' }}</div>
        </div>
        <h2 class="card-title">
          {{ nftMetadata?.name || classID + '/' + nftID }}
        </h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Class ID</th>
                <td>{{ classID }}</td>
              </tr>
              <tr>
                <th>NFT ID</th>
                <td>{{ nftID }}</td>
              </tr>
              <tr>
                <th>Minimum deposit rate</th>
                <td>{{ listingInfo?.minimum_deposit_rate }}</td>
              </tr>
              <tr>
                <th>Started at</th>
                <td>{{ listingInfo?.started_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br />

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex flex-row items-center">
          <div class="stats">
            <div *ngIf="!isWinning" class="stat">
              <div class="stat-title">Your Status</div>
              <div *ngIf="!isBided" class="stat-value text-info">Not Offered</div>
              <div *ngIf="isBided" class="stat-value text-accent">Offered</div>
              <div class="stat-desc"></div>
            </div>
            <div *ngIf="isWinning" class="stat">
              <div class="stat-title">Settlement Shortfall Deadline</div>
              <div class="stat-value text-accent">2023/03/22</div>
              <div class="stat-desc">18:07</div>
            </div>
          </div>
          <span class="flex-auto"></span>
          <div *ngIf="!isBided && !isWinning" class="card-actions justify-end">
            <button routerLink="place-bid" class="btn btn-primary">Make Offer</button>
          </div>
          <div *ngIf="isBided && !isWinning">
            <div class="card-actions justify-end">
              <button routerLink="place-bid" class="btn btn-primary">Update Offer</button>
            </div>
            <span class="flex-auto"></span>
            <div class="card-actions justify-end">
              <button class="btn btn-secondary">Cancel Offer</button>
            </div>
          </div>
          <div *ngIf="isWinning" class="card-actions justify-end">
            <button class="btn btn-primary">Pay Settlement Shortfall</button>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th></th>
            <td>Bidder address</td>
            <td>Interest rate</td>
            <td>Deposit</td>
            <td>Bid price</td>
            <td>Expiry</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bidder of bidders">
            <th>#1</th>
            <td>{{ bidder.bidder }}</td>
            <td>{{ bidder.deposit_lending_rate }}%</td>
            <td>{{ bidder.deposit_amount?.amount }}</td>
            <td>{{ bidder.bid_amount?.amount }}</td>
            <td>{{ bidder.bidding_period }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
