<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Liquidity Pools</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="join">
      <button class="btn btn-sm btn-primary glass join-item" (click)="changeSimple()">Earn</button>
      <button class="btn btn-sm btn-primary join-item">Trade</button>
    </div>
  </div>

  <p class="font-bold">Exit anytime at market price.</p>
  <p class="font-light">
    Check
    <a class="link link-info font-semibold" routerLink="/interest-rate-swap/vaults">here</a> for
    more information on fixed-rate vaults.
  </p>

  <div class="flex my-8">
    <form>
      <div class="form-control w-full">
        <div class="join">
          <input
            type="text"
            placeholder="Search"
            class="join-item input input-bordered w-full max-w-xs"
          />
          <button class="btn btn-square">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
    <span class="flex-auto"></span>
    <div class="join">
      <button class="btn btn-neutral join-item">Active</button>
      <button class="btn join-item">Inactive</button>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>TVL</th>
          <th>APY</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr class="hover cursor-pointer" routerLink="1">
          <th>
            <div class="avatar">
              <div class="w-8 rounded-full">
                <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/3794.png" />
              </div>
              <div class="avatar -ml-2 mt-4">
                <div class="w-4 rounded-full">
                  <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/21781.png" />
                </div>
              </div>
            </div>
          </th>
          <td>
            Stride stATOM
            <br />
            <div class="badge badge-primary">ATOM</div>
          </td>
          <td>{{ 34323523 | currency }}</td>
          <td>{{ 0.642 | percent : '1.0-0' }}</td>
        </tr>
        <!-- row 2 -->
        <tr class="hover cursor-pointer" routerLink="2">
          <th>
            <div class="avatar">
              <div class="w-8 rounded-full">
                <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png" />
              </div>
              <div class="avatar -ml-2 mt-4">
                <div class="w-4 rounded-full">
                  <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/27607.png" />
                </div>
              </div>
            </div>
          </th>
          <td>
            Quasar USDC/USDT Dynamic S+
            <br />
            <div class="badge badge-primary">USDC</div>
          </td>
          <td>{{ 315323511 | currency }}</td>
          <td>{{ 0.546 | percent : '1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
