<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs">
    <ul>
      <li routerLink=".."><a>Vaults</a></li>
      <li>Vault #{{ vault?.vault?.id }}</li>
    </ul>
  </div>
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">
          <ng-container *ngIf="symbolImage">
            <div class="avatar">
              <div class="mask mask-circle w-6 h-6">
                <img src="{{ symbolImage }}" alt="Asset Symbol" />
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!symbolImage">
            <span class="material-symbols-outlined">question_mark</span>
          </ng-container>
          <span>Vault #{{ vault?.vault?.id }}</span>
          <div class="badge badge-primary">{{ displaySymbol }}</div>
        </h2>
        <!-- <div class="stats">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">TVL</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Deposited</div>
            <div class="stat-value text-primary">$ 123</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Earnings</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div> -->
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <td>Vault ID</td>
                <td>{{ vault?.vault?.id }}</td>
              </tr>
              <tr>
                <td>Vault Address</td>
                <td class="font-mono break-all">{{ vault?.vault_address }}</td>
              </tr>
              <!-- <tr>
                <td>Vault Name</td>
                <td>{{ 'Coming soon' }}</td>
              </tr> -->
              <tr>
                <td>Owner</td>
                <td class="font-mono break-all">{{ vault?.vault?.owner }}</td>
              </tr>
              <tr>
                <td>Owner's Deposit</td>
                <td>{{ vault?.vault?.owner_deposit | coin | async }}</td>
              </tr>
              <tr>
                <td class="flex flex-row items-center gap-2">
                  <span>Withdraw Commission Rate</span>
                  <a
                    href="https://docs.ununifi.io/overview/interchain-yield-aggregator/commission"
                    target="_blank"
                    class="h-[24px]"
                  >
                    <span class="material-symbols-outlined">help</span>
                  </a>
                </td>
                <td>{{ vault?.vault?.withdraw_commission_rate | percent : '1.0-4' }}</td>
              </tr>
              <tr>
                <td class="flex flex-row items-center gap-2">
                  <span>Withdraw Reserve Rate</span>
                  <a
                    href="https://docs.ununifi.io/overview/interchain-yield-aggregator/withdraw-reserve-rate"
                    target="_blank"
                    class="h-[24px]"
                  >
                    <span class="material-symbols-outlined">help</span>
                  </a>
                </td>
                <td>{{ vault?.vault?.withdraw_reserve_rate | percent : '1.0-4' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="stats stats-vertical md:stats-horizontal">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value text-accent">
              {{ vaultAPY | percent : '1.2-2' }}
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Deposit Amount</div>
            <div class="stat-value text-info">
              {{ totalDepositAmount?.symbolAmount }} {{ displaySymbol }}
            </div>
            <div class="stat-desc" *ngIf="totalWithdrawalBalance?.usdAmount">
              ${{ totalDepositAmount?.usdAmount | number }}
            </div>
          </div>
        </div>
        <div class="stats stats-vertical md:stats-horizontal">
          <div class="stat">
            <div class="stat-title">Total Bonded Amount</div>
            <div class="stat-value text-primary">
              <td>{{ totalBondedAmount?.symbolAmount }} {{ displaySymbol }}</td>
            </div>
            <div class="stat-desc" *ngIf="totalBondedAmount?.usdAmount">
              ${{ totalBondedAmount?.usdAmount | number }}
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Unbonding Amount</div>
            <div class="stat-value text-secondary">
              {{ totalUnbondingAmount?.symbolAmount }} {{ displaySymbol }}
            </div>
            <div class="stat-desc" *ngIf="totalUnbondingAmount?.usdAmount">
              ${{ totalUnbondingAmount?.usdAmount | number }}
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Withdrawal Reserve Amount</div>
            <div class="stat-value text-info">
              {{ totalWithdrawalBalance?.symbolAmount }} {{ displaySymbol }}
            </div>
            <div class="stat-desc" *ngIf="totalWithdrawalBalance?.usdAmount">
              ${{ totalWithdrawalBalance?.usdAmount | number }}
            </div>
          </div>
        </div>
        <!-- <h3 class="mt-4">Historical APY (Demo)</h3>
        <div class="flex w-full justify-center" #chartRef>
          <google-chart
            [title]="chartTitle"
            [type]="chartType"
            [data]="chartData"
            [columns]="chartColumnNames"
            [options]="chartOptions"
          >
          </google-chart>
        </div> -->
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="tabs tabs-boxed w-full">
        <a class="tab tab-lg w-1/2" [class.tab-active]="tab === 'mint'" (click)="tab = 'mint'"
          >Deposit</a
        >
        <a class="tab tab-lg w-1/2" [class.tab-active]="tab === 'burn'" (click)="tab = 'burn'"
          >Withdraw</a
        >
      </div>
      <div class="card-body" *ngIf="tab === 'mint'">
        <form #depositFormRef="ngForm" (submit)="onSubmitDeposit()">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Enter amount</span>
            </label>
            <label class="input-group">
              <input
                #depositAmountRef
                #depositAmountNgModelRef="ngModel"
                required
                type="number"
                placeholder="12.123456"
                class="input input-bordered w-full"
                [class]="{
                  'input-error': depositAmountNgModelRef.errors && depositAmountNgModelRef.touched
                }"
                [min]="0"
                [max]="symbolBalancesMap?.[displaySymbol || ''] || 0"
                pattern="^[0-9]*\.?[0-9]{0,6}$"
                [(ngModel)]="mintAmount"
                name="mintAmount"
                (input)="onDepositAmountChange()"
              />
              <span>{{ displaySymbol }}</span>
            </label>
            <span class="label">
              <span class="label-text-alt">Available balance:</span>
              <label
                class="label-text-alt cursor-pointer"
                (click)="mintAmount = symbolBalancesMap?.[displaySymbol || '']"
              >
                {{ symbolBalancesMap?.[displaySymbol || ''] || 0 }} {{ displaySymbol }}
              </label>
            </span>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">You will receive</span>
            </label>
            <label class="input-group">
              <input
                disabled
                class="input input-bordered w-full"
                value="{{ estimatedMintAmount?.amount | coinAmount }}"
              />
              <span class="whitespace-nowrap">{{ 'YA-VAULT-' + vault?.vault?.id }}</span>
            </label>
          </div>

          <div class="card-actions justify-end mt-8">
            <button class="btn btn-primary px-8" [disabled]="depositFormRef.invalid">
              Deposit
            </button>
          </div>
        </form>
      </div>
      <div class="card-body" *ngIf="tab === 'burn'">
        <form #withdrawFormRef="ngForm" (submit)="onSubmitWithdraw()">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Enter amount</span>
            </label>
            <label class="input-group">
              <input
                #withdrawAmountRef
                #withdrawAmountNgModelRef="ngModel"
                placeholder="12.123456"
                required
                type="number"
                class="input input-bordered w-full"
                [class]="{
                  'input-error': withdrawAmountNgModelRef.errors && withdrawAmountNgModelRef.touched
                }"
                [min]="0"
                [max]="symbolBalancesMap?.['YA-VAULT-'+ vault?.vault?.id || ''] || 0"
                pattern="^[0-9]*\.?[0-9]{0,6}$"
                [(ngModel)]="burnAmount"
                name="burnAmount"
                (input)="onWithdrawAmountChange()"
              />
              <span class="whitespace-nowrap">YA-VAULT-{{ vault?.vault?.id }}</span>
            </label>
            <span class="label">
              <span class="label-text-alt">Available balance:</span>
              <label
                class="label-text-alt cursor-pointer"
                (click)="burnAmount = symbolBalancesMap?.['YA-VAULT-'+ vault?.vault?.id]"
              >
                {{ symbolBalancesMap?.['YA-VAULT-'+ vault?.vault?.id] || 0 }}
                {{ 'YA-VAULT-' + vault?.vault?.id }}
              </label>
            </span>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">You will receive</span>
            </label>

            <label class="input-group">
              <input
                disabled
                class="input input-bordered w-full"
                value="{{ estimatedBurnAmount?.amount | coinAmount }}"
              />
              <span>{{ displaySymbol }}</span>
            </label>
          </div>

          <div class="card-actions justify-end mt-8">
            <button class="btn btn-secondary px-8" [disabled]="withdrawFormRef.invalid">
              Withdraw
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h2>Strategies this vault contains</h2>
  <div class="flex flex-row flex-wrap -mr-12 -mb-12">
    <div
      *ngFor="let strategy of vault?.vault?.strategy_weights; let i = index"
      class="pr-12 pb-12 w-full md:w-1/2 xl:w-1/3"
    >
      <div class="card bg-base-100 shadow-xl w-full">
        <div class="card-body">
          <h2 class="card-title break-all">
            <ng-container *ngIf="symbolImage">
              <div class="avatar">
                <div class="mask mask-circle w-6 h-6">
                  <img src="{{ symbolImage }}" alt="Asset Symbol" />
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!symbolImage">
              <span class="material-symbols-outlined">question_mark</span>
            </ng-container>
            <span>
              {{ getStrategyInfo(strategy.strategy_id)?.name }}
            </span>
          </h2>
          <div class="stats">
            <div class="stat">
              <div class="stat-title">Allocation weight</div>
              <div class="stat-value">{{ strategy.weight | percent : '1.0-2' }}</div>
              <div class="stat-desc"></div>
            </div>
          </div>

          <button
            routerLink="/yield-aggregator/strategies/{{ vault?.vault?.denom }}/{{
              strategy.strategy_id
            }}"
            class="btn btn-outline btn-info"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
