<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <div class="text-xl breadcrumbs">
      <ul>
        <li routerLink=".."><a>Vaults</a></li>
        <li>Create a New Vault</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <button
      class="btn btn-secondary btn-outline px-8 mr-2 mb-2"
      routerLink="/yield-aggregator/vaults/owner/{{ address }}"
    >
      Manage Your Vaults
    </button>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <form #formRef="ngForm" (submit)="onSubmitCreate()">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Select Asset for the Vault</span>
            </label>
            <select
              required
              #assetNgModelRef="ngModel"
              class="select select-bordered w-full"
              [class]="{
                'select-error': assetNgModelRef.errors
              }"
              [(ngModel)]="symbol"
              name="symbol"
              (change)="onChangeSymbol()"
              [disabled]="!availableTokens?.length"
            >
              <option [value]="undefined" disabled>
                <span *ngIf="!availableTokens || !availableTokens.length"
                  >No Strategy on the chain</span
                >
                <span *ngIf="availableTokens && availableTokens.length"
                  >Select an asset's symbol</span
                >
              </option>
              <ng-container *ngFor="let token of availableTokens">
                <option [value]="token.symbol">{{ token.display }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Enter Vault Name</span>
              <label for="modal-name" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <input type="checkbox" id="modal-name" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is Vault Name?</h3>
                  <p class="py-2">
                    The Vault should have a unique name. Please give it a name that describes its
                    purpose and how it will be operated.
                  </p>

                  <div class="modal-action">
                    <label for="modal-name" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </label>
            <input
              required
              type="text"
              #nameNgModelRef="ngModel"
              placeholder="Enter your vault name"
              class="input input-bordered w-full"
              [class]="{
                'input-error': nameNgModelRef.errors
              }"
              [(ngModel)]="name"
              name="name"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Enter Vault Description</span>
            </label>
            <textarea
              type="text"
              #descriptionNgModelRef="ngModel"
              placeholder="Enter your vault description"
              class="textarea textarea-bordered"
              [class]="{
                'input-error': descriptionNgModelRef.errors && descriptionNgModelRef.touched
              }"
              [(ngModel)]="description"
              name="description"
            >
            </textarea>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Enter Fee Collector Address</span>
              <label for="modal-collector" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <input type="checkbox" id="modal-collector" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is Fee Collector?</h3>
                  <p class="py-2">
                    The address from which this vault fee is earned must be specified.
                  </p>

                  <div class="modal-action">
                    <label for="modal-collector" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </label>
            <input
              required
              type="text"
              #collectorNgModelRef="ngModel"
              class="input input-bordered w-full"
              [class]="{
                'input-error': collectorNgModelRef.errors
              }"
              [(ngModel)]="address"
              name="collector"
            />
          </div>
          <div class="form-control">
            <span class="label">
              <span class="label-text">Enter Withdraw Commission Rate</span>
              <!-- The button to open modal -->
              <label for="modal-commission" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="modal-commission" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is the withdraw commission rate?</h3>
                  <p class="py-4">
                    This is the commission charged for withdrawals from the vault. Additionally,
                    sometimes an additional commission may be imposed based on the strategy.
                  </p>
                  <p>
                    For more information on commissions visit
                    <a
                      href="https://docs.ununifi.io/overview/interchain-yield-aggregator/commission"
                      target="_blank"
                    >
                      <u class="text-info">the UnUniFi Documentation</u> </a
                    >.
                  </p>
                  <div class="modal-action">
                    <label for="modal-commission" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </span>
            <div class="join">
              <input
                #commissionNgModelRef="ngModel"
                required
                type="number"
                [min]="0"
                [max]="100"
                [step]="1"
                [(ngModel)]="commissionRate"
                pattern="^[0-9]*\.?[0-9]{0,6}$"
                name="commission"
                class="join-item input input-bordered w-full"
                [class]="{
                  'input-error': commissionNgModelRef.errors && commissionNgModelRef.touched
                }"
              />
              <div class="join-item btn btn-disabled">%</div>
            </div>
          </div>
          <div class="form-control">
            <div class="label">
              <span class="label-text">Enter Withdraw Reserve Rate</span>
              <!-- The button to open modal -->
              <label for="modal-reserve" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="modal-reserve" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is the withdraw reserve rate?</h3>
                  <p class="py-4">
                    This is the percentage of withdrawal reserves available for all deposits. The
                    withdrawal reserves will be used for withdrawing with zero unbonding time.
                    Additionally, the Withdrawal Reserve Rate is used to calculate withdrawal fees.
                  </p>
                  <p>
                    For more information about the Withdrawal Reserve Rate, visit
                    <a
                      href="https://docs.ununifi.io/overview/interchain-yield-aggregator/withdraw-reserve-rate"
                      target="_blank"
                    >
                      <u class="text-info">the UnUniFi Documentation</u> </a
                    >.
                  </p>
                  <div class="modal-action">
                    <label for="modal-reserve" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="join">
              <input
                #reserveNgModelRef="ngModel"
                required
                type="number"
                placeholder="30.123456"
                [min]="0"
                [max]="100"
                [step]="1"
                [(ngModel)]="reserveRate"
                pattern="^[0-9]*\.?[0-9]{0,6}$"
                name="reserve"
                class="join-item input input-bordered w-full"
                [class]="{
                  'input-error': reserveNgModelRef.errors && reserveNgModelRef.touched
                }"
              />
              <div class="join-item btn btn-disabled">%</div>
            </div>
          </div>
          <div class="form-control">
            <span class="label">
              <span class="label-text">Strategies Allocation</span>
              <!-- The button to open modal -->
              <label for="modal-strategy" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="modal-strategy" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is the strategies?</h3>
                  <p class="py-4">
                    To create a new Vault, one or more strategies must be combined. It should be set
                    up so that the total weighting is 100%.
                  </p>
                  <p>
                    For more information of all strategies, visit
                    <a href="/portal/yield-aggregator/strategies" target="_blank">
                      <u class="text-info">Strategies Page</u> </a
                    >.
                  </p>
                  <div class="modal-action">
                    <label for="modal-strategy" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </span>

            <ng-container *ngFor="let strategy of selectedStrategies; let i = index">
              <div class="flex flex-row flex-wrap gap-2 mb-2">
                <a
                  class="btn btn-outline normal-case w-full sm:w-64 gap-2"
                  [href]="createStrategyURL(strategy)"
                  target="_blank"
                >
                  {{ strategy.name }}
                  <!-- <span class="material-symbols-outlined">info</span> -->
                </a>
                <div class="w-full sm:w-auto sm:flex-auto">
                  <div class="join w-full">
                    <input
                      type="number"
                      [min]="0"
                      [max]="100"
                      [step]="1"
                      [(ngModel)]="strategy.weight"
                      name="strategy{{ i }}Weight"
                      class="join-item input input-bordered w-full"
                    />
                    <div class="join-item btn btn-disabled">%</div>
                    <label
                      class="join-item btn btn-outline btn-error"
                      (click)="onClickDeleteStrategy(i)"
                    >
                      <span class="material-symbols-outlined">delete</span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>

            <span class="label">
              <span class="label-text">Add Strategy</span>
            </span>
            <!-- Open the modal using ID.showModal() method -->
            <button type="button" class="btn w-full" onclick="addStrategyModal.showModal()">
              Add Strategy
            </button>
            <dialog id="addStrategyModal" class="modal">
              <form method="dialog" class="modal-box">
                <h3 class="font-bold text-lg">Strategies for {{ symbol }}</h3>
                <ng-container *ngIf="!symbol">
                  <p class="py-4 text-error">Select an asset first</p>
                </ng-container>
                <ng-container *ngIf="symbol && !strategies?.length">
                  <p class="py-4">No strategy for {{ symbol }}</p>
                </ng-container>

                <ul class="menu w-full">
                  <ng-container *ngFor="let s of strategies">
                    <ng-container *ngIf="!isAlreadySelectedStrategy(s.strategy?.id || '')">
                      <li>
                        <a (click)="onAddStrategy(s)">{{ s.strategy?.name }}</a>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
              </form>
              <form method="dialog" class="modal-backdrop" onsubmit="addStrategyModal.close()">
                <button>close</button>
              </form>
            </dialog>
          </div>

          <div class="form-control">
            <span class="label">
              <span class="label-text">Deposit</span>
              <!-- The button to open modal -->
              <label for="modal-deposit" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="modal-deposit" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is the deposit?</h3>
                  <p class="py-4">
                    The creator must deposit a specified amount of tokens in advance in the Vault.
                  </p>
                  <div class="modal-action">
                    <label for="modal-deposit" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </span>
            <div class="join">
              <input
                type="number"
                name="deposit"
                value="{{ deposit?.amount | coinAmount : deposit?.denom }}"
                disabled
                class="join-item input input-bordered w-full"
              />
              <div class="join-item btn btn-disabled">
                {{ denomMetadataMap?.[deposit?.denom || '']?.display  }}
              </div>
            </div>
            <label class="label">
              <span class="label-text-alt">Available balance:</span>
              <span class="label-text-alt">
                {{ denomBalancesMap?.[deposit?.denom|| '']?.amount | coinAmount: deposit?.denom}}
                {{ denomMetadataMap?.[deposit?.denom || '']?.display  }}
              </span>
            </label>
          </div>
          <div class="form-control">
            <span class="label">
              <span class="label-text">Fee</span>
              <!-- The button to open modal -->
              <label for="modal-fee" class="label-text cursor-pointer">
                <span class="material-symbols-outlined">help</span>
              </label>

              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="modal-fee" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">What is the fee?</h3>
                  <p class="py-4">A specified fee is charged for the creation of a new Vault.</p>
                  <div class="modal-action">
                    <label for="modal-fee" class="btn">Okay</label>
                  </div>
                </div>
              </div>
            </span>
            <div class="join">
              <input
                type="number"
                name="fee"
                value="{{ fee?.amount | coinAmount : fee?.denom }}"
                disabled
                class="join-item input input-bordered w-full"
              />
              <div class="join-item btn btn-disabled">
                {{ denomMetadataMap?.[fee?.denom || '']?.display  }}
              </div>
            </div>
            <label class="label">
              <span class="label-text-alt">Available balance:</span>
              <span class="label-text-alt">
                {{ denomBalancesMap?.[fee?.denom || '']?.amount | coinAmount: fee?.denom }}
                {{ denomMetadataMap?.[fee?.denom || '']?.display }}
              </span>
            </label>
          </div>

          <div class="card-actions justify-end mt-4">
            <label #createModalLabel for="create-modal" hidden></label>
            <button
              type="button"
              class="btn btn-primary px-8"
              [disabled]="formRef.invalid"
              (click)="createModalLabel.click()"
            >
              Create a new Vault
            </button>
          </div>

          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="create-modal" class="modal-toggle" />
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Are you sure to create this Vault, OK?</h3>
              <p class="py-4">
                A deposit of {{ deposit?.amount | coinAmount : deposit?.denom }}
                {{ denomMetadataMap?.[deposit?.denom || '']?.display }} & a fee
                {{ fee?.amount | coinAmount : fee?.denom }}
                {{ denomMetadataMap?.[fee?.denom || '']?.display }} will be deducted from your
                balance.
              </p>
              <div class="modal-action">
                <label for="create-modal" class="btn btn-outline">Cancel</label>
                <button class="btn btn-primary" [disabled]="formRef.invalid">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
