@use 'variables'as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-family;
    scroll-behavior: smooth;
}

body {
    background-blend-mode: overlay;
    background-size: cover;
    background-image: url('assets/bg-misc.png'), linear-gradient(137.65deg, #1C1B1B 96.87%, #000000 105.82%),url('assets/bg-misc-2.png');
    background-repeat: no-repeat;
}