@use 'variables'as v;
@use 'global'as g;

section.partner{
    padding-top: max(5vw, 8em);

    header{
        font-weight: v.$text-bold;
        font-size: max(1.5vw, 20px);
        text-align: center;
        color: v.$text-color;
    }

    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2em;
        flex-wrap: wrap;

        .image{
            margin-top: 1em;

            img{

            }
        }
    }
}