@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

// Color
$primary-color: rgb(255, 61, 176);
$secondary-color: rgb(162, 55, 255);
$text-color: rgb(251, 251, 251);

// Fonts
$font-family: 'Montserrat', sans-serif;

// Font-Weight
$text-medium: 500;
$text-bold: 700;

// Font-Size


// BreakPoints
$small-mobile-size: 576px;
$mobile-size: 767px;
$tab-size: 991px;

