<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="flex flex-wrap">
      <h2 class="card-title">Latest Transactions</h2>
      <span class="flex-auto"></span>
      <div class="form-control">
        <select
          class="select select-bordered text-center w-auto sm:w-64"
          name="txType"
          [(ngModel)]="selectedTxType"
          (change)="onSelectedTxTypeChanged(selectedTxType!)"
        >
          <option [value]="undefined" disabled>
            <span>Select Tx type</span>
          </option>
          <ng-container *ngFor="let txType of txTypeOptions">
            <option [value]="txType">
              {{ txType }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>

    <ng-container *ngIf="txs === null; then loading; else loaded"> </ng-container>
    <ng-template #loading>
      <p class="text-center">
        <span class="loading loading-ring loading-lg"></span>
      </p>
    </ng-template>
    <ng-template #loaded>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <th>TxHash</th>
            <td>Timestamp</td>
          </thead>
          <tbody>
            <ng-container *ngIf="(txs?.length || 0) > 0; else empty">
              <tr
                *ngFor="let tx of txs"
                class="hover cursor-pointer"
                routerLink="/txs/{{ tx.txhash }}"
              >
                <th class="font-mono">
                  {{ tx.txhash }}
                </th>
                <td>
                  {{ tx.timestamp | date : 'yy/MM/dd HH:mm' }}
                </td>
              </tr>
            </ng-container>
            <ng-template #empty>
              <tr>
                <td colspan="5">There is no transaction.</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
