<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-4">
    <h2>Liquidity Pool</h2>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Pool Status</h2>
        <p>
          A Liquidity Pool supplies the necessary liquidity in a Derivatives market. By depositing
          into the pool, one can earn transaction fees. DLP tokens can be obtained upon depositing
          and can be used for withdrawing tokens through selling the DLP tokens.
        </p>
        <div class="stats stats-vertical md:stats-horizontal">
          <div class="stat">
            <div class="stat-title">Pool Market Cap</div>
            <div class="stat-value text-primary">$ {{ pool?.pool_market_cap?.total | number }}</div>
          </div>

          <div class="stat">
            <div class="stat-title">24h Volume</div>
            <!-- <div class="stat-value text-secondary">{{ pool?.volume_24hours | number }}</div>
            <div class="stat-desc">USD</div> -->
            <div class="stat-value">Coming Soon</div>
            <div class="stat-desc"></div>
          </div>

          <div class="stat">
            <div class="stat-title">24h Fees</div>
            <div class="stat-value">Coming Soon</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <h3>DLP Rates (1DLP=)</h3>

        <div class="stats stats-vertical md:stats-horizontal">
          <ng-container *ngFor="let rate of dlpRates">
            <div class="stat">
              <div class="stat-title">{{ rate.denom | coinDenom }}</div>
              <div class="stat-value text-info">{{ rate.amount | coinAmount }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="flex flex-row flex-wrap mt-8 mb-4">
      <h2>Liquidity Provider Token (Buy/Sell)</h2>
    </div>
    <div class="card bg-base-100 shadow-xl w-full mb-4">
      <div class="tabs tabs-boxed">
        <a class="tab tab-lg w-1/2" [class.tab-active]="tab === 'buy'" (click)="tab = 'buy'">Buy</a>
        <a class="tab tab-lg w-1/2" [class.tab-active]="tab === 'sell'" (click)="tab = 'sell'">Sell</a>
      </div>
      <div class="card-body">
        <ng-container *ngIf="tab === 'buy'">
          <form #buyFormRef="ngForm" (submit)="onSubmitMint(depositSymbolRef.value, depositAmountRef.valueAsNumber)">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Enter amount to deposit</span>
                <!-- The button to open modal -->
                <label for="modal-dlp" class="label-text">
                  <mat-icon>help</mat-icon>
                </label>
              </label>
              <label class="input-group">
                <input #depositAmountRef #depositAmountNgModelRef="ngModel" required ngModel name="mint-amount"
                  type="number" placeholder="0.123456" class="input input-bordered w-full"
                  [class]="{'input-error': depositAmountNgModelRef.errors}" [min]="0"
                  [max]="symbolBalancesMap?.[mintSymbol] || 0" pattern="^[0-9]*\.?[0-9]{0,6}$" />
                <select #depositSymbolRef required [(ngModel)]="mintSymbol" name="mint-symbol"
                  class="select select-bordered">
                  <ng-container *ngFor="let symbol of poolAcceptedSymbols">
                    <option [value]="symbol">{{ symbol }}</option>
                  </ng-container>
                </select>
              </label>
              <label class="label">
                <span class="label-text-alt">Available balance:</span>
                <span class="label-text-alt">{{ symbolBalancesMap?.[depositSymbolRef.value] || 0 }}
                  {{ depositSymbolRef.value }}
                </span>
              </label>
            </div>

            <div class="card-actions justify-end mt-4">
              <label for="mint-model" class="btn btn-primary px-8"
                (click)="onEstimateMint(depositSymbolRef.value, depositAmountRef.valueAsNumber)">
                Buy DLP to earn fees
              </label>
            </div>
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="buy-modal" class="modal-toggle" />
            <div class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                <h3 class="font-bold text-lg">Are you sure to buy DLP?</h3>
                <p class="py-4" *ngIf="estimatedLPTAmount">
                  Estimated DLP is {{ estimatedLPTAmount.amount | coin }} (Fee is
                  {{ estimatedLPTAmount.fee | coin }}), OK?
                </p>
                <p class="py-4" *ngIf="!estimatedLPTAmount && calculatedDLPAmount">
                  Estimated DLP amount is {{ calculatedDLPAmount | number }}DLP, and fees will be
                  deducted from this amount.
                </p>
                <p class="py-4" *ngIf="!estimatedLPTAmount && !calculatedDLPAmount">
                  The amount of DLP to be retrieved is unknown.
                </p>
                <p *ngIf="(symbolBalancesMap?.[mintSymbol] || 0) < depositAmountRef.valueAsNumber"
                  class="text-lg text-error">
                  Insufficient Balance!
                </p>
                <div class="modal-action">
                  <label for="buy-modal" class="btn btn-outline">Cancel</label>
                  <button class="btn btn-primary" [disabled]="buyFormRef.invalid">Buy</button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="tab === 'sell'">
          <form #sellformRef="ngForm" (submit)="onSubmitBurn(burnAmountRef.valueAsNumber, redeemSymbolRef.value)">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Enter amount to sell</span>
                <label for="modal-dlp" class="label-text">
                  <mat-icon>help</mat-icon>
                </label>
              </label>
              <label class="input-group">
                <input #burnAmountRef #burnAmountNgModelRef="ngModel" required ngModel name="burn-amount" type="number"
                  placeholder="0.12" class="input input-bordered w-full"
                  [class]="{'input-error': burnAmountNgModelRef.errors}" [min]="0" [max]="dlpBalance"
                  pattern="^[0-9]*\.?[0-9]{0,6}$" />
                <span>DLP</span>
              </label>
              <label class="label">
                <span class="label-text-alt">Available balance:</span>
                <span class="label-text-alt">
                  {{ symbolBalancesMap?.['DLP'] || 0 }}
                  DLP
                </span>
              </label>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Select symbol to redeem</span>
              </label>
              <select #redeemSymbolRef required [(ngModel)]="redeemSymbol" name="redeem-symbol"
                class="select select-bordered w-full">
                <ng-container *ngFor="let symbol of poolAcceptedSymbols">
                  <option [value]="symbol">{{ symbol }}</option>
                </ng-container>
              </select>
            </div>

            <div class="card-actions justify-end mt-4">
              <label for="mint-model" class="btn btn-primary px-8"
                (click)="onEstimateBurn(burnAmountRef.valueAsNumber, redeemSymbolRef.value)">
                Sell DLP
              </label>
            </div>
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="sell-modal" class="modal-toggle" />
            <div class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                <h3 class="font-bold text-lg">Are you sure to sell DLP?</h3>
                <p class="py-4" *ngIf="estimatedRedeemAmount">
                  Estimated {{ redeemSymbolRef.value }} is
                  {{ estimatedRedeemAmount.amount | coin }} (Fee is
                  {{ estimatedRedeemAmount.fee | coin }}), OK?
                </p>
                <p class="py-4" *ngIf="!estimatedRedeemAmount && calculatedRedeemAmount">
                  Estimated redeem amount is {{ calculatedRedeemAmount | number
                  }}{{ redeemSymbolRef.value }}, and fees will be deducted from this amount.
                </p>
                <p class="py-4" *ngIf="!estimatedRedeemAmount && !calculatedRedeemAmount">
                  The amount of {{ redeemSymbolRef.value }} to be retrieved is unknown.
                </p>
                <p *ngIf="dlpBalance < burnAmountRef.valueAsNumber" class="text-lg text-error">
                  Insufficient DLP!
                </p>
                <div class="modal-action">
                  <label for="sell-modal" class="btn btn-outline">Cancel</label>
                  <button class="btn btn-primary" [disabled]="sellformRef.invalid">Sell</button>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="modal-dlp" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">What is DLP?</h3>
            <p class="py-2">
              By depositing tokens into the pool, you can obtain DLP. Fees from derivatives such as
              Perpetual-Futures are accumulated in the pool, and by selling DLP and converting it to
              tokens, you can get a portion of these fees.
            </p>
            <p class="py-2">
              The rate of DLP is currently determined and may fluctuate due to user deposits and
              withdrawals. Please check the detailed received amount in the window before sending
              transaction.
            </p>

            <div class="modal-action">
              <label for="modal-dlp" class="btn">Understood</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>