<div mat-dialog-content>
  <mat-card class="mb-4 w-full">
    <mat-card-header>
      <img mat-card-avatar src="{{ classImage || 'assets/UnUniFi-logo.png' }}" />
      <mat-card-title>{{ listedClass?.name }}</mat-card-title>
      <mat-card-subtitle>{{ classID }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ listedClass?.description }}</p>
    </mat-card-content>
    <mat-chip-list>
      <mat-chip color="primary" selected>{{ listedClass?.nfts?.length }} Items</mat-chip>
      <mat-chip color="accent" selected>Pool 0 GUU</mat-chip>
      <mat-chip selected>APY 0 %</mat-chip>
    </mat-chip-list>
  </mat-card>
</div>
<mat-dialog-content>
  <div class="flex flex-wrap">
    <mat-card
      class="mat-elevation-z8 text-center w-64 m-5 p-0"
      *ngFor="let nft of listedClass?.nfts; index as i"
    >
      <img
        mat-card-image
        *ngIf="nftImages"
        src="{{ nftImages[i] || 'assets/UnUniFi-logo.png' }}"
        class="object-cover h-64 m-0"
        style="margin: 0%"
        alt="image of the NFT class"
      />
      <mat-card-title class="mt-2">
        {{ nft.id }}
      </mat-card-title>
      <mat-card-content class="mb-4">
        <span class="flex-auto"></span>
        <button class="text-blue-400" mat-button (click)="onSubmit(nft.id!)">
          Lend this NFT's owner
        </button>
        <span class="flex-auto"></span>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
