<div class="flex justify-center">
  <div class="text-base-content max-w-full">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure class="aspect-square w-full">
        <img
          src="{{ nftImage || 'assets/UnUniFi-logo.png' }}"
          alt="image of the NFT"
          class="h-full object-cover"
        />
      </figure>
      <div class="card-body w-2/3">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary">{{ listingInfo?.state }}</div>
        </div>
        <h2 class="card-title break-all">
          {{ nftMetadata?.name || classID + '/' + nftID }}
        </h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Class ID</th>
                <td>{{ classID }}</td>
              </tr>
              <tr>
                <th>NFT ID</th>
                <td>{{ nftID }}</td>
              </tr>
              <tr>
                <th>Minimum deposit rate</th>
                <td>{{ listingInfo?.minimum_deposit_rate | percentage }}</td>
              </tr>
              <tr>
                <th>Started at</th>
                <td>{{ listingInfo?.started_at | date : 'yyyy-M-d a h:mm:ss z' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br />

    <div class="flex flex-col lg:flex-row">
      <div #chartCardRef class="card bg-base-100 shadow-xl w-full lg:w-2/3 mb-4 lg:mb-0 lg:mr-4">
        <h3 class="m-4 card-title">Deposits</h3>
        <google-chart
          *ngIf="chartData"
          [title]="chartTitle"
          [type]="chartType"
          [data]="chartData"
          [columns]="chartColumns"
          [options]="chartOptions"
        >
        </google-chart>
      </div>

      <span class="flex-auto"></span>
      <div class="card bg-base-100 shadow-xl w-full lg:w-auto">
        <h3 class="m-4 card-title">Borrow</h3>
        <div class="card-body">
          <form #formRef="ngForm" (submit)="onSubmit()">
            <div class="form-control">
              <span class="label">
                <span class="label-text">Enter borrow amount</span>
                <!-- The button to open modal -->
                <label for="modal-bid-price"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-bid-price" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is the borrow amount?</h3>
                    <p class="py-4">
                      NFT listers can borrow tokens from the bid deposit. Borrowing will be made in
                      order of bids with lower interest rates. You must pay interest in addition to
                      the borrowed tokens by the repayment deadline. If you are unable to repay, the
                      NFT will be liquidated, but if there are other available bids, refinancing
                      will be carried out.
                    </p>
                    <div class="modal-action">
                      <label for="modal-bid-price" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input
                  required
                  type="number"
                  name="amount"
                  [(ngModel)]="borrowAmount"
                  class="input input-bordered w-full"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                />
                <span>{{ borrowDenom }}</span>
              </label>
            </div>

            <div class="stats flex flex-row justify-end my-4">
              <div class="stat flex flex-col items-end">
                <div class="stat-title">Average interest rate</div>
                <div class="stat-value">{{ averageInterestRate | percentage }}</div>
                <div class="stat-desc"></div>
              </div>
              <div class="stat flex flex-col items-end">
                <div class="stat-title">Shortest expiry date</div>
                <div class="stat-value">{{ shortestExpiryDate | date : 'yyyy-M-d' }}</div>
                <div class="stat-desc">{{ shortestExpiryDate | date : 'a h:mm:ss z' }}</div>
              </div>
            </div>
            <div class="flex flex-row">
              <span class="flex-auto"></span>
              <button
                type="button"
                class="btn btn-secondary btn-outline mr-2 px-8"
                (click)="onSimulate()"
              >
                Simulate
              </button>
              <button class="btn btn-secondary px-8">Borrow</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <br />

    <div *ngIf="bidders?.length" class="card bg-base-100 shadow-xl">
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th></th>
              <td>Interest</td>
              <td>Deposit</td>
              <td>Bid price</td>
              <td>Expiry</td>
              <td>Bidder</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bidder of bidders; let i = index">
              <th>#{{ i + 1 }}</th>
              <td>{{ bidder.deposit_lending_rate | percentage }}</td>
              <td>{{ bidder.deposit_amount | coin }}</td>
              <td>{{ bidder.bid_amount | coin }}</td>
              <td>{{ bidder.bidding_period | date : 'yyyy-M-d a h:mm z' }}</td>
              <td>{{ bidder.bidder }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
