<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs">
    <ul>
      <li routerLink="../.."><a>Vaults</a></li>
      <li>Deposits</li>
      <li>{{ owner }}</li>
    </ul>
  </div>

  <div class="w-full md:w-auto my-4">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Deposited Vaults</h2>
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-title">Total Deposited Amount</div>
            <div class="stat-value" *ngIf="usdTotalAmount === null">
              <div class="animate-pulse bg-slate-700 w-32 h-12 rounded-full"></div>
            </div>
            <div class="stat-value">{{ usdTotalAmount | currency }}</div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th></th>
                <th>Asset</th>
                <th>Amount</th>
                <th>Value</th>
                <th>Value (USD)</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let balance of vaultBalances; let i = index">
                <tr
                  class="hover cursor-pointer"
                  routerLink="/yield-aggregator/vaults/{{ balance.vaultId }}"
                >
                  <th>#{{ balance.vaultId }}</th>
                  <td>
                    <div class="flex items-center space-x-3 gap-2" *ngIf="symbols">
                      <ng-container *ngIf="symbols[i]?.img">
                        <div class="avatar">
                          <div class="mask mask-circle w-6 h-6">
                            <img src="{{ symbols[i].img }}" alt="Asset Symbol" />
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="!symbols[i]?.img">
                        <span class="material-symbols-outlined">question_mark</span>
                      </ng-container>
                      <span>
                        {{ symbols[i].display }}
                      </span>
                    </div>
                  </td>
                  <td>{{ balance.amount | coinAmount }}</td>
                  <td>
                    {{ estimatedRedeemAmounts?.[i]?.total_amount | coinAmount: estimatedRedeemAmounts?.[i]?.share_amount?.denom }}
                    {{ symbols?.[i]?.display }}
                  </td>
                  <td>{{ usdDepositAmount?.[i] | currency }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <p *ngIf="!vaultBalances?.length" class="text-center">There is no deposited vault.</p>
        </div>
      </div>
    </div>
  </div>
</div>
