<div class="card bg-base-100 shadow-xl overflow-y-auto">
  <div class="card-body flex flex-col items-center">
    <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
    <ng-container *ngIf="txData; then exist; else empty"></ng-container>
    <ng-template #exist>
      <h2 class="card-title">Transaction accepted!</h2>
      <p style="white-space: pre-wrap">{{ txData?.msg }}</p>
      <form (submit)="onClickClose()">
        <div class="hidden md:block mockup-code text-primary-content mb-4">
          <pre><code class="break-all font-mono">{{ txData?.txHash }}</code></pre>
          <div class="flex flex-row justify-end mt-2">
            <label class="btn" (click)="copyClipboard(txData?.txHash!)">
              <mat-icon>content_copy</mat-icon>Copy
            </label>
          </div>
        </div>
        <div class="flex flex-col md:hidden">
          <P class="text-md">Tx hash</P>
          <p class="text-lg break-all font-mono">{{ txData?.txHash }}</p>
        </div>

        <div class="flex flex-col md:flex-row justify-end">
          <label class="btn btn-outline btn-info px-8 mb-4 md:mr-4" (click)="onClickOpenTxDetail()"
            >View Tx</label
          >
          <button class="btn btn-secondary px-8">Close</button>
        </div>
      </form>
    </ng-template>
    <ng-template #empty>
      <div class="font-bold text-xl m-3">An error occurred in Tx broadcasting.</div>
      <div class="flex flex-col md:flex-row justify-end">
        <button class="btn btn-secondary">Close</button>
      </div>
    </ng-template>
  </div>
</div>
