<div class="card bg-base-100 shadow-xl overflow-y-auto">
  <div class="flex flex-col items-end md:hidden">
    <button mat-icon-button class="mt-2 mr-2" (click)="onClickClose()">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>
  <div class="card-body">
    <div class="flex flex-col items-center">
      <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
      <div class="font-bold text-xl m-3">Claim Validator Commission</div>
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Validator</span>
      </label>
      <ul class="menu bg-base-100">
        <li class="disabled">
          <a class="text-base-content items-center">
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ color: getColorCode(validator?.operator_address!) }"
            >
              circle
            </span>
            {{ validator?.description?.moniker }}
          </a>
        </li>
      </ul>
    </div>

    <form #formRef="ngForm" (submit)="onSubmit()">
      <div class="card-actions justify-end mt-4">
        <button class="btn btn-secondary w-full md:w-auto md:px-8" [disabled]="formRef.invalid">
          Claim Delegator Reward
        </button>
      </div>
    </form>
  </div>
</div>
