<view-delegate-menu-dialog
  [selectedValidator]="selectedValidator"
  [currentStoredWallet]="currentStoredWallet$ | async"
  [delegations]="delegations$ | async"
  [delegateAmount]="delegateAmount$ | async"
  [isDelegated]="isDelegated$ | async"
  [totalRewards]="totalRewards$ | async"
  [commission]="commission$ | async"
  [isValidator]="isValidator$ | async"
  (appDelegate)="onSubmitDelegate($event)"
  (appRedelegate)="onSubmitRedelegate($event)"
  (appUndelegate)="onSubmitUndelegate($event)"
  (appWithdrawDelegatorReward)="onSubmitWithdrawDelegatorReward($event)"
  (appWithdrawValidatorCommission)="onSubmitWithdrawValidatorCommission($event)"
  (appDetail)="onSubmitDetail($event)"
></view-delegate-menu-dialog>
