<div class="dropdown dropdown-end">
  <div tabindex="0" class="btn gap-1 btn-ghost">
    <mat-icon>apps</mat-icon>
    <span class="hidden md:inline">Apps</span>
    <mat-icon class="hidden md:inline">keyboard_arrow_down</mat-icon>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu sm:p-2 shadow bg-base-100 text-base-content rounded-box w-52"
  >
    <li *ngFor="let app of apps">
      <a routerLink="{{ app.link }}">
        <mat-icon color="primary" class="mr-2">{{ app.icon }}</mat-icon>
        {{ app.name }}
      </a>
    </li>
  </ul>
</div>
