<div class="dropdown dropdown-end">
  <div tabindex="0" class="btn gap-1 btn-ghost">
    <span class="material-symbols-outlined">apps</span>
    <span class="hidden md:inline">Apps</span>
    <span class="material-symbols-outlined hidden md:inline">keyboard_arrow_down</span>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu sm:p-2 shadow bg-base-100 text-base-content rounded-box w-52"
  >
    <li *ngFor="let app of apps">
      <a routerLink="{{ app.link }}" class="gap-2">
        <span class="material-symbols-outlined">{{ app.icon }}</span>
        {{ app.name }}
      </a>
    </li>
  </ul>
</div>
