<div class="flex justify-center">
  <div class="text-base-content w-full">
    <mat-card class="mb-4 mat-elevation-z8">
      <mat-card-title>Lending Status</mat-card-title>
      <mat-list>
        <mat-list-item>
          <span>Total Deposit:</span>
          <span class="flex-auto"></span>
          <span class="ml-2" *ngFor="let deposit of depositCoins">{{ deposit | coin }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span>Total Lending:</span>
          <span class="flex-auto"></span>
          <span class="ml-2" *ngFor="let lend of lendCoins">{{ lend | coin }}</span>
          <span *ngIf="!lendCoins || !lendCoins.length">0Token</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="biddingNftsInfo?.bidding">
          <span>Bidding:</span>
          <span class="flex-auto"></span>
          <span>{{ biddingNftsInfo?.bidding }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="biddingNftsInfo?.selling_decision">
          <span>Selling Decision:</span>
          <span class="flex-auto"></span>
          <span>{{ biddingNftsInfo?.selling_decision }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="biddingNftsInfo?.end_listing">
          <span>End Listing:</span>
          <span class="flex-auto"></span>
          <span>{{ biddingNftsInfo?.end_listing }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="biddingNftsInfo?.successful_bid">
          <span>Sold Out:</span>
          <span class="flex-auto"></span>
          <span>{{ biddingNftsInfo?.successful_bid }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <button
        *ngIf="
          biddingNftsInfo?.bidding ||
          biddingNftsInfo?.selling_decision ||
          biddingNftsInfo?.end_listing ||
          biddingNftsInfo?.successful_bid
        "
        mat-flat-button
        class="mt-4 px-8"
        color="accent"
        routerLink="lender"
      >
        View Your Lending
      </button>
    </mat-card>

    <mat-card class="mb-4 mat-elevation-z8">
      <mat-card-title>Lend Tokens</mat-card-title>
      <h3>Set Lending Parameter</h3>
      <form #formRef="ngForm" (submit)="onSubmit()">
        <div class="flex flex-row content-center items-center mb-4">
          <mat-form-field class="flex-auto">
            <mat-label>Lend (Deposit)</mat-label>
            <input
              matNativeControl
              #depositRef
              name="deposit"
              [(ngModel)]="depositAmount"
              [min]="0"
              required
            />
            <mat-hint *ngIf="balances"
              >Available balance: {{ balances[selectedDenom] || 0 }}{{ selectedDenom }}</mat-hint
            >
            <!-- <mat-error>Required!</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="selectedDenom" (selectionChange)="onChangeSymbol()">
              <mat-option *ngFor="let denom of denoms" [value]="denom">
                {{ denom }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Interest Rate</mat-label>
          <input
            matNativeControl
            #interestRef
            name="interest"
            [(ngModel)]="interestRate"
            [min]="0"
            required
          />
          <!-- <mat-error>Required!</mat-error> -->
          <span matSuffix>&nbsp;%</span>
        </mat-form-field>
        <mat-slider
          thumbLabel
          class="w-full"
          [max]="20"
          [min]="0"
          [step]="0.1"
          [(ngModel)]="interestRate"
          name="leverage-slider"
        >
        </mat-slider>
        <mat-form-field class="w-full">
          <mat-label>Repayment Term</mat-label>
          <input
            matInput
            [ngxMatDatetimePicker]="picker"
            placeholder="Choose a date & time"
            [(ngModel)]="datePicker"
            name="picker"
          />
          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [showSpinners]="true"
            [showSeconds]="false"
            [stepHour]="1"
            [stepMinute]="1"
            [stepSecond]="1"
            [enableMeridian]="false"
          ></ngx-mat-datetime-picker>
        </mat-form-field>
        <button mat-flat-button class="mt-4 px-8" color="primary">
          <mat-icon>photo_library</mat-icon>
          <span>Search NFTs</span>
        </button>
      </form>
    </mat-card>

    <!-- <mat-card *ngIf="!isSubmitted" class="mb-4 mat-elevation-z8">
      <mat-card-title>Your Balance</mat-card-title>
      <mat-list>
        <mat-list-item *ngIf="balances === null">
          <mat-spinner></mat-spinner>
        </mat-list-item>
        <mat-list-item *ngIf="balances === undefined"> No Balances! </mat-list-item>
        <mat-list-item *ngIf="balances && balances.length === 0"> No Balances! </mat-list-item>
        <ng-container *ngIf="balances && balances.length > 0">
          <mat-list-item *ngFor="let balance of balances; last as last">
            <span class="flex-auto"></span>
            <span class="mr-2">{{ balance.amount | number : '1.0-0' }}</span>
            <span>{{ balance.denom }}</span>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card> -->

    <ng-container *ngIf="listedClasses === null; then loading; else loaded"> </ng-container>

    <ng-template #loading>
      <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
    <ng-template #loaded>
      <ng-container
        *ngIf="!listedClasses || listedClasses.length === 0; then empty; else filled"
      ></ng-container>
    </ng-template>

    <ng-template #filled>
      <div *ngIf="isSubmitted">
        <h3 class="text-base-100">Listing NFT Collection</h3>
        <div class="flex flex-wrap md:-ml-5">
          <mat-card
            class="mat-elevation-z8 text-center w-64 md:ml-5 mb-5 p-0"
            *ngFor="let class of listedClasses; index as i"
          >
            <img
              mat-card-image
              *ngIf="classImages"
              src="{{ classImages[i] }}"
              class="object-cover h-64 m-0"
              alt="image of the NFT class"
            />
            <mat-card-title class="py-1">
              {{ class.name }}
            </mat-card-title>
            <mat-card-subtitle class="break-all font-semibold text-sm text-gray-500">
              {{ class.class_id }}
            </mat-card-subtitle>
            <mat-card-content>
              <p>{{ class.description }}</p>
            </mat-card-content>
            <mat-card-content class="mb-4">
              <span class="flex-auto"></span>
              <button class="text-blue-400" mat-button (click)="onClickClass(class.class_id)">
                View collection
              </button>
              <span class="flex-auto"></span>
            </mat-card-content>
          </mat-card>
          <span class="flex-auto"></span>
        </div>
      </div>
    </ng-template>
    <ng-template #empty>
      <mat-card *ngIf="isSubmitted">
        <mat-card-content>
          <p>There is no NFT holder to lend.</p>
          <p>Try to change token type to lend.</p>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>
