<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Liquidity Pools</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="join">
      <button class="btn btn-sm btn-primary join-item">Earn</button>
      <button class="btn btn-sm btn-primary glass join-item" (click)="changeAdvanced()">
        Trade
      </button>
    </div>
  </div>

  <p class="font-bold">Simple and secure.</p>
</div>
