<h2 class="mb-0">Transaction</h2>
<mat-card class="mb-2">
  <mat-list>
    <mat-list-item>
      <span class="whitespace-nowrap">TxHash:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">{{ tx?.tx_response?.txhash }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Height: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all">{{ tx?.tx_response?.height }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Gas Used: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all">{{ tx?.tx_response?.gas_used }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Gas Wanted: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all">{{ tx?.tx_response?.gas_wanted }}</span>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>

    <mat-list-item>
      <span class="whitespace-nowrap">Timestamp: </span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-xs sm:text-base">
        {{ tx?.tx_response?.timestamp | date: 'yyyy-M-d a h:mm:ss z' }}
      </span>
    </mat-list-item>
  </mat-list>
</mat-card>
