<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <h2>Vault Management</h2>
  </div>
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title break-all">Your Vaults Info</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">Average APY</div>
            <div class="stat-value">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Average TVL</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Deposited</div>
            <div class="stat-value">$ 123</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Total Earnings</div>
            <div class="stat-value">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>
        <div class="card-actions justify-end">
          <button class="btn btn-primary px-8" routerLink="/yield-aggregator/vaults/create">
            Create a New Vault
          </button>
        </div>
      </div>
    </div>
  </div>

  <h3>Your Vaults</h3>
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#0</div>
          <div class="badge badge-lg badge-secondary mr-1">USDC</div>
        </div>
        <h2 class="card-title">USDC Vault</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">TVL</div>
            <div class="stat-value text-primary">$ 1.23</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Deposits</div>
            <div class="stat-value">$ 123.4</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Earnings</div>
            <div class="stat-value text-primary">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th></th>
                <th>Strategy Name</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover">
                <th>#s01</th>
                <td>Mars Lending</td>
                <td>50%</td>
              </tr>
              <tr class="hover">
                <th>#s02</th>
                <td>Mercury Lending</td>
                <td>50%</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-actions justify-end hidden lg:flex">
          <label for="transfer-modal-0" class="btn btn-outline btn-secondary mr-2">Transfer</label>
          <label for="delete-modal-0" class="btn btn-outline btn-error">Delete</label>
        </div>
        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="transfer-modal-0" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to transfer the ownership of this Vault?</h3>
            <form>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter Destination address</span>
                </label>
                <input type="text" value="ununifi" class="input input-bordered w-full" />
              </div>

              <p class="py-4">
                The ownership of the vault #0 will be transferred to the address, OK?
              </p>
              <div class="modal-action">
                <label for="transfer-modal-0" class="btn btn-outline">Cancel</label>
                <button class="btn btn-secondary">Transfer</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="delete-modal-0" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to delete this Vault?</h3>
            <form>
              <p class="py-4">The vault #0 will be deleted, OK?</p>
              <div class="modal-action">
                <label for="delete-modal-0" class="btn btn-outline">Cancel</label>
                <button class="btn btn-error">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#1</div>
          <div class="badge badge-lg badge-secondary mr-1">GUU</div>
        </div>
        <h2 class="card-title">GUU Vault</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">TVL</div>
            <div class="stat-value text-primary">$ 1.23</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Deposits</div>
            <div class="stat-value">$ 123.4</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Earnings</div>
            <div class="stat-value text-primary">$ 12.3</div>
            <div class="stat-desc"></div>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table table-zebra w-full">
            <thead>
              <tr>
                <th></th>
                <th>Strategy Name</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>#s01</th>
                <td>Mars Lending</td>
                <td>100%</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-actions justify-end hidden lg:flex">
          <label for="transfer-modal-1" class="btn btn-outline btn-secondary mr-2">Transfer</label>
          <label for="delete-modal-1" class="btn btn-outline btn-error">Delete</label>
        </div>
        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="transfer-modal-1" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to transfer the ownership of this Vault?</h3>
            <form>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter Destination address</span>
                </label>
                <input type="text" value="ununifi" class="input input-bordered w-full" />
              </div>

              <p class="py-4">
                The ownership of the vault #1 will be transferred to the address, OK?
              </p>
              <div class="modal-action">
                <label for="transfer-modal-1" class="btn btn-outline">Cancel</label>
                <button class="btn btn-secondary">Transfer</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="delete-modal-1" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to delete this Vault?</h3>
            <form>
              <p class="py-4">The vault #1 will be deleted, OK?</p>
              <div class="modal-action">
                <label for="delete-modal-1" class="btn btn-outline">Cancel</label>
                <button class="btn btn-error">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
