<div class="flex flex-col items-center">
  <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
  <div class="font-bold text-xl m-3">Undelegate from this validator</div>
</div>

<mat-list>
  <mat-label>To. (Validator Address)</mat-label>
  <mat-list-item>
    <mat-icon matListIcon [ngStyle]="{ color: getColorCode(validator?.operator_address!) }"
      >circle</mat-icon
    >
    <div mat-line>
      <span>{{ validator?.operator_address }}</span>
    </div>
  </mat-list-item>
</mat-list>

<mat-list>
  <mat-label>From. (Delegator Address)</mat-label>
  <mat-list-item>
    <mat-icon matListIcon [ngStyle]="{ color: getColorCode(currentStoredWallet?.address!) }"
      >circle</mat-icon
    >
    <div mat-line>
      <span>{{ currentStoredWallet?.address }}</span>
    </div>
  </mat-list-item>
</mat-list>

<form #formRef="ngForm" (submit)="onSubmit(minimumGasPriceRef.value)">
  <div class="flex flex-row content-content items-end">
    <mat-form-field class="flex-auto">
      <mat-label>Delegate Denom</mat-label>
      <input
        [(ngModel)]="selectedAmount && selectedAmount.denom"
        name="delegate-denom"
        matInput
        type="text"
        required
        readonly
      />
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>UnDelegate Amount</mat-label>
      <input
        [(ngModel)]="selectedAmount && selectedAmount.amount"
        name="undelegate-amount"
        matInput
        type="number"
        pattern="^\d+$"
        [min]="0"
        required
      />
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Delegated Amount</mat-label>
      <input
        [(ngModel)]="delegateAmount && delegateAmount.amount"
        name="delegate-amount"
        matInput
        type="number"
        pattern="^\d+$"
        [min]="0"
        required
        readonly
      />
    </mat-form-field>
  </div>

  <h3 class="pt-3">Gas Settings</h3>
  <div class="flex flex-row content-content items-end">
    <mat-form-field class="flex-auto">
      <mat-label>Minimum Gas Denom</mat-label>
      <mat-select
        [(ngModel)]="selectedGasPrice && selectedGasPrice.denom"
        name="minimum-gas-denom"
        required
        (valueChange)="onMinimumGasDenomChanged($event)"
      >
        <mat-option
          *ngFor="let minimumGasPriceOption of minimumGasPrices"
          [value]="minimumGasPriceOption.denom"
        >
          {{ minimumGasPriceOption.denom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Minimum Gas Price</mat-label>
      <input
        [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
        #minimumGasPriceRef
        name="minimum-gas-price"
        matInput
        type="number"
        [min]="0"
        required
      />
    </mat-form-field>
  </div>
  <mat-slider
    class="w-full"
    [max]="1"
    [min]="0"
    [step]="0.015"
    [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
    name="minimum-gas-price-slider"
  >
  </mat-slider>

  <button mat-flat-button class="w-full" color="accent" [disabled]="formRef.invalid">
    Delete Delegate
  </button>
</form>
