<div class="card bg-base-100 shadow-xl overflow-y-auto">
  <div class="flex flex-col items-end md:hidden">
    <button mat-icon-button class="mt-2 mr-2" (click)="onClickClose()">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>
  <div class="card-body">
    <div class="flex flex-col items-center">
      <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
      <div class="font-bold text-xl m-3">Undelegate from this validator</div>
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">To. (Validator)</span>
      </label>
      <ul class="menu bg-base-100">
        <li class="disabled">
          <a class="text-base-content items-center">
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ color: getColorCode(validator?.operator_address!) }"
            >
              circle
            </span>
            {{ validator?.description?.moniker }}
          </a>
        </li>
      </ul>
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">From. (Delegator)</span>
      </label>
      <ul class="menu bg-base-100">
        <li class="disabled">
          <a class="text-base-content items-center">
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ color: getColorCode(currentStoredWallet?.address!) }"
            >
              circle
            </span>
            {{ currentStoredWallet?.id }}
          </a>
        </li>
      </ul>
    </div>

    <ng-container
      *ngIf="unbondingDelegation?.unbond?.entries?.[0]; then unbonding; else beforeUnbonding"
    >
    </ng-container>

    <ng-template #unbonding>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Unbonding Date</span>
        </label>
        <ul class="menu bg-base-100">
          <li class="disabled">
            <a class="text-base-content items-center">
              {{unbondingDelegation?.unbond?.entries?.[0]?.completion_time| date: 'yyyy-MM-dd a hh:mm:ss z'}}
            </a>
          </li>
        </ul>
      </div>
    </ng-template>

    <ng-template #beforeUnbonding>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Unbonding Date (estimated.)</span>
        </label>
        <ul class="menu bg-base-100">
          <li class="disabled">
            <a class="text-base-content items-center">
              {{ estimatedUnbondingData | date : 'yyyy-MM-dd a hh:mm:ss z' }}
            </a>
          </li>
        </ul>
      </div>
    </ng-template>

    <form #formRef="ngForm" (submit)="onSubmit()">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">UnDelegate Amount</span>
        </label>
        <label class="input-group">
          <input
            name="undelegate-amount"
            type="number"
            placeholder="12.123456"
            class="input input-bordered w-full"
            [(ngModel)]="undelegateAmount"
            [min]="0"
            required
            pattern="^\d+(\.\d{1,6})?$"
          />
          <span>{{ denom | coinDenom | async }}</span>
        </label>

        <label class="label">
          <span class="label-text text-xs">
            Delegated Amount: {{ delegateCoin | coin | async }}
          </span>
        </label>
      </div>

      <div class="card-actions justify-end mt-4">
        <button class="btn btn-error w-full md:w-auto md:px-8" [disabled]="formRef.invalid">
          Undelegate
        </button>
      </div>
    </form>
  </div>
</div>
