<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <h2>Exemplary traders</h2>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#1</div>
        </div>
        <h2 class="card-title">UnUniFi Exemplary traders 1</h2>
        <table class="table w-full">
          <tbody>
            <tr>
              <th>Address</th>
              <td>ununifi155u042u8wk3al32h3vzxu989jj76k4zcu44v6w</td>
            </tr>
            <tr>
              <th>Registered Date</th>
              <td>2023-3-14 AM 12:50:08 GMT+9</td>
            </tr>
          </tbody>
        </table>
        <p>
          The momentum trading strategy involves identifying a cryptocurrency that is on an upward
          trend and has high trading volume. Traders can use technical analysis to identify these
          trends through analyzing charts and indicators like moving averages, relative strength
          index (RSI), and stochastic oscillators.
        </p>
        <p>
          Once a promising cryptocurrency has been identified, the trader opens a position by buying
          in at a relatively low price. The goal is to ride the upward trend and sell off the
          position as the price continues to rise.
        </p>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">Current APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Commission Fee</div>
            <div class="stat-value">1.23%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Users</div>
            <div class="stat-value text-primary">1024</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <p class="my-40 ml-40">Chart Coming soon</p>

        <div class="card-actions justify-end">
          <label for="trace-model" class="btn btn-primary px-8"> Subscribe </label>
          <label for="untrace-model" class="btn btn-outline btn-error px-8"> Unsubscribe </label>
          <label for="update-model" class="btn btn-info px-8"> Update </label>
          <label for="delete-model" class="btn btn-outline btn-error px-8"> Delete </label>
        </div>
        <input type="checkbox" id="trace-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to subscribe this Trader?</h3>
            <form>
              <div class="form-control mb-2">
                <label class="label">
                  <span class="label-text">Enter Coefficient of Position Size</span>
                </label>
                <label class="input-group">
                  <input
                    type="number"
                    name="rate"
                    [(ngModel)]="sizeCoef"
                    [min]="0"
                    [max]="1000"
                    [step]="1"
                    class="input input-bordered w-full"
                  />
                  <span>%</span>
                </label>

                <input
                  type="range"
                  min="0"
                  max="1000"
                  [(ngModel)]="sizeCoef"
                  [ngClass]="{
                    'range-info': sizeCoef <= 200,
                    'range-warning': 200 < sizeCoef && sizeCoef < 1000,
                    'range-error': 1000 <= sizeCoef
                  }"
                  class="range mt-1"
                  name="rate-slider"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter Coefficient of Leverage</span>
                </label>
                <label class="input-group">
                  <input
                    placeholder="100"
                    type="number"
                    name="rate"
                    [(ngModel)]="leverageCoef"
                    [min]="0"
                    [max]="1000"
                    [step]="1"
                    class="input input-bordered w-full"
                  />
                  <span>%</span>
                </label>
                <input
                  type="range"
                  min="0"
                  max="10"
                  [(ngModel)]="leverageCoef"
                  [ngClass]="{
                    'range-info': leverageCoef <= 200,
                    'range-warning': 200 < leverageCoef && leverageCoef < 1000,
                    'range-error': 1000 <= leverageCoef
                  }"
                  class="range mt-1"
                  name="rate-slider"
                />
              </div>
              <div class="modal-action">
                <label for="trace-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-primary">Subscribe</button>
              </div>
            </form>
          </div>
        </div>

        <input type="checkbox" id="untrace-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to unsubscribe this Trader?</h3>
            <form>
              <div class="modal-action">
                <label for="untrace-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-error">Unsubscribe</button>
              </div>
            </form>
          </div>
        </div>

        <input type="checkbox" id="delete-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to delete yor Exemplary trader?</h3>
            <form>
              <div class="modal-action">
                <label for="delete-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-error">Delete</button>
              </div>
            </form>
          </div>
        </div>

        <input type="checkbox" id="update-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">
              Are you sure to update your Exemplary trader settings?
            </h3>
            <form>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter New Description</span>
                </label>
                <textarea
                  class="textarea textarea-bordered"
                  placeholder="Exemplary Trader Description"
                ></textarea>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter New Commission Rate</span>
                </label>
                <label class="input-group">
                  <input
                    type="number"
                    name="rate"
                    [(ngModel)]="newRate"
                    [min]="0"
                    [max]="commissionRate || 0"
                    [step]="0.1"
                    class="input input-bordered w-full"
                  />
                  <span>%</span>
                </label>

                <input
                  placeholder="1"
                  type="range"
                  min="0"
                  max="commissionRate"
                  [(ngModel)]="newRate"
                  [ngClass]="{
                    'range-info': newRate || 0 <= (commissionRate || 0) / 2,
                    'range-warning':
                      (commissionRate || 0) / 2 < (newRate || 0) &&
                      (newRate || 0) < (commissionRate || 0),
                    'range-error': newRate === commissionRate
                  }"
                  class="range mt-1"
                  name="rate-slider"
                />
              </div>
              <div class="modal-action">
                <label for="update-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-info">Update Info</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
