<div class="mx-auto max-w-screen-xl">
  <h2>Exemplary traders</h2>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">{{ trader?.name }}</h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <td>Address</td>
                <td>{{ exemplaryTraderAddress }}</td>
              </tr>
              <tr>
                <td>Exemplary trader name</td>
                <td>{{ trader?.name }}</td>
              </tr>
              <tr>
                <td>Commission Fee</td>
                <td>{{ trader?.profit_commission_rate | percent : '1.2-2' }}</td>
              </tr>
              <tr>
                <td>Users</td>
                <td>{{ userCount || 0 }}</td>
              </tr>
              <tr>
                <td>Current APY</td>
                <td>Coming Soon</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>{{ trader?.description }}</p>

        <ng-container>
          <h2 class="card-title">Tracing Info</h2>
          <div class="flex flex-row">
            <div *ngIf="tracing?.reverse" class="badge badge-lg badge-error mr-1">Reverse</div>
          </div>
          <div class="stats stats-vertical md:stats-horizontal">
            <div class="stat">
              <div class="stat-title">Size Coefficient</div>
              <div class="stat-value text-primary">
                x {{ tracing?.size_coefficient || 0 | number }}
              </div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat">
              <div class="stat-title">Leverage Coefficient</div>
              <div class="stat-value text-secondary">
                x {{ tracing?.leverage_coefficient || 0 | number }}
              </div>
              <div class="stat-desc"></div>
            </div>
          </div>
        </ng-container>

        <div class="card-actions justify-end">
          <label
            *ngIf="address !== exemplaryTraderAddress && !isTracing"
            for="trace-model"
            class="btn btn-primary w-full md:w-auto md:px-8"
          >
            Subscribe
          </label>
          <label
            *ngIf="isTracing"
            for="untrace-model"
            class="btn btn-outline btn-error w-full md:w-auto md:px-8"
          >
            Unsubscribe
          </label>
          <label
            *ngIf="address === exemplaryTraderAddress"
            for="update-model"
            class="btn btn-info w-full md:w-auto md:px-8"
          >
            Update
          </label>
          <label
            *ngIf="address === exemplaryTraderAddress"
            for="delete-model"
            class="btn btn-outline btn-error w-full md:w-auto md:px-8"
          >
            Delete
          </label>
        </div>
        <input type="checkbox" id="trace-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to subscribe this Trader?</h3>
            <form #createFormRef="ngForm" (submit)="onClickCreateTracing()">
              <div class="form-control mb-2">
                <label class="label">
                  <span class="label-text">Enter Coefficient of Position Size</span>
                </label>
                <label class="input-group">
                  <span>x</span>
                  <input
                    required
                    type="number"
                    name="size"
                    [(ngModel)]="sizeCoef"
                    [min]="0"
                    [step]="0.1"
                    class="input input-bordered w-full"
                  />
                </label>

                <input
                  type="range"
                  [min]="0"
                  [max]="10"
                  [step]="0.1"
                  [(ngModel)]="sizeCoef"
                  [ngClass]="{
                    'range-info': sizeCoef <= 2,
                    'range-warning': 2 < sizeCoef && sizeCoef < 10,
                    'range-error': 10 <= sizeCoef
                  }"
                  class="range mt-1"
                  name="size-slider"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter Coefficient of Leverage</span>
                </label>
                <label class="input-group">
                  <span>x</span>
                  <input
                    placeholder="100"
                    type="number"
                    name="leverage"
                    [(ngModel)]="leverageCoef"
                    [min]="0"
                    [step]="0.1"
                    class="input input-bordered w-full"
                  />
                </label>
                <input
                  type="range"
                  [min]="0"
                  [max]="10"
                  [step]="0.1"
                  [(ngModel)]="leverageCoef"
                  [ngClass]="{
                    'range-info': leverageCoef <= 2,
                    'range-warning': 2 < leverageCoef && leverageCoef < 10,
                    'range-error': 10 <= leverageCoef
                  }"
                  class="range mt-1"
                  name="leverage-slider"
                />
              </div>
              <div class="form-control mt-4">
                <label class="label"> <span class="label-text mr-2">Reverse</span></label>
                <label class="input-group">
                  <input
                    type="checkbox"
                    class="toggle toggle-error"
                    name="reverse"
                    [(ngModel)]="isReverse"
                  />
                </label>
              </div>
              <div class="modal-action">
                <label for="trace-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-primary" [disabled]="createFormRef.invalid">
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <input type="checkbox" id="untrace-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to unsubscribe this Trader?</h3>
            <div class="modal-action">
              <label for="untrace-model" class="btn btn-outline">Cancel</label>
              <button class="btn btn-error" (click)="onClickDeleteTracing()">Unsubscribe</button>
            </div>
          </div>
        </div>

        <input type="checkbox" id="delete-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to delete yor Exemplary trader?</h3>
            <div class="modal-action">
              <label for="delete-model" class="btn btn-outline">Cancel</label>
              <button class="btn btn-error" (click)="onClickDeleteTrader()">Delete</button>
            </div>
          </div>
        </div>

        <input type="checkbox" id="update-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">
              Are you sure to update your Exemplary trader settings?
            </h3>
            <form #updateFormRef="ngForm" (submit)="onClickUpdateTrader()">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter New Description</span>
                </label>
                <textarea
                  type="text"
                  name="description"
                  [(ngModel)]="description"
                  class="textarea textarea-bordered"
                  placeholder="Exemplary Trader Description"
                ></textarea>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Enter New Commission Rate</span>
                </label>
                <label class="input-group">
                  <input
                    required
                    type="number"
                    placeholder="e.g. 0.123456"
                    name="rate"
                    [(ngModel)]="newCommissionRate"
                    [min]="0"
                    [max]="commissionRate || 0"
                    [step]="0.1"
                    class="input input-bordered w-full"
                  />
                  <span>%</span>
                </label>

                <input
                  placeholder="1"
                  type="range"
                  min="0"
                  max="commissionRate"
                  [(ngModel)]="newCommissionRate"
                  [ngClass]="{
                    'range-info':
                      !newCommissionRate || newCommissionRate <= (commissionRate || 0) / 2,
                    'range-warning':
                      commissionRate &&
                      newCommissionRate &&
                      commissionRate / 2 < newCommissionRate &&
                      newCommissionRate < commissionRate,
                    'range-error':
                      commissionRate && newCommissionRate && commissionRate <= newCommissionRate
                  }"
                  class="range mt-1"
                  name="rate-slider"
                />
              </div>
              <div class="modal-action">
                <label for="update-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-info" [disabled]="updateFormRef.invalid">Update Info</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
