<ng-container *ngIf="txDetail">
  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <span class="badge badge-info"> {{ txDetail.txType }} </span>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>Voter</th>
            <td class="font-mono">
              {{ txDetail.fromAddress }}
            </td>
          </tr>
          <tr>
            <th>Proposal ID</th>
            <td>
              {{ txDetail.toAddress }}
            </td>
          </tr>
          <tr *ngFor="let voteOption of txDetail.voteOptions; let i = index">
            <th>{{ options[voteOption.option || 0].replace('VOTE_OPTION_', '') }}</th>
            <td>{{ voteOption.weight | percent : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
