<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li routerLink="../.."><a>Top</a></li>
      <li>Borrowing</li>
    </ul>
  </div>
  <div>
    <h2>Your NFTs</h2>
    <ng-container *ngIf="ownNfts === null; then loading; else loaded"> </ng-container>
    <ng-template #loading>
      <span class="loading loading-dots loading-lg"></span>
    </ng-template>
    <ng-template #loaded>
      <ng-container
        *ngIf="!ownNfts || !ownNfts.nfts || ownNfts.nfts.length === 0; then empty; else filled"
      ></ng-container>
    </ng-template>

    <ng-template #filled>
      <div class="flex flex-row flex-wrap sm:-mr-12 -mb-12">
        <div
          *ngFor="let nft of ownNfts?.nfts; let i = index"
          class="sm:pr-12 pb-12 md:w-1/3 lg:w-1/4 xl:w-1/5"
        >
          <div class="card w-full glass shadow-xl">
            <figure class="aspect-square w-full">
              <img
                *ngIf="ownNftImages"
                src="{{ ownNftImages[i] || 'assets/UnUniFi-logo.png' }}"
                alt=""
                class="h-full object-cover"
              />
              <img
                *ngIf="!ownNftImages"
                src="assets/UnUniFi-logo.png"
                alt=""
                class="h-full object-cover"
              />
            </figure>
            <div class="card-body">
              <span class="badge badge-primary">NOT LISTING</span>
              <h2 *ngIf="ownNftsMetadata" class="card-title break-all">
                {{ ownNftsMetadata[i].name + '/' + nft.id }}
              </h2>
              <h2 *ngIf="!ownNftsMetadata" class="card-title break-all">
                {{ nft.id }}
              </h2>
              <button
                class="btn btn-outline btn-info"
                routerLink="../../nfts/{{ nft.class_id }}/{{ nft.id }}/list"
              >
                List
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #empty>
      <p class="m-16">There is no NFT to list.</p>
    </ng-template>
  </div>

  <div>
    <h2>Listed NFTs</h2>
    <ng-container
      *ngIf="listedOwnNfts === null; then loadingListing; else loadedListing"
    ></ng-container>
    <ng-template #loadingListing>
      <span class="loading loading-dots loading-lg"></span>
    </ng-template>
    <ng-template #loadedListing>
      <ng-container
        *ngIf="!listedOwnNfts || listedOwnNfts.length === 0; then emptyListing; else filledListing"
      ></ng-container>
    </ng-template>
    <ng-template #filledListing>
      <div class="flex flex-row flex-wrap sm:-mr-12 -mb-12">
        <div
          *ngFor="let nft of listedOwnNfts; let i = index"
          class="sm:pr-12 pb-12 md:w-1/3 lg:w-1/4 xl:w-1/5"
        >
          <div class="card w-full glass shadow-xl">
            <figure class="aspect-square w-full">
              <img
                *ngIf="listedOwnNftImages"
                src="{{ listedOwnNftImages[i] || 'assets/UnUniFi-logo.png' }}"
                alt=""
                class="h-full object-cover"
              />
              <img
                *ngIf="!listedOwnNftImages"
                src="assets/UnUniFi-logo.png"
                alt=""
                class="h-full object-cover"
              />
            </figure>
            <div class="card-body">
              <span class="badge badge-primary">{{ nft.listing?.state }}</span>
              <h2 *ngIf="listedOwnNftsMetadata" class="card-title break-all">
                {{ listedOwnNftsMetadata[i].name + '/' + nft.listing?.nft_id?.nft_id }}
              </h2>
              <h2 *ngIf="!listedOwnNftsMetadata" class="card-title break-all">
                {{ nft.listing?.nft_id?.nft_id }}
              </h2>
              <button
                class="btn btn-outline btn-secondary"
                routerLink="../../nfts/{{ nft.listing?.nft_id?.class_id }}/{{
                  nft.listing?.nft_id?.nft_id
                }}"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #emptyListing>
      <p class="m-16">There is no listed NFT. Please list your NFTs.</p>
    </ng-template>
  </div>
</div>
