<h2 class="mb-0">Validators</h2>
<ng-container *ngIf="validators === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="(validators?.validators?.length || 0) > 0; then exist; else empty">
  </ng-container>
</ng-template>
<ng-template #exist>
  <mat-card>
    <mat-list>
      <mat-list-item>
        <span class="break-all truncate pr-4">Validator</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate">Voting Power</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate pr-4">Tokens</span>
        <span class="flex-auto"></span>
        <span class="break-all truncate pr-4">Commission</span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let validator of validators?.validators"
        routerLink="{{ validator.operator_address }}"
      >
        <mat-icon matListIcon [ngStyle]="{ color: getColorCode(validator) }"> circle </mat-icon>
        <span class="w-1/2 break-all text-sm sm:text-base">{{ validator.operator_address }}</span>
        <span class="flex-auto"></span>
        <!--<span class="break-all text-sm sm:text-base">{{ validator.operator_address }}</span>-->
        <span class="flex-auto"></span>
        <span class="break-all text-sm sm:text-base">{{ validator.tokens }}</span>
        <span class="flex-auto"></span>
        <!--<span class="break-all text-sm sm:text-base">{{ validator.operator_address }}</span>-->
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</ng-template>
<ng-template #empty>
  <p>There is no key.</p>
</ng-template>
