/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body{
  background-color: #020202;
  /* height: 200vh; */
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

*{
  color: #fff;
  text-overflow:clip;
  word-wrap: break-word;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
}

.icon {
  padding: 4px;
  min-width: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
