<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li routerLink=".."><a>Delegations</a></li>
      <li>{{ validator?.val?.description?.moniker || validatorAddress }}</li>
    </ul>
  </div>
  <ng-container *ngIf="validator === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <span class="loading loading-dots loading-lg"></span>
  </ng-template>
  <ng-template #loaded>
    <ng-container *ngIf="validator !== undefined; then exist; else notFound"> </ng-container>
  </ng-template>
  <ng-template #exist>
    <div class="card bg-base-100 shadow-xl mb-4">
      <div class="card-body w-full">
        <h2 class="card-title break-all flex flex-col md:flex-row">
          <mat-icon class="mr-1" matListIcon [ngStyle]="{ color: getColorCode(validator?.val) }">
            circle
          </mat-icon>
          {{ validator?.val?.description?.moniker }}
          <span *ngIf="validator?.inList" class="badge badge-info">Active</span>
          <span *ngIf="!validator?.inList" class="badge badge-error">Inactive</span>
        </h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <td>Validator Address</td>
                <td>
                  {{ validator?.val?.operator_address }}
                  <button
                    mat-icon-button
                    type="button"
                    (click)="copyClipboard(validator?.val?.operator_address || '')"
                  >
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Account Address</td>
                <td>
                  {{ accAddress }}
                  <button
                    mat-icon-button
                    type="button"
                    (click)="copyClipboard(accAddress?.toString() || '')"
                  >
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto mb-4">
      <table class="table w-full">
        <tbody>
          <tr>
            <td>Rank</td>
            <td>#{{ validator?.rank }}</td>
          </tr>
          <tr>
            <td>Website</td>
            <td>{{ validator?.val?.description?.website }}</td>
          </tr>
          <tr>
            <td>Commission</td>
            <td>{{ validator?.val?.commission?.commission_rates?.rate | percent : '1.0-0' }}</td>
          </tr>
          <tr>
            <td>Max Commission</td>
            <td>
              {{ validator?.val?.commission?.commission_rates?.max_rate | percent : '1.0-0' }}
            </td>
          </tr>
          <tr>
            <td>Commission Updated</td>
            <td>
              {{ validator?.val?.commission?.update_time | date : 'yyyy-MM-dd a hh:mm:ss z' }}
            </td>
          </tr>
          <tr>
            <td>Minimum Self Delegation</td>
            <td>{{ validator?.val?.min_self_delegation }}</td>
          </tr>
          <tr>
            <td>Voting Power</td>
            <td>{{ validator?.share | percent : '1.2-2' }}</td>
          </tr>
          <tr>
            <td>Staked</td>
            <td>{{ validator?.val?.tokens | coinAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #notFound>
    <p class="m-16">404 Not Found</p>
  </ng-template>
</div>
