<ng-container *ngIf="(txDetails?.length || 0) > 0; else empty">
  <ng-container *ngFor="let txDetail of txDetails; let i = index">
    <h3 *ngIf="txDetail" class="mt-4 ml-2 font-medium">Message #{{ i + 1 }}</h3>
    <ng-container [ngSwitch]="txDetail.txType">
      <!--distribution-->
      <view-msg-fund-community-pool *ngSwitchCase="'MsgFundCommunityPool'" [txDetail]="txDetail">
      </view-msg-fund-community-pool>
      <view-msg-set-withdraw-address *ngSwitchCase="'MsgSetWithdrawAddress'" [txDetail]="txDetail">
      </view-msg-set-withdraw-address>
      <view-msg-withdraw-deledator-reward
        *ngSwitchCase="'MsgWithdrawDelegatorReward'"
        [txDetail]="txDetail"
      >
      </view-msg-withdraw-deledator-reward>
      <view-msg-withdraw-validator-commission
        *ngSwitchCase="'MsgWithdrawValidatorCommission'"
        [txDetail]="txDetail"
      >
      </view-msg-withdraw-validator-commission>
      <!--staking-->
      <view-msg-create-validator *ngSwitchCase="'MsgCreateValidator'" [txDetail]="txDetail">
      </view-msg-create-validator>
      <view-msg-edit-validator *ngSwitchCase="'MsgEditValidator'" [txDetail]="txDetail">
      </view-msg-edit-validator>
      <view-msg-delegate *ngSwitchCase="'MsgDelegate'" [txDetail]="txDetail"></view-msg-delegate>
      <view-msg-begin-redelegate *ngSwitchCase="'MsgBeginRedelegate'" [txDetail]="txDetail">
      </view-msg-begin-redelegate>
      <view-msg-undelegate *ngSwitchCase="'MsgUndelegate'" [txDetail]="txDetail">
      </view-msg-undelegate>
      <!--gov-->
      <view-msg-vote *ngSwitchCase="'MsgVote'" [txDetail]="txDetail"></view-msg-vote>
      <view-msg-vote-weighted *ngSwitchCase="'MsgVoteWeighted'" [txDetail]="txDetail">
      </view-msg-vote-weighted>
      <view-msg-deposit *ngSwitchCase="'MsgDeposit'" [txDetail]="txDetail"></view-msg-deposit>
      <view-msg-submit-proposal *ngSwitchCase="'MsgSubmitProposal'" [txDetail]="txDetail">
      </view-msg-submit-proposal>
      <!--vesting-->
      <view-msg-create-vesting-account
        *ngSwitchCase="'MsgCreateVestingAccount'"
        [txDetail]="txDetail"
      >
      </view-msg-create-vesting-account>
      <!--bank-->
      <view-msg-send *ngSwitchCase="'MsgSend'" [txDetail]="txDetail"></view-msg-send>
    </ng-container>
    <view-msg-default [tx]="tx" [txDetail]="txDetail"></view-msg-default>
  </ng-container>
</ng-container>
<ng-template #empty>
  <p>* No message</p>
</ng-template>
