<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs">
    <ul>
      <li>Transaction</li>
    </ul>
  </div>
  <div class="card bg-base-100 text-base-content shadow-xl mb-4">
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table w-full">
          <tr>
            <th>TxHash</th>
            <td class="font-mono">
              <div class="flex items-center gap-2">
                {{ tx?.tx_response?.txhash }}
                <button
                  class="btn btn-circle btn-sm"
                  type="button"
                  (click)="copyClipboard(tx?.tx_response?.txhash || '')"
                >
                  <span class="material-symbols-outlined">content_copy</span>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th>Height</th>
            <td>{{ tx?.tx_response?.height }}</td>
          </tr>
          <tr>
            <th>Gas Used</th>
            <td>{{ tx?.tx_response?.gas_used }}</td>
          </tr>
          <tr>
            <th>Gas Wanted</th>
            <td>{{ tx?.tx_response?.gas_wanted }}</td>
          </tr>
          <tr>
            <th>Timestamp</th>
            <td>
              {{ tx?.tx_response?.timestamp | date : 'yyyy-MM-dd a hh:mm:ss z' }}
            </td>
          </tr>
          <tr>
            <th>Raw Log</th>
            <td>
              <div tabindex="0" class="collapse">
                <div class="collapse-title flex items-center gap-2 font-medium">
                  Click to show log
                  <button
                    class="btn btn-circle btn-sm"
                    type="button"
                    (click)="copyClipboard(tx?.tx_response?.raw_log || '')"
                  >
                    <span class="material-symbols-outlined">content_copy</span>
                  </button>
                </div>

                <div class="collapse-content">
                  <p class="font-mono" style="white-space: pre-wrap">
                    {{ tx?.tx_response?.raw_log | jsonFormat }}
                  </p>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h3 class="m-2">Msgs</h3>
  <ng-template ngFor let-message [ngForOf]="tx?.tx?.body?.messages">
    <ng-container *ngIf="unpackMsg(message) as msg">
      <div class="card bg-base-100 text-base-content shadow-xl mb-4">
        <div class="card-body">
          <div class="overflow-x-auto">
            <table class="table w-full">
              <tr>
                <th>Type</th>
                <td>{{ constructorName(msg) }}</td>
              </tr>
              <ng-template ngFor let-data [ngForOf]="entries(msg)">
                <tr>
                  <th>{{ data[0] }}</th>
                  <td class="font-mono">{{ data[1] | json }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <h3 class="m-2">Signatures</h3>
  <ng-template ngFor let-signerInfo [ngForOf]="tx?.tx?.auth_info?.signer_infos">
    <ng-container *ngIf="unpackKey(signerInfo.public_key) as pubKey">
      <div class="card bg-base-100 text-base-content shadow-xl mb-4">
        <div class="card-body">
          <div class="overflow-x-auto">
            <table class="table w-full">
              <tr>
                <th>Key Type</th>
                <td>{{ constructorName(pubKey) }}</td>
              </tr>
              <tr>
                <th>Public Key</th>
                <td class="font-mono">{{ pubKey | json }}</td>
              </tr>
              <tr>
                <th>Signature</th>
                <td class="font-mono">{{ signerInfo?.mode_info | json }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <h3 class="m-2">Logs</h3>
  <ng-template ngFor let-log [ngForOf]="tx?.tx_response?.logs">
    <ng-template ngFor let-event [ngForOf]="log.events">
      <div class="card bg-base-100 text-base-content shadow-xl mb-4">
        <div class="card-body">
          <div class="overflow-x-auto">
            <table class="table w-full">
              <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
              </tr>
              <ng-template ngFor let-attr [ngForOf]="event.attributes">
                <tr>
                  <th>{{ attr.key }}</th>
                  <td class="font-mono">{{ attr.value | json }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>

<!--
<h3>Data Download</h3>

<body>
  <button mat-flat-button color="accent" id="download" type="button">Download CSV</button>
  <script type="text/javascript" src="download.csv.js"></script>
</body>
-->
