<h2 class="mb-0">Available Vaults</h2>
<div class="flex flex-wrap">
  <mat-card
    class="cursor-pointer card text-center w-64 m-5"
    *ngFor="let vault of vaults"
    routerLink="{{ vault.symbol }}"
  >
    <mat-card-header>
      <img mat-card-avatar src="{{ vault.iconUrl }}" />
      <mat-card-title>{{ vault.name }}</mat-card-title>
      <mat-card-subtitle>{{ vault.symbol }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">APY:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base"
            >{{ vault.annualPercentageYield }}%</span
          >
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">TVL:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">${{ vault.totalValueLocked }}GUU</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">Available:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">${{ vault.availableAmount }}GUU</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">Deposited:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">{{ vault.depositedAmount }}GUU</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
