<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-col md:flex-row mb-4">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Deposited</div>
        <div class="stat-value text-primary">$ 123</div>
        <div class="stat-desc"></div>
      </div>
      <div class="stat">
        <div class="stat-title">Earnings</div>
        <div class="stat-value">$ 12.3</div>
        <div class="stat-desc"></div>
      </div>
    </div>
    <span class="flex-auto"></span>
    <button class="btn btn-outline btn-secondary px-8 my-4" routerLink="/yield-aggregator">
      Top page
    </button>
  </div>

  <h2>Vaults</h2>
  <div class="bg-base-200 p-8 mb-8">
    <div class="flex flex-row items-end">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">Search</span>
        </label>
        <div class="input-group">
          <input type="text" placeholder="e.g. ATOM" class="input input-bordered" />
          <!-- <mat-autocomplete></mat-autocomplete> -->
          <button class="btn btn-square">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
      </div>
      <span class="flex-auto"></span>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text mr-1">Only deposited</span>
          <input type="checkbox" checked="checked" class="checkbox checkbox-primary" />
        </label>
      </div>
    </div>
  </div>

  <h3>Select the Vault to deposit</h3>
  <div class="overflow-x-auto mb-8">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <td>Asset</td>
          <td>Reserve Rate</td>
          <td>Commission Rate</td>
          <!-- <td>Name</td> -->
          <td>Owner</td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let vault of vaults">
          <tr class="hover cursor-pointer" routerLink="{{ vault.id }}">
            <th>#{{ vault.id }}</th>
            <td>{{ vault.denom | coinDenom }}</td>
            <td>{{ vault.withdraw_reserve_rate | percentage }}</td>
            <td>{{ vault.withdraw_commission_rate | percentage }}</td>
            <!-- <td>{{ vault.name }}</td> -->
            <td>{{ vault.owner }}</td>
          </tr>
        </ng-container>
      </tbody>
      <p *ngIf="!vaults?.length" class="text-center">There is no vault.</p>
    </table>
  </div>

  <div class="card lg:card-side bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <h2 class="card-title">Create a Original Vault</h2>
      <p>
        You can create an original vault. You can set the Asset, Weights of Strategies & Commission
        Rate. By creating a great Vault, you can earn commissions from your users.
      </p>
      <div class="card-actions justify-end">
        <!-- <button class="btn btn-outline btn-info" routerLink="/yield-aggregator/strategies">
          View Strategies
        </button> -->
        <button class="btn btn-primary" routerLink="create">Create</button>
      </div>
    </div>
  </div>

  <!-- <h2 class="mb-0">Available Vaults</h2>
<div class="flex flex-wrap">
  <mat-card
    class="cursor-pointer card text-center w-64 m-5"
    *ngFor="let vault of vaults"
    routerLink="{{ vault.symbol }}"
  >
    <mat-card-header>
      <img mat-card-avatar src="{{ vault.iconUrl }}" />
      <mat-card-title>{{ vault.name }}</mat-card-title>
      <mat-card-subtitle>{{ vault.symbol }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">APY:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base"
            >{{ vault.annualPercentageYield }}%</span
          >
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">TVL:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">${{ vault.totalValueLocked }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">Available:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">${{ vault.availableAmount }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">Deposited:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">${{ vault.depositedAmount }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div> -->
</div>
