<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Latest Blocks</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <!-- To Do Pagination Change  -->
    <mat-paginator
      class="mb-4 rounded-lg"
      [length]="pageLength"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber ? pageNumber - 1 : 0"
      [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
      (page)="onPaginationChange($event)"
    >
    </mat-paginator>
  </div>
  <ng-container *ngIf="blocks === null; then loading; else loaded"> </ng-container>
  <ng-template #loading>
    <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
  </ng-template>
  <ng-template #loaded>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex">
          <h2 class="card-title"></h2>
          <span class="flex-auto"></span>
          <div class="form-control">
            <label class="label cursor-pointer">
              <input
                #autoRef
                type="checkbox"
                class="checkbox mr-2"
                (change)="onCheckBoxAutoChange(autoRef.checked)"
              />
              <span class="label-text">Auto</span>
            </label>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <th>Height</th>
              <td>Proposer</td>
              <td>Txs</td>
              <td>Time</td>
            </thead>
            <tbody>
              <ng-container *ngIf="(blocks?.length || 0) > 0; else empty">
                <tr
                  *ngFor="let block of blocks"
                  class="hover cursor-pointer"
                  routerLink="/blocks/{{ block?.block?.header?.height }}"
                >
                  <th>
                    {{ block?.block?.header?.height }}
                  </th>
                  <td>
                    {{ block?.block?.header?.proposer_address }}
                  </td>
                  <td>{{ block?.block?.data?.txs?.length }}</td>
                  <td>{{ block?.block?.header?.time | date: 'yy/MM/dd hh:mm' }}</td>
                </tr>
              </ng-container>
              <ng-template #empty>
                <tr>
                  <td colspan="5">There is no block.</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</div>
