<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap">
    <div class="text-xl breadcrumbs">
      <ul>
        <li>Latest Blocks</li>
      </ul>
    </div>
    <span class="flex-auto"></span>
    <div class="form-control">
      <label class="label">
        <span class="label-text">Items per page</span>
      </label>
      <label class="input-group">
        <select class="select w-20 sm:w-64" [(ngModel)]="pageSize" (change)="onPaginationChange()">
          <option disabled selected>Select items amount</option>
          <ng-container *ngFor="let size of pageSizeOptions">
            <option [value]="size">{{ size }}</option>
          </ng-container>
        </select>
        <button class="btn" (click)="onPaginationChange(1)">«</button>
        <span>Page {{ pageNumber || 1 }}</span>
        <button class="btn" (click)="onPaginationChange(2)">»</button>
      </label>
      <label class="label">
        <span class="label-text-alt"
          >{{ calcItemsIndex().start }} - {{ calcItemsIndex().end }} of {{ pageLength }}items</span
        >
      </label>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex">
        <h2 class="card-title"></h2>
        <span class="flex-auto"></span>
        <div class="form-control">
          <label class="label cursor-pointer">
            <input
              #autoRef
              type="checkbox"
              class="checkbox mr-2"
              (change)="onCheckBoxAutoChange(autoRef.checked)"
            />
            <span class="label-text">Auto</span>
          </label>
        </div>
      </div>

      <ng-container *ngIf="blocks === null; then loading; else loaded"> </ng-container>
      <ng-template #loading>
        <p class="text-center">
          <span class="loading loading-dots loading-lg"></span>
        </p>
      </ng-template>
      <ng-template #loaded>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <th>Height</th>
              <td>Proposer</td>
              <td>Txs</td>
              <td>Time</td>
            </thead>
            <tbody>
              <ng-container *ngIf="(blocks?.length || 0) > 0; else empty">
                <tr
                  *ngFor="let block of blocks"
                  class="hover cursor-pointer"
                  routerLink="/blocks/{{ block?.block?.header?.height }}"
                >
                  <th>
                    {{ block?.block?.header?.height }}
                  </th>
                  <td class="font-mono">
                    {{ block?.block?.header?.proposer_address }}
                  </td>
                  <td>{{ block?.block?.data?.txs?.length }}</td>
                  <td>{{ block?.block?.header?.time | date : 'yy/MM/dd HH:mm' }}</td>
                </tr>
              </ng-container>
              <ng-template #empty>
                <tr>
                  <td colspan="5">There is no block.</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </div>
</div>
