<div class="mx-auto max-w-screen-xl">
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title break-all flex flex-col md:flex-row">
          {{ walletId }}
          <!-- <div
            class="badge badge-primary mr-1 cursor-pointer hidden md:flex"
            (click)="copyClipboard(accAddress ? accAddress : '')"
          >
            {{ accAddress }}
          </div> -->
        </h2>
        <h3 class="mx-4 breal-all">
          {{ accAddress }}
          <button
            mat-icon-button
            type="button"
            (click)="copyClipboard(accAddress ? accAddress : '')"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </h3>

        <div class="stats stats-vertical md:stats-horizontal mb-4 w-full">
          <div class="stat">
            <div class="stat-title">Wallet Type</div>
            <div class="stat-value text-primary">{{ walletType }}</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Account Type</div>
            <div class="stat-value">{{ accountTypeName }}</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Chain ID</div>
            <div class="stat-value text-info">{{ nodeInfo?.default_node_info?.network }}</div>
            <div class="stat-desc"></div>
          </div>
        </div>
        <div class="card-actions justify-end">
          <!-- The button to open modal -->
          <label for="modal-account" class="btn btn-outline btn-info px-8">
            <mat-icon class="mr-2">account_box</mat-icon> More Info
          </label>
        </div>
        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="modal-account" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Advanced Account Info</h3>
            <div class="overflow-x-auto">
              <table class="table w-full">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td class="break-all">
                      {{ walletId }}
                    </td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td class="break-all">
                      <button
                        mat-icon-button
                        type="button"
                        (click)="copyClipboard(accAddress ? accAddress : '')"
                      >
                        <mat-icon>content_copy</mat-icon>
                      </button>
                      {{ accAddress }}
                    </td>
                  </tr>
                  <tr>
                    <th>Validator Address</th>
                    <td class="break-all">
                      <button
                        mat-icon-button
                        type="button"
                        (click)="copyClipboard(valAddress ? valAddress : '')"
                      >
                        <mat-icon>content_copy</mat-icon>
                      </button>
                      {{ valAddress }}
                    </td>
                  </tr>
                  <tr>
                    <th>Public Key</th>
                    <td class="break-all">
                      <button
                        mat-icon-button
                        type="button"
                        (click)="copyClipboard(publicKey ? publicKey : '')"
                      >
                        <mat-icon>content_copy</mat-icon>
                      </button>
                      {{ publicKey }}
                    </td>
                  </tr>
                  <tr>
                    <th>Wallet Type</th>
                    <td class="break-all">
                      {{ walletType }}
                    </td>
                  </tr>
                  <tr>
                    <th>Account Type</th>
                    <td class="break-all">
                      {{ accountTypeName }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="modal-action">
              <label for="modal-account" class="btn">Close</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Balances</h2>

        <ng-container *ngIf="balanceSymbols === null; then loading; else loaded"></ng-container>
        <ng-template #loading>
          <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
        </ng-template>
        <ng-template #loaded>
          <ng-container
            *ngIf="!balanceSymbols || balanceSymbols.length === 0; then empty; else filled"
          ></ng-container>
          <ng-template #empty>
            <p class="text-lg text-error">No Balance!</p>
          </ng-template>
          <ng-template #filled>
            <div class="stats stats-vertical md:stats-horizontal flex flex-wrap mb-4">
              <div
                class="stat w-full md:w-1/2 xl:w-1/4"
                *ngFor="let symbol of balanceSymbols; let i = index"
              >
                <div class="stat-value">{{ symbolBalancesMap?.[symbol] }}</div>
                <div class="stat-desc">{{ symbol }}</div>
              </div>
            </div>
          </ng-template>
        </ng-template>

        <div class="card-actions justify-end">
          <button class="btn btn-primary px-8" routerLink="/delegate/validators">
            <mat-icon class="mr-2">savings</mat-icon>Delegate
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8" *ngIf="faucets && faucets.length > 0">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Faucet</h2>
        <P>Faucets are only available for testnet.</P>

        <ul class="menu bg-base-100 w-full">
          <ng-container *ngFor="let faucet of faucets; let i = index">
            <li>
              <a
                routerLink="/faucet"
                [queryParams]="{
                  denom: faucet.denom,
                  amount: faucet.creditAmount
                }"
                class="flex gap-4"
              >
                <span class="flex-none">
                  <mat-icon color="accent">clean_hands</mat-icon>
                </span>

                <span class="flex-1 text-lg" *ngIf="faucetSymbols"
                  >Go to Faucet of {{ faucetSymbols[i] }}</span
                >
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Delegate Rewards</h2>

        <ng-container *ngIf="rewards === null; then loading; else loadedRewards"></ng-container>
        <ng-template #loadedRewards>
          <ng-container
            *ngIf="!rewards || rewards.total; then emptyRewards; else filledRewards"
          ></ng-container>
          <ng-template #emptyRewards>
            <p class="text-lg text-error">No Reward!</p>
          </ng-template>
          <ng-template #filledRewards>
            <div class="stats stats-vertical md:stats-horizontal flex flex-wrap mb-4">
              <div
                class="stat w-full md:w-1/2 xl:w-1/4"
                *ngFor="let reward of rewards?.total; let i = index"
              >
                <div class="stat-value text-secondary">{{ reward.amount | coinAmount }}</div>
                <div class="stat-desc">{{ reward.denom | coinDenom }}</div>
              </div>
            </div>
          </ng-template>
        </ng-template>

        <div class="card-actions justify-end">
          <button
            class="btn btn-secondary px-8"
            (click)="onClickWithdrawAllDelegatorRewardButton()"
            [disabled]="!rewards?.total?.length"
          >
            <mat-icon class="mr-2">monetization_on</mat-icon>Claim All Rewards
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
