<div class="mx-auto max-w-screen-xl">
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">
          {{ walletId }}
        </h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <td>Address</td>
                <td class="font-mono">
                  <div class="flex items-center gap-2">
                    {{ accAddress }}
                    <button
                      class="btn btn-circle btn-sm"
                      type="button"
                      (click)="copyClipboard(accAddress ? accAddress : '')"
                    >
                      <span class="material-symbols-outlined">content_copy</span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Wallet Type</td>
                <td>{{ walletType }}</td>
              </tr>
              <tr>
                <td>Account Type</td>
                <td>{{ accountTypeName }}</td>
              </tr>
              <tr>
                <td>Chain ID</td>
                <td>{{ nodeInfo?.default_node_info?.network }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-actions justify-end">
          <!-- The button to open modal -->
          <label
            for="modal-account"
            class="btn btn-outline btn-info w-full md:w-auto md:px-8 gap-2"
          >
            <span class="material-symbols-outlined">account_box</span> More Info
          </label>
        </div>
        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="modal-account" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Advanced Account Info</h3>
            <div class="overflow-x-auto">
              <table class="table w-full">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td class="break-all">
                      {{ walletId }}
                    </td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td class="break-all font-mono">
                      <div class="flex items-center gap-2">
                        {{ accAddress }}
                        <button
                          class="btn btn-circle btn-sm"
                          type="button"
                          (click)="copyClipboard(accAddress ? accAddress : '')"
                        >
                          <span class="material-symbols-outlined">content_copy</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Validator Address</th>
                    <td class="break-all font-mono">
                      <div class="flex items-center gap-2">
                        {{ accAddress }}
                        <button
                          class="btn btn-circle btn-sm"
                          type="button"
                          (click)="copyClipboard(valAddress ? valAddress : '')"
                        >
                          <span class="material-symbols-outlined">content_copy</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Public Key</th>
                    <td class="break-all font-mono">
                      <div class="flex items-center gap-2">
                        {{ accAddress }}
                        <button
                          class="btn btn-circle btn-sm"
                          type="button"
                          (click)="copyClipboard(publicKey ? publicKey : '')"
                        >
                          <span class="material-symbols-outlined">content_copy</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>Wallet Type</th>
                    <td class="break-all">
                      {{ walletType }}
                    </td>
                  </tr>
                  <tr>
                    <th>Account Type</th>
                    <td class="break-all">
                      {{ accountTypeName }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="modal-action">
              <label for="modal-account" class="btn">Close</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Balances</h2>

        <ng-container *ngIf="denomBalancesMap === null; then loading; else loaded"></ng-container>
        <ng-template #loading>
          <p class="text-center">
            <span class="loading loading-ring loading-lg"></span>
          </p>
        </ng-template>
        <ng-template #loaded>
          <ng-container *ngIf="!denomBalancesMap; then empty; else filled"></ng-container>
          <ng-template #empty>
            <p class="text-lg text-error">No Balance!</p>
          </ng-template>
          <ng-template #filled>
            <div class="overflow-x-auto">
              <table class="table w-full">
                <tbody>
                  <tr *ngFor="let balance of denomBalancesMap | keyvalue">
                    <th>
                      <div class="flex items-center space-x-3">
                        <div class="avatar mr-2">
                          <div
                            class="mask mask-circle w-6 h-6"
                            *ngIf="symbolImageMap &&symbolImageMap[denomMetadataMap?.[balance.key]?.symbol || '']"
                          >
                            <img
                              src="{{ symbolImageMap[denomMetadataMap?.[balance.key]?.symbol || ''] }}"
                              alt="Asset Symbol"
                            />
                          </div>

                          <span
                            class="material-symbols-outlined"
                            *ngIf="!symbolImageMap ||!symbolImageMap[denomMetadataMap?.[balance.key]?.symbol || '']"
                          >
                            question_mark
                          </span>
                        </div>
                        {{ balance.key | coinDenom | async }}
                      </div>
                    </th>
                    <td>{{ balance.value.amount | coinAmount : balance.key }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8" *ngIf="faucets && faucetSymbols && faucets.length > 0">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Faucet</h2>

        <ul class="menu bg-base-100 w-full">
          <ng-container *ngFor="let faucet of faucets; let i = index">
            <li>
              <a
                routerLink="faucet"
                [queryParams]="{
                  denom: faucet.denom,
                  amount: faucet.creditAmount
                }"
                class="flex gap-4"
              >
                <span class="flex-none">
                  <div
                    class="avatar mr-2"
                    *ngIf="symbolImageMap && symbolImageMap[faucetSymbols[i]]"
                  >
                    <div class="mask mask-circle w-8 h-8">
                      <img src="{{ symbolImageMap[faucetSymbols[i]] }}" alt="Asset Symbol" />
                    </div>
                  </div>
                </span>

                <span class="flex-1 text-lg">Go to Faucet of {{ faucetSymbols[i] }}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8" *ngIf="vestingAccount">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <h2 class="card-title">Vesting</h2>

        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr *ngFor="let vest of vestingAccount.base_vesting_account?.delegated_vesting">
                <th>
                  <div class="flex items-center space-x-3">
                    <div class="avatar mr-2">
                      <div
                        class="mask mask-circle w-6 h-6"
                        *ngIf="symbolImageMap &&symbolImageMap[denomMetadataMap?.[vest.denom||'']?.symbol || '']"
                      >
                        <img
                          src="{{ symbolImageMap[denomMetadataMap?.[vest.denom||'']?.symbol || ''] }}"
                          alt="Asset Symbol"
                        />
                      </div>

                      <span
                        class="material-symbols-outlined"
                        *ngIf="!symbolImageMap ||!symbolImageMap[denomMetadataMap?.[vest.denom||'']?.symbol || '']"
                      >
                        question_mark
                      </span>
                    </div>
                    {{ vest.denom | coinDenom | async }}
                  </div>
                </th>
                <td>{{ vest.amount | coinAmount : vest.denom }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="divider"></div>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th>Vesting Start</th>
                <th>Vesting End</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{
                    vestingAccount.start_time.toNumber() * 1000 | date : 'yyyy-MM-dd a hh:mm:ss z'
                  }}
                </td>
                <td>
                  {{
                    (vestingAccount.base_vesting_account?.end_time?.toNumber() || 0) * 1000
                      | date : 'yyyy-MM-dd a hh:mm:ss z'
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mb-4">
          <input type="checkbox" />
          <div class="collapse-title text-xl font-medium">Click to See Vesting Detail</div>
          <div class="collapse-content overflow-x-auto">
            <p class="break-all">
              A user may choose to delegate their tokens to validators. This may be done with tokens
              that are vested or are still vesting. As such, vesting tokens which are delegated will
              be listed under <b>Delegated Vesting</b>. Vested tokens which are delegated will be
              listed under Delegated Free. Both are variable values that will change based on the
              amount being delegated and may be updated as more and more tokens become vested.
            </p>
            <p class="break-all">
              For more information on vesting, please see the
              <a
                href="https://docs.cosmos.network/main/build/modules/auth/vesting#vesting-account-specification"
                target="_blank"
                ><u class="text-info">Cosmos SDK documentation</u></a
              >.
            </p>
            <div class="overflow-x-auto">
              <table class="table w-full">
                <thead>
                  <tr>
                    <th>Delegated Vesting</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let del of vestingAccount.base_vesting_account?.delegated_vesting">
                    <th>
                      <div class="flex items-center space-x-3">
                        <div class="avatar mr-2">
                          <div
                            class="mask mask-circle w-6 h-6"
                            *ngIf="symbolImageMap &&symbolImageMap[denomMetadataMap?.[del.denom||'']?.symbol || '']"
                          >
                            <img
                              src="{{ symbolImageMap[denomMetadataMap?.[del.denom||'']?.symbol || ''] }}"
                              alt="Asset Symbol"
                            />
                          </div>

                          <span
                            class="material-symbols-outlined"
                            *ngIf="!symbolImageMap ||!symbolImageMap[denomMetadataMap?.[del.denom||'']?.symbol || '']"
                          >
                            question_mark
                          </span>
                        </div>
                        {{ del.denom | coinDenom | async }}
                      </div>
                    </th>
                    <td>{{ del.amount | coinAmount : del.denom }}</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <th>Delegated Free</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let free of vestingAccount.base_vesting_account?.delegated_free">
                    <th>
                      <div class="flex items-center space-x-3">
                        <div class="avatar mr-2">
                          <div
                            class="mask mask-circle w-6 h-6"
                            *ngIf="symbolImageMap &&symbolImageMap[denomMetadataMap?.[free.denom||'']?.symbol || '']"
                          >
                            <img
                              src="{{ symbolImageMap[denomMetadataMap?.[free.denom||'']?.symbol || ''] }}"
                              alt="Asset Symbol"
                            />
                          </div>

                          <span
                            class="material-symbols-outlined"
                            *ngIf="!symbolImageMap ||!symbolImageMap[denomMetadataMap?.[free.denom||'']?.symbol || '']"
                          >
                            question_mark
                          </span>
                        </div>
                        {{ free.denom | coinDenom | async }}
                      </div>
                    </th>
                    <td>{{ free.amount | coinAmount : free.denom }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
