<view-simple-vault
  [contractAddress]="contractAddress$ | async"
  [vault]="vault$ | async"
  [tranches]="tranches$ | async"
  [trancheFixedAPYs]="trancheFixedAPYs$ | async"
  [denomBalancesMap]="denomBalancesMap$ | async"
  [vaultImage]="vaultImage$ | async"
  [estimateMintPt]="estimateMintPt$ | async"
  [estimateRedeemPt]="estimateRedeemPt$ | async"
  (appMintPT)="onMintPT($event)"
  (appChangeMintPT)="onChangeMintPT($event)"
  (appRedeemPT)="onRedeemPT($event)"
  (appChangeRedeemPT)="onChangeRedeemPT($event)"
></view-simple-vault>
