<view-simple-vault
  [contractAddress]="contractAddress$ | async"
  [vault]="vault$ | async"
  [tranches]="tranches$ | async"
  [trancheFixedAPYs]="trancheFixedAPYs$ | async"
  [denomBalancesMap]="denomBalancesMap$ | async"
  [tranchePtBalance]="tranchePtBalance$ | async"
  [vaultImage]="vaultImage$ | async"
  [selectedPoolId]="selectedPoolId$ | async"
  [ptAmount]="ptAmount$ | async"
  [ptValue]="ptValue$ | async"
  [afterPtAmount]="afterPtAmount$ | async"
  [afterPtValue]="afterPtValue$ | async"
  [estimateMintPt]="estimateMintPt$ | async"
  [estimateRedeemPt]="estimateRedeemPt$ | async"
  [actualFixedAPYs]="actualFixedAPYs$ | async"
  (appMintPT)="onMintPT($event)"
  (appChangeMintPT)="onChangeMintPT($event)"
  (appRedeemPT)="onRedeemPT($event)"
  (appChangeRedeemPT)="onChangeRedeemPT($event)"
  (appDeleteDeposit)="onDeleteDeposit($event)"
  (appDeleteWithdraw)="onDeleteWithdraw($event)"
  (appSelectTranche)="onSelectTranche($event)"
></view-simple-vault>
