<div class="flex flex-col items-center">
  <img class="m-6 w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
  <div class="font-bold text-xl m-3">Delegate to this validator</div>

  <mat-nav-list>
    <mat-label>Validator Menu</mat-label>
    <mat-list-item>
      <mat-icon
        matListIcon
        [ngStyle]="{ color: getColorCode(selectedValidator?.operator_address!) }"
      >
        circle
      </mat-icon>
      <div mat-line>
        <span>{{ selectedValidator?.operator_address }}</span>
      </div>
    </mat-list-item>
    <mat-list-item>
      <span class="column-name">Commission</span>
      <span class="flex-auto"></span>
      <span class="column-value">{{
        selectedValidator?.commission?.commission_rates?.rate | percent
      }}</span>
    </mat-list-item>
    <a href="{{ selectedValidator?.description?.website }}" target="_blank">
      <mat-list-item>
        <span class="column-name"> Website </span>
        <span class="flex-auto"></span>
        <span class="column-value">{{ selectedValidator?.description?.website }}</span>
      </mat-list-item>
    </a>
    <ng-container *ngIf="isDelegated">
      <mat-list-item>
        <span class="column-name">Delegated Amount</span>
        <span class="flex-auto"></span>
        <span class="column-value">{{ delegateAmount?.amount }}{{ delegateAmount?.denom }}</span>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
  <button
    mat-flat-button
    class="inline-flex justify-between items-center w-full m-3 bg-white"
    (click)="onClickDetailButton()"
  >
    <span class="text-black">More Information</span>
    Details
  </button>
  <button
    mat-flat-button
    class="inline-flex justify-between items-center w-full m-3 bg-white"
    (click)="onClickDelegateButton()"
  >
    <span class="text-black">Delegate to this Validator</span>
  </button>
  <ng-container *ngIf="isDelegated">
    <button
      mat-flat-button
      class="inline-flex justify-between items-center w-full m-3 bg-white"
      (click)="onClickChangeDelegateButton()"
    >
      <span class="text-black">Change Delegate from this Validator to Another</span>
    </button>
  </ng-container>
</div>
