<div>
  <div class="flex flex-col items-center">
    <img class="w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
    <div class="font-bold text-xl m-3">Delegate Menu</div>
    <mat-list class="w-full">
      <mat-label>Validator</mat-label>
      <mat-list-item>
        <mat-icon
          matListIcon
          [ngStyle]="{ color: getColorCode(selectedValidator?.operator_address!) }"
        >
          circle
        </mat-icon>
        <div mat-line>
          <span>{{ selectedValidator?.description?.moniker }}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span class="column-name">Address</span>
        <span class="flex-auto w-1/4"></span>
        <span class="column-value truncate">{{ selectedValidator?.operator_address }}</span>
      </mat-list-item>
      <mat-list-item>
        <span class="column-name">Commission</span>
        <span class="flex-auto"></span>
        <span class="column-value">{{
          selectedValidator?.commission?.commission_rates?.rate | percent
        }}</span>
      </mat-list-item>
    </mat-list>
    <ng-container *ngIf="selectedValidator?.description?.website; then existURL; else emptyURL">
    </ng-container>
    <ng-template #existURL>
      <mat-nav-list class="w-full">
        <a href="{{ selectedValidator?.description?.website }}" target="_blank">
          <mat-list-item>
            <span class="column-name"> Website </span>
            <span class="flex-auto"></span>
            <span class="column-value">{{ selectedValidator?.description?.website }}</span>
          </mat-list-item>
        </a>
      </mat-nav-list>
    </ng-template>
    <ng-template #emptyURL> </ng-template>

    <ng-container *ngIf="isDelegated">
      <mat-list class="w-full">
        <mat-list-item>
          <span class="column-name">Delegated Amount</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{ delegateAmount | coin }}</span>
        </mat-list-item>
      </mat-list>
      <mat-list class="w-full">
        <ng-container
          *ngIf="
            (totalRewards?.total?.length || 0) > 0;
            then existTotalRewards;
            else emptyTotalRewards
          "
        >
        </ng-container>
        <ng-template #emptyTotalRewards>
          <mat-list-item>
            <span class="column-name">Claimable Delegator Reward</span>
            <span class="flex-auto"></span>
            <span>*This account has no claimable delegator reward</span>
          </mat-list-item>
        </ng-template>
        <ng-template #existTotalRewards>
          <mat-list-item *ngFor="let eachTotalReward of totalRewards?.total; last as last">
            <span class="column-name">Claimable Delegator Reward</span>
            <span class="flex-auto"></span>
            <span>{{ eachTotalReward | coin }}</span>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </ng-container>

    <ng-container *ngIf="isValidator">
      <mat-list class="w-full">
        <ng-container
          *ngIf="
            (commission?.commission?.commission?.length || 0) > 0;
            then existCommission;
            else emptyCommission
          "
        >
        </ng-container>
        <ng-template #emptyCommission>
          <mat-list-item>
            <span class="column-name">Claimable Validator Commission</span>
            <span class="flex-auto"></span>
            <span>*This account has no commission</span>
          </mat-list-item>
        </ng-template>
        <ng-template #existCommission>
          <mat-list-item
            *ngFor="let commission of commission?.commission?.commission; last as last"
          >
            <span class="column-name">Claimable Validator Commission</span>
            <span class="flex-auto"></span>
            <span>{{ commission | coin }}</span>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </ng-container>
  </div>

  <div class="flex justify-start">
    <button mat-stroked-button color="primary" class="px-4 m-3" (click)="onClickDetailButton()">
      <span>More information</span>
    </button>
    <button mat-flat-button color="primary" class="px-4 m-3" (click)="onClickDelegateButton()">
      <span>Delegate to this validator</span>
    </button>
  </div>
  <div class="flex justify-start">
    <ng-container *ngIf="isDelegated">
      <button mat-flat-button color="accent" class="px-4 m-3" (click)="onClickRedelegateButton()">
        <span>Redelegate to another validator</span>
      </button>
      <button mat-flat-button color="accent" class="px-4 m-3" (click)="onClickUndelegateButton()">
        <span>Undelegate from this validator</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        class="px-4 m-3"
        (click)="onClickWithdrawDelegatorRewardButton()"
      >
        <span>Claim delegator reward</span>
      </button>
    </ng-container>
  </div>
  <ng-container *ngIf="isValidator">
    <button
      mat-flat-button
      color="primary"
      class="px-4 m-3"
      (click)="onClickWithdrawValidatorCommissionButton()"
    >
      <span>Claim validator commission</span>
    </button>
  </ng-container>
</div>
