<div>
  <div class="flex flex-col items-center">
    <img class="w-12 h-12" src="assets/favicon.png" alt="UnUniFi logo" />
    <div class="font-bold text-xl m-3">Delegate Menu</div>
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Validator</span>
      </label>
      <ul class="menu bg-base-100" >
        <li class="disabled"><a class="text-base-content items-center">
          <span
            class="material-icons"
            [style]="{ color: getColorCode(selectedValidator?.operator_address!) }">
            circle
          </span>
          {{ selectedValidator?.description?.moniker }}
        </a></li>
        <li class="disabled"><a class="text-base-content">
          <span class="column-name">Address</span>
          <span class="flex-auto w-1/4"></span>
          <span class="column-value truncate">{{ selectedValidator?.operator_address }}</span>
        </a></li>
        <li class="disabled"><a class="text-base-content">
          <span class="column-name">Commission</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{
            selectedValidator?.commission?.commission_rates?.rate | percent
          }}</span>
        </a></li>
      </ul>
    </div>
    <ng-container *ngIf="selectedValidator?.description?.website; then existURL; else emptyURL">
    </ng-container>
    <ng-template #existURL>
      <ul class="menu bg-base-100 w-full">
        <li><a
          class="items-center"
          href="{{ selectedValidator?.description?.website }}" target="_blank"
        >
          <span class="column-name"> Website </span>
          <span class="flex-auto"></span>
          <span class="column-value">{{ selectedValidator?.description?.website }}</span>
        </a></li>
      </ul>
    </ng-template>
    <ng-template #emptyURL> </ng-template>

    <ng-container *ngIf="isDelegated">
      <ul class="menu bg-base-100 w-full">
        <li class="disabled"><a class="text-base-content">
          <span class="column-name">Delegated Amount</span>
          <span class="flex-auto"></span>
          <span class="column-value">{{ delegateAmount | coin }}</span>
        </a></li>
      </ul>
      <ng-container
        *ngIf="
          (totalRewards?.total?.length || 0) > 0;
          then existTotalRewards;
          else emptyTotalRewards
        "
      >
      </ng-container>
      <ng-template #emptyTotalRewards>
        <ul class="menu bg-base-100 w-full">
          <li class="disabled"><a class="text-base-content">
            <span class="column-name">Claimable Delegator Reward</span>
            <span class="flex-auto"></span>
            <span>*This account has no claimable delegator reward</span>
          </a></li>
        </ul>
      </ng-template>
      <ng-template #existTotalRewards>
        <ul class="menu bg-base-100 w-full">
          <li
            class="disabled"
            *ngFor="let eachTotalReward of totalRewards?.total; last as last"
          >
            <a class="text-base-content">
              <span class="column-name">Claimable Delegator Reward</span>
              <span class="flex-auto"></span>
              <span>{{ eachTotalReward | coin }}</span>
            </a>
          </li>
        </ul>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="isValidator">
      <ng-container
        *ngIf="
          (commission?.commission?.commission?.length || 0) > 0;
          then existCommission;
          else emptyCommission
        "
      >
      </ng-container>
      <ng-template #emptyCommission>
        <ul class="menu bg-base-100 w-full">
          <li class="disabled"><a class="text-base-content">
            <span class="column-name">Claimable Validator Commission</span>
            <span class="flex-auto"></span>
            <span>*This account has no commission</span>
          </a></li>
        </ul>
      </ng-template>
      <ng-template #existCommission>
        <ul class="menu bg-base-100 w-full">
          <li
            class="disabled"
            *ngFor="let commission of commission?.commission?.commission; last as last"
          >
            <a class="text-base-content">
              <span class="column-name">Claimable Validator Commission</span>
              <span class="flex-auto"></span>
              <span>{{ commission | coin }}</span>
            </a>
          </li>
        </ul>
      </ng-template>
    </ng-container>
  </div>

  <div class="flex flex-col md:flex-row justify-start">
    <button class="btn" (click)="onClickDetailButton()">
      <span>More information</span>
    </button>
    <button class="btn btn-primary ml-2" (click)="onClickDelegateButton()">
      <span>Delegate to this validator</span>
    </button>
  </div>
  <div class="flex flex-col md:flex-row justify-start">
    <ng-container *ngIf="isDelegated">
      <button class="btn btn-secondary" (click)="onClickRedelegateButton()">
        <span>Redelegate to another validator</span>
      </button>
      <button class="btn btn-secondary ml-2" (click)="onClickUndelegateButton()">
        <span>Undelegate from this validator</span>
      </button>
      <button
        class="btn btn-primary ml-2"
        (click)="onClickWithdrawDelegatorRewardButton()"
      >
        <span>Claim delegator reward</span>
      </button>
    </ng-container>
  </div>
  <ng-container *ngIf="isValidator">
    <button
      class="btn btn-primary"
      (click)="onClickWithdrawValidatorCommissionButton()"
    >
      <span>Claim validator commission</span>
    </button>
  </ng-container>
</div>
