<section class="bannerAndIntro">
  <div class="banner py-4">
    <div class="container">
      <nav class="navbar navbar-expand-md justify-content-between align-items-center">
        <a href="/" class="navbar-brand"><img src="assets/images/Vector.png" alt="" /></a>
        <button class="navbar-toggler" (click)="toggler()"><span class="fa fa-bars"></span></button>

        <!--when drawer opened-->
        <div class="navbar-collapse collapse">
          <div class="navbar-nav justify-content-between mx-auto">
            <li class="nav-item"><a href="#" class="nav-link active">HOME</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="#community" class="nav-link">COMMUNITY</a></li>
            <!-- comment out
            <li class="nav-item"><a href="#partners" class="nav-link">PARTNERS</a></li>-->
          </div>
          <a href="assets/download/UnUniFi-Whitepaper.pdf" download class="btn">WHITEPAPER</a>
        </div>

        <!--when drawer closed-->
        <div class="mobile-nav d-none d-md-none" id="toggled" (click)="toggler()">
          <div class="navbar-nav justify-content-between mx-auto">
            <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="#community" class="nav-link">COMMUNITY</a></li>
            <!-- comment out
            <li class="nav-item"><a href="#partners" class="nav-link">PARTNERS</a></li>-->
          </div>
          <a href="assets/download/UnUniFi-Whitepaper.pdf" download class="btn">WHITEPAPER</a>
        </div>
      </nav>
      <div class="pt-5 text-center">
        <h1 class="bold pt-4">
          Decentralized cross-chain<span class="pink">NFT</span><br />
          <span class="lightItalic">marketplace</span><span class="pin">/</span> platform <br />
          with auto DeFi yield
        </h1>
      </div>
      <div class="text-center">
        <p class="bannerParagraph pb-4">
          Use Your NFTs as collateral to obtain rewards<br />
          through auto DeFi yield.
        </p>
      </div>
      <div class="flex flex-row justify-center">
        <a href="/portal" class="btn d-block mr-2 btnLaunch p-3">LAUNCH APP</a>
        <a href="/explorer" class="btn d-block ml-2 btnLaunch p-3">GO EXPLORER</a>
      </div>
    </div>
    <img src="assets/images/arrows.png" class="arrows" alt="arrows" />
    <img src="assets/images/star.png" class="star" alt="star" />
    <img src="assets/images/man.png" class="man d-none d-md-block" alt="man" />
  </div>

  <div class="intro pt-5" id="about">
    <div class="container">
      <h5 class="text-center">How does Auto DeFi Yield work?</h5>
      <div class="row pt-5 justify-content-between align-items-center">
        <div class="col-11 col-md-7 mx-auto">
          <div class="row align-items-center">
            <img src="assets/images/01.png" class="col-4 d-block" alt="" />
            <div class="col-8">
              <h6>Deposit NFT into vault</h6>
              <p class="pt-2 text-sm">
                You can deposit your NFT as collateral, and the NFT will be listed on the
                marketplace. Prospective buyers of that NFT can make a bid. If you accept the bid,
                you can sell it. The NFT will not be settled without your permission and you will
                not lose the NFT.
              </p>
            </div>
          </div>
        </div>
        <img src="assets/images/bitcoin.png" class="col-4 d-none d-md-block" alt="" />
      </div>
      <div class="row pt-5 justify-content-between align-items-center">
        <img src="assets/images/data.png" class="col-4 d-none d-md-block" alt="" />
        <div class="col-11 col-md-7 mx-auto">
          <div class="row align-items-center">
            <img src="assets/images/02.png" class="col-4 d-block" alt="" />
            <div class="col-8 col-md-8">
              <h6>Mint stablecoins & Auto DeFi Yield</h6>
              <p class="pt-2 text-sm">
                You can issue stablecoins within the range of bids in the marketplace. UnUniFi can
                automatically operate the issued stablecoins and you can receive rewards.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="joinAndPartners">
  <div class="container join py-5" id="community">
    <img src="assets/images/star.png" class="star2" alt="star" />
    <h3 class="text-center pt-5">Join UnUniFi Community</h3>
    <div class="col-md-7 col-11 mx-auto pt-5">
      <!--discord-->
      <div class="row align-items-center">
        <div class="col-3">
          <div class="ellipse3 d-flex align-items-center justify-content-center">
            <a href="https://discord.com/invite/gxEkFyu5rn" rel="noopener noreferrer">
              <div class="ellipse2 d-flex align-items-center justify-content-center">
                <div class="ellipse1 d-flex align-items-center justify-content-center">
                  <i class="fa-brands fa-discord"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-9">
          Join our Discord and become a part of an amazing community. You will also find the UnUniFi
          team there, ready to support you.
        </div>
      </div>

      <!--twitter-->
      <div class="row py-5 align-items-center">
        <div class="col-3">
          <div class="ellipse3 d-flex align-items-center justify-content-center">
            <a href="https://mobile.twitter.com/ununifi" rel="noopener noreferrer">
              <div class="ellipse2 d-flex align-items-center justify-content-center">
                <div class="ellipse4 d-flex align-items-center justify-content-center">
                  <i class="fa-brands fa-twitter"> </i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-9">Follow us on Twitter for updates on UnUniFi space in general.</div>
      </div>
    </div>
  </div>

  <!-- comment out
  <div class="partners py-5" id="partners">
    <h3 class="text-center">Partners</h3>
    <div class="container">
      <div class="row justify-content-between text-center py-5">
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
        <div class="col-6 col-md-4 mb-4"><h3>Partners</h3></div>
      </div>
    </div>
  </div>
  <img src="assets/images/Ellipse 9.png" class="blur" alt="blur" />
  -->
</section>

<footer>
  <div class="container py-3">
    <div class="row justify-content-between">
      <div class="col-3">
        <img src="assets/images/Vector.png" alt="logo" />
      </div>
      <div class="col-9 text-right">
        <p><span class="pink">&copy; UnUniFi 2022 </span>all right reserved</p>
      </div>
    </div>
  </div>
</footer>
