<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs">
    <ul>
      <li>UYA Users Accounts</li>
    </ul>
  </div>
  <div class="card bg-base-100 text-base-content shadow-xl mb-4">
    <div class="card-body">
      <h3>Leader Board</h3>
      <div class="overflow-x-auto">
        <ng-container *ngIf="addressTVLs === null; then loading; else loaded"></ng-container>
        <ng-template #loading>
          <p class="text-center">
            <span class="loading loading-ring loading-lg"></span>
          </p>
        </ng-template>
        <ng-template #loaded>
          <ng-container *ngIf="!addressTVLs?.length; then empty; else filled"></ng-container>
          <ng-template #empty>
            <p class="ml-4">There is no depositor.</p>
          </ng-template>
          <ng-template #filled>
            <table class="table w-full">
              <thead>
                <td>Rank</td>
                <td>Address</td>
                <td>Deposited Vaults</td>
                <td>TVL</td>
              </thead>
              <tbody>
                <tr
                  *ngFor="let addressTVL of addressTVLs; let i = index"
                  class="hover cursor-pointer"
                  routerLink="{{ addressTVL.address }}"
                >
                  <td>#{{ i + 1 }}</td>
                  <th class="font-mono">
                    {{ addressTVL.address }}
                  </th>
                  <td>
                    {{ addressTVL.vaultBalances?.length || 0 }}
                  </td>
                  <td>{{ addressTVL.tvl | currency }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ng-template>

        <ng-template #empty>
          <tr>
            <td colspan="5">There is no depositor.</td>
          </tr>
        </ng-template>
      </div>
      <div>
        <div class="card-actions justify-end">
          <button
            class="btn btn-outline btn-primary w-full gap-1 md:w-auto md:px-8"
            (click)="downloadCSV()"
          >
            <span class="material-symbols-outlined">download</span>
            <span class="hidden md:inline">Download CSV</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
