<div class="flex flex-row flex-wrap justify-end">
  <h2>Listing NFTs</h2>
  <span class="flex-auto"></span>
  <button class="btn btn-outline btn-info px-8 mb-2 w-full xl:w-auto" routerLink="..">
    Top page
  </button>
  <div class="w-0 xl:w-4"></div>
  <button
    class="btn btn-outline btn-secondary px-8 mb-2 w-full xl:w-auto"
    routerLink="../lenders/lender"
  >
    <mat-icon class="mr-2">gavel</mat-icon>
    Lending Status
  </button>
  <div class="w-0 xl:w-4"></div>
  <button
    class="btn btn-outline btn-primary px-8 mb-2 w-full xl:w-auto"
    routerLink="../borrowers/borrower"
  >
    <mat-icon class="mr-2">add</mat-icon>
    List (Borrow Tokens)
  </button>
</div>

<div class="card lg:card-side bg-base-100 shadow-xl mb-8">
  <div class="card-body">
    <h2 class="card-title break-all">Lend Tokens</h2>
    <div class="form-control">
      <label class="cursor-pointer label">
        <span class="label-text mr-2">Advanced Search</span>
        <input
          type="checkbox"
          class="toggle toggle-primary"
          name="openSearch"
          [(ngModel)]="isSearchBoxOpened"
        />
        <span class="flex-auto"></span>
      </label>
    </div>

    <form #formRef="ngForm" (submit)="onSubmit()" *ngIf="isSearchBoxOpened">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Keyword</span>
        </label>
        <label class="input-group">
          <input
            #keywordRef
            name="keyword"
            placeholder="Owner's Address, Class ID, NFT ID, etc."
            [(ngModel)]="keyword"
            class="input input-bordered w-full"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Bidding State</span>
        </label>
        <select #stateRef [(ngModel)]="state" name="state" class="select select-bordered">
          <option [value]="undefined" disabled>Select a Bid State</option>
          <option [value]="undefined">All State</option>
          <option [value]="'LISTING'">LISTING (No Bid)</option>
          <option [value]="'BIDDING'">BIDDING (With Bids)</option>
          <option [value]="'SELLING_DECISION'">SELLING DECISION (Wait for Payment)</option>
          <option [value]="'SUCCESSFUL_BID'">SUCCESSFUL BID (Transferring)</option>
          <option [value]="'END_LISTING'">END LISTING (Being Liquidated)</option>
        </select>
        <label class="label">
          <span class="label-text">Started After</span>
        </label>
        <label class="input-group">
          <input
            required
            type="date"
            name="expiryDate"
            [(ngModel)]="date"
            class="input input-bordered w-3/5"
          />
          <input
            #timeRef
            type="time"
            required
            name="expiryTime"
            [(ngModel)]="time"
            class="input input-bordered w-2/5"
          />
        </label>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Min Interest Rate (Coming soon)</span>
        </label>
        <label class="input-group">
          <input
            #interestRef
            name="interest"
            [(ngModel)]="interestRate"
            class="input input-bordered w-full"
            [min]="0"
            pattern="^[0-9]*\.?[0-9]{0,6}$"
          />
          <span>%</span>
        </label>
        <input
          type="range"
          min="0"
          max="20"
          class="range mt-1"
          [(ngModel)]="interestRate"
          name="slider"
        />
      </div>
      <div class="card-actions justify-end mt-4">
        <button type="button" class="btn btn-warning btn-outline" (click)="onRefresh()">
          <mat-icon class="mr-2">refresh</mat-icon>
          Refresh
        </button>
        <button class="btn btn-primary">
          <mat-icon class="mr-2">photo_library</mat-icon>
          Search NFTs
        </button>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="listedNfts === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container
    *ngIf="!listedNfts || listedNfts.length === 0; then empty; else filled"
  ></ng-container>
</ng-template>

<ng-template #filled>
  <div class="flex flex-row flex-wrap -mr-12 -mb-12">
    <div
      *ngFor="let nft of listedNfts; let i = index"
      class="pr-12 pb-12 md:w-1/3 lg:w-1/4 xl:w-1/5"
    >
      <div class="card w-full glass shadow-xl">
        <figure class="aspect-square w-full">
          <img
            *ngIf="images"
            src="{{ images[i] || 'assets/UnUniFi-logo.png' }}"
            alt=""
            class="h-full object-cover"
          />
          <img *ngIf="!images" src="assets/UnUniFi-logo.png" alt="" class="h-full object-cover" />
        </figure>
        <div class="card-body">
          <span class="badge badge-primary">{{ nft.listing?.state }}</span>
          <h2 *ngIf="nftsMetadata" class="card-title break-all">
            {{ nftsMetadata[i].name + '/' + nft.listing?.nft_id?.nft_id }}
          </h2>
          <h2 *ngIf="!nftsMetadata" class="card-title break-all">
            {{ nft.listing?.nft_id?.nft_id }}
          </h2>
          <button
            class="btn btn-outline btn-info"
            routerLink="../lenders/nfts/{{ nft.listing?.nft_id?.class_id }}/{{
              nft.listing?.nft_id?.nft_id
            }}"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <p>There is no Listing NFT.</p>
</ng-template>
