<view-pool
  [contractAddress]="contractAddress$ | async"
  [poolId]="poolId$ | async"
  [pool]="pool$ | async"
  [vault]="vault$ | async"
  [poolAPYs]="poolAPYs$ | async"
  [underlyingDenom]="underlyingDenom$ | async"
  [poolBalance]="poolBalance$ | async"
  [vaultImage]="vaultImage$ | async"
  [estimatedMintAmount]="estimatedMintAmount$ | async"
  [estimatedRedeemAmount]="estimatedRedeemAmount$ | async"
  (appMintLP)="onMintLP($event)"
  (appChangeMintLP)="onChangeMintLP($event)"
  (appRedeemLP)="onRedeemLP($event)"
  (appChangeRedeemLP)="onChangeRedeemLP($event)"
></view-pool>
