<div class="flex justify-center">
  <div class="text-base-content max-w-full">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure class="aspect-square">
        <!-- img width setting not working -->
        <img src="{{ nftImage }}" alt="image of the NFT" class="h-full object-cover" />
      </figure>
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary">{{ listingInfo?.state || 'NOT_LISTING' }}</div>
          <div
            class="badge badge-lg badge-secondary ml-2"
            *ngIf="listingInfo?.owner === currentStoredWallet?.address"
          >
            Your NFT
          </div>
        </div>
        <h2 class="card-title break-all">
          {{ nftMetadata?.name || classID + '/' + nftID }}
        </h2>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Class ID</th>
                <td>{{ classID }}</td>
              </tr>
              <tr>
                <th>NFT ID</th>
                <td>{{ nftID }}</td>
              </tr>
              <tr>
                <th>Minimum Deposit Rate</th>
                <td>{{ listingInfo?.minimum_deposit_rate | percentage }}</td>
              </tr>
              <tr>
                <th>Owner</th>
                <td>{{ listingInfo?.owner }}</td>
              </tr>
              <tr>
                <th>Started at</th>
                <td>{{ listingInfo?.started_at | date : 'yyyy-M-d a h:mm:ss z' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br />

    <div class="flex flex-col lg:flex-row">
      <div #chartCardRef class="card bg-base-100 shadow-xl w-full lg:w-2/3 mb-4 lg:mb-0 lg:mr-4">
        <h3 class="m-4 card-title">Offers</h3>
        <google-chart
          *ngIf="chartData"
          [title]="chartTitle"
          [type]="chartType"
          [data]="chartData"
          [columns]="chartColumns"
          [options]="chartOptions"
        >
        </google-chart>
      </div>

      <span class="flex-auto"></span>
      <div class="card bg-base-100 shadow-xl w-full lg:w-auto">
        <h3 class="m-4 card-title">Make Offer</h3>
        <div class="card-body">
          <form #formRef="ngForm" (submit)="onSubmit()">
            <div class="form-control">
              <span class="label">
                <span class="label-text">Bid Price</span>
                <!-- The button to open modal -->
                <label for="modal-bid-price"><mat-icon>help</mat-icon></label>
                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-bid-price" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is bid price?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-bid-price" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input
                  required
                  type="number"
                  name="bidAmount"
                  [(ngModel)]="bidAmount"
                  class="input input-bordered w-full"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                />
                <span>{{ depositSymbol }}</span>
              </label>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Deposit Amount</span>
                <!-- The button to open modal -->
                <label for="modal-deposit"><mat-icon>help</mat-icon></label>
                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-deposit" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is deposit amount?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-deposit" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input
                  required
                  type="number"
                  name="depositAmount"
                  [(ngModel)]="depositAmount"
                  class="input input-bordered w-full"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                />
                <span>{{ depositSymbol }}</span>
              </label>
              <label class="label">
                <span class="label-text-alt">Available balance:</span>
                <span class="label-text-alt">{{ balance }}{{ depositSymbol }}</span>
              </label>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Interest Rate</span>
                <!-- The button to open modal -->
                <label for="modal-interest"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-interest" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is interest rate?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-interest" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input
                  required
                  type="number"
                  name="interestRate"
                  [(ngModel)]="interestRate"
                  class="input input-bordered w-full"
                  pattern="^[0-9]*\.?[0-9]{0,4}$"
                />
                <span>%</span>
              </label>
            </div>

            <div class="form-control">
              <span class="label">
                <span class="label-text">Expiration Date</span>
                <!-- The button to open modal -->
                <label for="modal-expiry"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-expiry" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is expiry date?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-expiry" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input
                  required
                  type="date"
                  name="expiryDate"
                  [(ngModel)]="date"
                  class="input input-bordered w-3/5"
                />
                <input
                  #timeRef
                  type="time"
                  required
                  name="expiryTime"
                  [(ngModel)]="time"
                  class="input input-bordered w-2/5"
                />
              </label>
            </div>

            <div class="form-control">
              <span class="label">
                <span class="label-text">Auto Payment</span>

                <!-- The button to open modal -->
                <label for="auto-pay"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-auto-pay" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is auto pay?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-auto-pay" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="cursor-pointer label">
                <span class="label-text">Enable</span>
                <input
                  type="checkbox"
                  class="toggle toggle-primary"
                  name="autoPyament"
                  [(ngModel)]="autoPayment"
                />
              </label>
            </div>

            <br />
            <div class="flex flex-row">
              <span class="flex-auto"></span>
              <button
                type="button"
                class="btn btn-primary btn-outline mr-2 px-8"
                (click)="onSimulate()"
              >
                Simulate
              </button>
              <button
                *ngIf="listingInfo?.owner !== currentStoredWallet?.address"
                class="btn btn-primary px-8"
              >
                Make Offer
              </button>
              <button
                *ngIf="listingInfo?.owner === currentStoredWallet?.address"
                class="btn btn-disabled px-8"
              >
                Your Listing
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <br />

    <div *ngIf="bidders?.length" class="card bg-base-100 shadow-xl">
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th></th>
              <td>Interest</td>
              <td>Deposit</td>
              <td>Bid price</td>
              <td>Expiry</td>
              <td>Bidder</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bidder of bidders">
              <th>#1</th>
              <td>{{ bidder.deposit_lending_rate | percentage }}</td>
              <td>{{ bidder.deposit_amount | coin }}</td>
              <td>{{ bidder.bid_amount | coin }}</td>
              <td>{{ bidder.bidding_period | date : 'yyyy-M-d a h:mm z' }}</td>
              <td>{{ bidder.bidder }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
