<div class="mb-4">
  <h2>Place Bid to lend tokens</h2>
</div>
<div class="card lg:card-side bg-base-100 shadow-xl mb-8 w-full xl:w-auto">
  <figure class="aspect-square w-full">
    <!-- img width setting not working -->
    <img src="{{ nftImage || 'assets/UnUniFi-logo.png' }}" alt="image of the NFT" class="h-full object-cover" />
  </figure>
  <div class="card-body w-full lg:w-2/3">
    <div class="flex flex-row">
      <div class="badge badge-lg badge-primary">
        {{ listingInfo?.state || 'NOT_LISTING' }}
      </div>
      <div class="badge badge-lg badge-secondary ml-2" *ngIf="listingInfo?.owner === currentStoredWallet?.address">
        Your NFT
      </div>
    </div>
    <h2 class="card-title break-all">
      {{ nftMetadata?.name || classID + '/' + nftID }}
    </h2>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>Class ID</th>
            <td>{{ classID }}</td>
          </tr>
          <tr>
            <th>NFT ID</th>
            <td>{{ nftID }}</td>
          </tr>
          <tr>
            <th>Minimum Deposit Rate</th>
            <td>{{ listingInfo?.minimum_deposit_rate | percentage }}</td>
          </tr>
          <tr>
            <th>Owner</th>
            <td>{{ listingInfo?.owner }}</td>
          </tr>
          <tr>
            <th>Started at</th>
            <td>{{ listingInfo?.started_at | date : 'yyyy-MM-dd a hh:mm:ss z' }}</td>
          </tr>

          <tr>
            <th class="text-primary">Value for you (POC)</th>
            <td>{{ getPocValue() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <ng-container *ngIf="listingInfo?.owner !== currentStoredWallet?.address; else listerSelf">
    <div class="flex flex-row flex-wrap mb-8">
      <div #chartCardRef class="card bg-base-100 shadow-xl w-full xl:w-auto xl:flex-auto mb-4 xl:mr-8">
        <div class="card-body w-auto">
          <h3 class="card-title">Offers</h3>
        </div>

        <google-chart class="mb-20" *ngIf="chartData" [title]="chartTitle" [type]="chartType" [data]="chartData"
          [columns]="chartColumns" [options]="chartOptions">
        </google-chart>
      </div>

      <div class="card bg-base-100 shadow-xl w-full xl:w-96 mb-4">
        <div class="card-body">
          <h3 class="card-title">Make Offer</h3>
          <form #formRef="ngForm" (submit)="onSubmit()">
            <div class="form-control">
              <span class="label">
                <span class="label-text">Bid Price</span>
                <!-- The button to open modal -->
                <label for="modal-bid-price"><mat-icon>help</mat-icon></label>
                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-bid-price" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is the bid price?</h3>
                    <p class="py-4">
                      This is the amount of tokens you will pay if the lister decides to sell the
                      NFT. It is not deducted from your balance at the time of bidding. You will
                      pay if the lister decides to sell when you are the highest bidder.
                      Additionally, if the lister fails to repay, they may still have the option
                      to purchase at this price.
                    </p>
                    <div class="modal-action">
                      <label for="modal-bid-price" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input #bidAmountNgModelRef="ngModel" required type="number" name="bidAmount" [(ngModel)]="bidAmount"
                  class="input input-bordered w-full" [class]="{
                    'input-error': bidAmountNgModelRef.errors && bidAmountNgModelRef.touched
                  }" pattern="^[0-9]*\.?[0-9]{0,6}$" />
                <span>{{ depositSymbol }}</span>
              </label>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Deposit Amount</span>
                <!-- The button to open modal -->
                <label for="modal-deposit"><mat-icon>help</mat-icon></label>
                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-deposit" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is the deposit amount?</h3>
                    <p class="py-4">
                      This is the maximum amount of tokens that you can lend to the lister. It is
                      deducted from your balance at the time of bidding. The rate of the
                      deposit/bid price must exceed the Minimum deposit rate.
                    </p>
                    <div class="modal-action">
                      <label for="modal-deposit" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input #depositAmountNgModelRef="ngModel" required type="number" name="depositAmount"
                  [(ngModel)]="depositAmount" class="input input-bordered w-full" [class]="{
                    'input-error':
                      depositAmountNgModelRef.errors && depositAmountNgModelRef.touched
                  }" pattern="^[0-9]*\.?[0-9]{0,6}$" />
                <span>{{ depositSymbol }}</span>
              </label>
              <label class="label">
                <span class="label-text-alt">Available balance:</span>
                <span class="label-text-alt">{{ balance }}{{ depositSymbol }}</span>
              </label>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Interest Rate</span>
                <!-- The button to open modal -->
                <label for="modal-interest"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-interest" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is the interest rate?</h3>
                    <p class="py-4">
                      This is the annual interest rate for the lending tokens. The interest
                      accrues from the point when the lister borrows tokens from your deposit and
                      is paid to you upon repayment.
                    </p>
                    <div class="modal-action">
                      <label for="modal-interest" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input #interestRateNgModelRef="ngModel" required type="number" name="interestRate"
                  [(ngModel)]="interestRate" class="input input-bordered w-full" [class]="{
                    'input-error': interestRateNgModelRef.errors && interestRateNgModelRef.touched
                  }" pattern="^[0-9]*\.?[0-9]{0,4}$" />
                <span>%</span>
              </label>
            </div>

            <div class="form-control">
              <span class="label">
                <span class="label-text">Expiration Date</span>
                <!-- The button to open modal -->
                <label for="modal-expiry"><mat-icon>help</mat-icon></label>

                <!-- Put this part before </body> tag -->
                <input type="checkbox" id="modal-expiry" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is the expiration date?</h3>
                    <p class="py-4">
                      This is the deadline for repayment. The lister must repay the tokens to you
                      by this date. If there are other available bids, the lister will
                      automatically refinance. If the lister fails to refinance or repay, the NFT
                      will be liquidated, and bidders will have the opportunity to purchase it.
                    </p>
                    <div class="modal-action">
                      <label for="modal-expiry" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="input-group">
                <input required type="date" name="expiryDate" [(ngModel)]="date" class="input input-bordered w-3/5"
                  (change)="onChangeDate()" />
                <input #timeRef type="time" required name="expiryTime" [(ngModel)]="time"
                  class="input input-bordered w-2/5" (change)="onChangeDate()" />
              </label>

              <label class="label" *ngIf="!within3Days">
                <span class="label-text-alt text-error">Please set Expiration Date within 3 days.</span>
              </label>
            </div>

            <!-- <div class="form-control">
              <span class="label">
                <span class="label-text">Auto Payment</span>

                <label for="modal-auto-pay"><mat-icon>help</mat-icon></label>

                <input type="checkbox" id="modal-auto-pay" class="modal-toggle" />
                <div class="modal modal-bottom sm:modal-middle">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">What is auto pay?</h3>
                    <p class="py-4">
                      For example, imagine that you set it as 10%. Then some users offer the bid to
                      your NFT with price 2ATOM. In this situation, that user have to deposit not
                      less than 0.2ATOM.
                    </p>
                    <div class="modal-action">
                      <label for="modal-auto-pay" class="btn">Understood</label>
                    </div>
                  </div>
                </div>
              </span>
              <label class="cursor-pointer label">
                <span class="label-text">Enable</span>
                <input
                  type="checkbox"
                  class="toggle toggle-primary"
                  name="autoPyament"
                  [(ngModel)]="autoPayment"
                />
              </label>
            </div> -->

            <div class="flex flex-row flex-wrap justify-end mt-4">
              <button type="button" class="btn btn-primary btn-outline" (click)="onSimulate()">
                Simulate
              </button>
              <span class="w-full md:w-2"></span>
              <button class="btn btn-primary" [disabled]="formRef.invalid || !within3Days">
                Make Offer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #listerSelf>
    <div class="card bg-base-100 mb-8">
      <div class="flex flex-row justify-center items-center h-96">
        <p>You can't bid to your own NFT.</p>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="bidders?.length" class="card bg-base-100 shadow-xl">
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th></th>
          <td>Interest</td>
          <td>Deposit</td>
          <td>Bid price</td>
          <td>Expiry</td>
          <td>Bidder</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bidder of bidders; let i = index">
          <ng-container *ngIf="bidder.bidder === currentStoredWallet?.address; then color; else normal"></ng-container>
          <ng-template #color>
            <th class="text-secondary">#{{ i + 1 }}</th>
            <td class="text-secondary">{{ bidder.deposit_lending_rate | percentage }}</td>
            <td class="text-secondary">{{ bidder.deposit_amount | coin }}</td>
            <td class="text-secondary">{{ bidder.bid_amount | coin }}</td>
            <td class="text-secondary">
              {{ bidder.bidding_period | date : 'yyyy-MM-dd a hh:mm z' }}
            </td>
            <td class="text-secondary">{{ bidder.bidder }}</td>
          </ng-template>
          <ng-template #normal>
            <th>#{{ i + 1 }}</th>
            <td>{{ bidder.deposit_lending_rate | percentage }}</td>
            <td>{{ bidder.deposit_amount | coin }}</td>
            <td>{{ bidder.bid_amount | coin }}</td>
            <td>{{ bidder.bidding_period | date : 'yyyy-MM-dd a hh:mm z' }}</td>
            <td>{{ bidder.bidder }}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>