<h2 class="mb-0">Derivatives Dashboard</h2>
<h3 class="mb-0 ml-4">Stats</h3>
<mat-card class="mb-4">
  <mat-card-title>Overview</mat-card-title>
  <mat-list>
    <mat-list-item>
      <span class="break-all truncate pr-4">Assets Under Management:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate"></span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
<mat-card class="mb-4">
  <mat-card-title>Total</mat-card-title>
  <mat-list>
    <mat-list-item>
      <span class="break-all truncate pr-4">Total Fees:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate"></span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="break-all truncate pr-4">Total Volume:</span>
      <span class="flex-auto"></span>
      <span class="break-all truncate"></span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="break-all truncate pr-4">Floor Price Fund: </span>
      <span class="flex-auto"></span>
      <span class="break-all truncate"></span>
    </mat-list-item>
  </mat-list>
</mat-card>
<button
  class="w-full mb-4"
  mat-flat-button
  color="primary"
  routerLink="/derivatives/perpetual-futures"
>
  <mat-icon>score</mat-icon>
  <span>Trade</span>
</button>
