<h2 class="mb-0">Derivatives Dashboard</h2>
<div class="flex justify-center">
  <div class="max-w-full text-base-content">
    <ng-container *ngFor="let config of configs">
      <div class="card lg:card-side bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title break-all">{{ config.name }}</h2>
          <p style="white-space: pre-wrap">{{ config.description }}</p>
          <div class="card-actions justify-end">
            <button
              *ngIf="config.name === 'Perpetual Futures'"
              class="btn btn-primary"
              routerLink="{{ config.route }}"
            >
              <mat-icon>show_chart</mat-icon>
              <span class="ml-2">Trade</span>
            </button>
            <!-- The button to open modal -->
            <label class="btn"
              ><a
                href="https://cauchye.notion.site/Derivatives-Manual-8a1501a5b8cf49e9a39dc46d6e41a22e"
                target="_blank"
                >Read more</a
              ></label
            >
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="modal-deposit" class="modal-toggle" />
            <div class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                <h3 class="font-bold text-lg">NFT-Backed Loan Borrow</h3>
                <p class="py-4">Coming soon!</p>
                <div class="modal-action">
                  <label for="modal-deposit" class="btn">Understood</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />
    </ng-container>
  </div>
</div>

<div class="card bg-base-100 shadow-xl">
  <div class="card-body overflow-x-auto">
    <h2 class="card-title break-all">Pool Overview</h2>
    <div class="flex flex-col xl:flex-row items-center">
      <div class="stats flex flex-col md:flex-row">
        <div class="stat">
          <div class="stat-title">Pool Value</div>
          <div class="stat-value text-primary">$ {{ pool?.pool_market_cap?.total | number }}</div>
          <div class="stat-desc"></div>
        </div>
        <!-- <div class="stat">
          <div class="stat-title">24h Volume</div>
          <div class="stat-value text-primary">$ {{ pool?.volume_24hours | number }}</div>
          <div class="stat-desc"></div>
        </div>
        <div class="stat">
          <div class="stat-title">24h Fees</div>
          <div class="stat-value text-secondary">$ {{ pool?.fees_24hours | number }}</div>
          <div class="stat-desc"></div>
        </div> -->
      </div>
      <span class="flex-auto"></span>
      <div class="card-actions justify-end">
        <button class="btn btn-secondary btn-disabled px-8" routerLink="pool">View Pool</button>
      </div>
    </div>
  </div>
</div>

<br />

<div class="card bg-base-100 shadow-xl">
  <div class="card-body overflow-x-auto">
    <h2 class="card-title break-all">Perpetual Futures Overview</h2>
    <div class="flex flex-col xl:flex-row items-center">
      <!-- <div class="stats flex flex-col md:flex-row">
        <div class="stat">
          <div class="stat-title">Total Long Position (Perpetual Futures)</div>
          <div class="stat-value text-primary">
            $ {{ perpetualFuturesParams?.long_positions | number }}
          </div>
          <div class="stat-desc"></div>
        </div>
        <div class="stat">
          <div class="stat-title">Total Short Position (Perpetual Futures)</div>
          <div class="stat-value text-secondary">
            $ {{ perpetualFuturesParams?.short_positions | number }}
          </div>
          <div class="stat-desc"></div>
        </div>
      </div> -->
      <span class="flex-auto"></span>
      <div class="card-actions justify-end">
        <button class="btn btn-primary px-8" routerLink="positions">View Positions</button>
      </div>
    </div>
  </div>
</div>

<!-- <h3 class="mb-0 ml-4">Tokens</h3>
<div class="flex flex-wrap">
  <mat-card
    class="mat-elevation-z8 text-center hover:shadow-xl w-64 m-5"
    *ngFor="let tokenInfo of tokenInfos"
  >
    <mat-card-header>
      <img mat-card-avatar src="{{ tokenInfo.iconUrl }}" />
      <mat-card-title>{{ tokenInfo.name }}</mat-card-title>
      <mat-card-subtitle>{{ tokenInfo.symbol }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Price:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">$ {{ tokenInfo.price }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">Pool:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">$ {{ tokenInfo.pool }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">Weight:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">{{ tokenInfo.weight }}%</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="flex flex-wrap">
  <mat-card class="text-center hover:shadow-xl w-64 m-5" *ngFor="let token of tokens">
    <mat-card-header>
      <img mat-card-avatar src="{{ token.iconUrl }}" />
      <mat-card-title>{{ token.name }}</mat-card-title>
      <mat-card-subtitle>{{ token.symbol }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="whitespace-nowrap">Price:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">$ {{ token.price }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">24h Volume:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">$ {{ token.volume24h }}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span class="whitespace-nowrap">24h Fees:</span>
          <span class="flex-auto"></span>
          <span class="ml-2 break-all text-sm sm:text-base">$ {{ token.fees24h }}%</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div> -->
