<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="flex flex-row">
      <div class="badge badge-lg mr-1">Perpetual Futures</div>

      <ng-container *ngIf="positionInstance?.position_type === positionType.LONG">
        <div class="badge badge-lg badge-primary">Long</div>
      </ng-container>
      <ng-container *ngIf="positionInstance?.position_type === positionType.SHORT">
        <div class="badge badge-lg badge-secondary">Short</div>
      </ng-container>
    </div>
    <h2 class="card-title">
      <ng-container *ngIf="positionInstance?.position_type === positionType.LONG">
        <span class="text-primary">{{ positionInstance?.size }} {{ symbolMetadataMap?.[position?.market?.denom ||
          '']?.symbol }}/{{ symbolMetadataMap?.[position?.market?.quote_denom ||
          '']?.symbol }}</span>
      </ng-container>
      <ng-container *ngIf="positionInstance?.position_type === positionType.SHORT">
        <span class="text-secondary">{{ positionInstance?.size }} {{ symbolMetadataMap?.[position?.market?.denom ||
          '']?.symbol }}/{{ symbolMetadataMap?.[position?.market?.quote_denom ||
          '']?.symbol }}</span>
      </ng-container>


    </h2>

    <div class="flex flex-row items-center">
      <div class="stats">
        <div class="stat">
          <div class="stat-title">Remaining margin rate</div>
          <div class="stat-value">123.4%</div>
          <div class="stat-desc">Being under 50% leads liquidation</div>
        </div>
      </div>

      <span class="flex-auto"></span>
      <button class="btn btn-outline btn-error" (click)="onClickClose()">Close Position</button>
    </div>

    <div class="collapse collapse-arrow">
      <input type="checkbox" />
      <div class="collapse-title text-xl font-medium">
        Details
      </div>
      <div class="collapse-content">
        <div class="overflow-x-auto">
          <table class="table w-full">
            <tbody>
              <tr>
                <th>Opened at</th>
                <td>{{ position?.opened_at }}</td>
              </tr>
              <tr>
                <th>Opened rate</th>
                <td>{{ position?.opened_rate }}</td>
              </tr>
              <tr>
                <th>Leverage</th>
                <td>{{ positionInstance?.leverage }}x</td>
              </tr>
              <tr>
                <th>Remaining margin</th>
                <td>458 axlUSDC</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
