<div class="card bg-base-100 shadow-xl w-full" *ngIf="position?.position?.id !== '10'">
  <div class="card-body">
    <div class="flex flex-row">
      <div class="badge badge-lg badge-accent mr-1">#{{ position?.position?.id }}</div>
      <div class="badge badge-lg mr-1">Perpetual Futures</div>

      <ng-container *ngIf="positionInstance?.position_type === positionType.LONG">
        <div class="badge badge-lg badge-primary">Long</div>
      </ng-container>
      <ng-container *ngIf="positionInstance?.position_type === positionType.SHORT">
        <div class="badge badge-lg badge-secondary">Short</div>
      </ng-container>
    </div>
    <h2 class="card-title">
      <span
        [ngClass]="{
          'text-primary': positionInstance?.position_type === positionType.LONG,
          'text-secondary': positionInstance?.position_type === positionType.SHORT
        }"
        >{{ positionInstance?.size | number : '1.0-6' }} {{ market }}</span
      >
    </h2>

    <div class="flex flex-row justify-center items-center">
      <div class="stats stats-vertical md:stats-horizontal">
        <div class="stat">
          <div class="stat-title">Margin Maintenance Rate</div>
          <div class="stat-value">
            {{ position?.margin_maintenance_rate | percentage }}
          </div>
          <div class="stat-desc">Under 50% will initiate liquidation</div>
        </div>
        <div class="stat">
          <div class="stat-title">Effective Margin</div>
          <div class="stat-value text-primary">{{ position?.effective_margin | coin }}</div>
        </div>
        <div class="stat" *ngIf="!position?.valuation_profit?.amount?.includes('-')">
          <div class="stat-title">Current Profit</div>
          <div class="stat-value text-info">
            {{ position?.valuation_profit | coin }}
          </div>
        </div>
        <div class="stat" *ngIf="position?.valuation_profit?.amount?.includes('-')">
          <div class="stat-title">Current Loss</div>
          <div class="stat-value text-error">
            {{ position?.valuation_profit | coin }}
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center">
      <div class="stats stats-vertical md:stats-horizontal">
        <div class="stat">
          <div class="stat-title">Opened Rate</div>
          <div class="stat-value text-primary">{{ openedRate | number }} {{ quoteSymbol }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">Leverage</div>
          <div class="stat-value text-accent">{{ positionInstance?.leverage }}x</div>
        </div>
        <div class="stat">
          <div class="stat-title">Remaining Margin</div>
          <div class="stat-value text-primary">
            {{ position?.position?.remaining_margin?.amount | coinAmount }}
          </div>
          <div class="stat-desc">{{ position?.position?.remaining_margin?.denom | coinDenom }}</div>
        </div>
        <div class="stat">
          <div class="stat-title">Date Opened</div>
          <div class="stat-value text-accent">
            {{ position?.position?.opened_at | date : 'yyyy-MM-dd' }}
          </div>
          <div class="stat-desc">{{ position?.position?.opened_at | date : 'hh:mm:ss z' }}</div>
        </div>
      </div>
    </div>
    <span class="flex-auto"></span>
    <!-- The button to open modal -->
    <div class="card-actions justify-end">
      <label for="close-modal-{{ position?.position?.id }}" class="btn btn-outline btn-error"
        >Close Position</label
      >
    </div>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="close-modal-{{ position?.position?.id }}" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Are you sure to close this position?</h3>
        <p class="py-4">The position #{{ position?.position?.id }} is closed and settled, OK?</p>
        <div class="modal-action">
          <label for="close-modal-{{ position?.position?.id }}" class="btn btn-outline"
            >Cancel</label
          >
          <button class="btn btn-secondary" (click)="onClickClose()">Close Position</button>
        </div>
      </div>
    </div>
  </div>
</div>
