<h2 class="mb-0">View CDPs</h2>
<div class="w-full flex flex-wrap">
  <ng-template ngFor let-debt [ngForOf]="debtParams || []">
    <mat-card class="m-5 h-1/3 w-full lg:w-1/3 clickable" routerLink="/mint/cdps">
      <mat-card-header>
        <img *ngIf="debt.denom == 'jpu'" mat-card-avatar src="assets/images/JPU.png" alt="JPU" />
        <img *ngIf="debt.denom == 'euu'" mat-card-avatar src="assets/images/EUU.png" alt="EUU" />
        <mat-card-title *ngIf="debt.denom == 'jpu'">JPU</mat-card-title>
        <mat-card-title *ngIf="debt.denom == 'euu'">EUU</mat-card-title>
      </mat-card-header>
      <mat-list>
        <mat-list-item>
          <span>Reference Asset:</span>
          <span class="flex-auto"></span>
          <span>{{ debt.reference_asset }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </ng-template>
</div>

<h2 class="mb-0">Create CDPs</h2>
<div class="w-full flex flex-wrap">
  <ng-template ngFor let-collateral [ngForOf]="collateralParams || []">
    <mat-card class="m-5 h-1/3 w-full lg:w-1/3 clickable" (click)="onClickCollateral(collateral)">
      <mat-card-header>
        <img
          *ngIf="collateral.denom == 'ubtc'"
          mat-card-avatar
          src="assets/images/bitcoin.svg"
          alt="BTC"
        />
        <img
          *ngIf="collateral.denom == 'ueth'"
          mat-card-avatar
          src="assets/images/eth-diamond-black-white.jpg"
          alt="ETH"
        />
        <mat-card-title *ngIf="collateral.type == 'ubtc-jpy-3-2'">JPU-BTC</mat-card-title>
        <mat-card-title *ngIf="collateral.type == 'ubtc-euu-3-2'">JPU-ETH</mat-card-title>
        <mat-card-title *ngIf="collateral.type == 'ueth-jpy-3-2'">EUU-BTC</mat-card-title>
        <mat-card-title *ngIf="collateral.type == 'ueth-euu-3-2'">EUU-ETH</mat-card-title>
      </mat-card-header>
      <mat-list>
        <mat-list-item>
          <span>Spot Market:</span>
          <span class="flex-auto"></span>
          <span>{{ collateral.spot_market_id }}</span>
        </mat-list-item>
        <mat-list-item>
          <span>Liquidation Ratio:</span>
          <span class="flex-auto"> </span>
          <span class="ml-2 break-all">
            <span>{{ collateral.liquidation_ratio | floor }}</span>
            <span class="text-gray-300 text-sm"
              >{{ collateral.liquidation_ratio | decimals: 6 }}
            </span>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </ng-template>

  <!-- <mat-card class="m-5 h-1/3 w-full lg:w-1/4">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/nft.svg" alt="NFT" />
      <mat-card-title>JPU-NFT</mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item>
        <span>Spot Market:</span>
        <span class="flex-auto"></span>
        <span>marketplace</span>
      </mat-list-item>
      <mat-list-item>
        <span>Liquidation Ratio:</span>
        <span class="flex-auto"> </span>
        <span class="ml-2 break-all">
          <span>{{ '1.500000' | floor }}</span>
          <span class="text-gray-300 text-sm">{{ '1.500000' | decimals: 6 }} </span>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="m-5 h-1/3 w-full lg:w-1/4">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/nft.svg" alt="NFT" />
      <mat-card-title>EUU-NFT</mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item>
        <span>Spot Market:</span>
        <span class="flex-auto"></span>
        <span>marketplace</span>
      </mat-list-item>
      <mat-list-item>
        <span>Liquidation Ratio:</span>
        <span class="flex-auto"> </span>
        <span class="ml-2 break-all">
          <span>{{ '1.500000' | floor }}</span>
          <span class="text-gray-300 text-sm">{{ '1.500000' | decimals: 6 }} </span>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card> -->
</div>
