<div class="w-full">
  <h2>Perpetual Futures</h2>
  <div class="flex flex-col md:flex-row justify-end">
    <button class="btn btn-outline btn-secondary px-8 mr-4" routerLink="/derivatives">
      Top page
    </button>
    <button class="btn btn-outline btn-info px-8 mr-4" routerLink="/derivatives/pool">
      Pool (Buy / Sell DLP)
    </button>
  </div>
  <div class="form-control mb-4">
    <ng-container *ngIf="markets === null; then loading; else loaded"></ng-container>
    <ng-template #loading>
      <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
    <ng-template #loaded>
      <ng-container *ngIf="!markets || markets.length === 0; then empty; else filled">
      </ng-container>
    </ng-template>
    <ng-template #empty>
      <p>No market is available</p>
    </ng-template>
    <ng-template #filled>
      <label class="label">
        <span class="label-text">Select market</span>
      </label>
      <select
        #marketRef
        class="select select-bordered w-full max-w-xs"
        (change)="onChangeMarket(marketRef.value)"
        [value]="selectedMarket"
      >
        <option disabled [value]="undefined">Please Select</option>
        <ng-container *ngFor="let m of markets">
          <option [value]="m">{{ m }}</option>
        </ng-container>
      </select>
    </ng-template>
  </div>
  <ng-content class="mb-4"></ng-content>
</div>

<!-- <mat-card class="mb-4">
  <mat-list>
    <mat-list-item>
      <span class="whitespace-nowrap">Entry Price:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">$1300</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">Exit Price:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">$1300</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">Borrow Fee:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">0.0007%/h</span>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <span class="whitespace-nowrap">Available liquidity:</span>
      <span class="flex-auto"></span>
      <span class="ml-2 break-all text-sm sm:text-base">$23403456</span>
    </mat-list-item>
  </mat-list>
</mat-card> -->
