<ng-container *ngIf="txDetail">
  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <span class="badge badge-info"> {{ txDetail.txType }} </span>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>>Delegator address</th>
            <td class="font-mono">
              {{ txDetail.fromAddress }}
            </td>
          </tr>
          <tr>
            <th>Withdraw address</th>
            <td>
              {{ txDetail.toAddress }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
