<ng-container *ngIf="currentStoredWallet; then exist; else empty"></ng-container>
<ng-template #exist>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn gap-1 btn-ghost">
      <mat-icon
        matListIcon
        class="md:ml-3"
        [ngStyle]="{ color: getColorCode(currentStoredWallet!) }"
      >
        circle
      </mat-icon>
      <span class="hidden md:inline">{{ currentStoredWallet?.id }}</span>
    </label>
    <div tabindex="0" class="dropdown-content md:p-2 w-screen md:w-auto">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex flex-row flex-wrap">
            <h2 class="card-title">
              <mat-icon matListIcon [ngStyle]="{ color: getColorCode(currentStoredWallet!) }">
                circle </mat-icon
              >{{ currentStoredWallet?.id }}
            </h2>
            <span class="flex-auto"></span>
            <button class="btn btn-link -mt-2 hidden md:flex" routerLink="/">
              <span>View Balance</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </button>
          </div>

          <div class="badge badge-primary">
            {{ currentStoredWallet?.type }}
          </div>
          <h3 class="mx-4 break-all md:whitespace-nowrap font-mono">
            {{ currentStoredWallet?.address }}
            <button
              mat-icon-button
              type="button"
              (click)="copyClipboard(currentStoredWallet?.address || '')"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
          </h3>

          <div class="stats stats-vertical md:stats-horizontal" *ngIf="symbolBalancesMap">
            <div class="stat">
              <div class="stat-title">Available</div>
              <div class="stat-value text-secondary">
                {{ symbolBalancesMap[symbol || ''] || 0 }}
              </div>
              <div class="stat-desc">{{ symbol }}</div>
            </div>
          </div>

          <div class="card-actions justify-end">
            <button
              class="btn gap-1 btn-error btn-outline w-full md:w-auto md:px-8"
              (click)="onDisconnectWallet($event)"
            >
              Disconnect
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <button
    class="btn gap-1 btn-info btn-outline w-full md:w-auto md:px-8"
    (click)="onConnectWallet($event)"
  >
    <mat-icon color="primary" class="md:ml-3">wallet</mat-icon>
    <span class="hidden md:inline">Connect wallet</span>
  </button>
</ng-template>
