<ng-container *ngIf="currentStoredWallet; then exist; else empty"></ng-container>
<ng-template #exist>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn gap-1 btn-ghost">
      <span
        class="material-symbols-outlined"
        [ngStyle]="{ color: getColorCode(currentStoredWallet!) }"
      >
        circle
      </span>
      <span class="hidden md:inline">{{ currentStoredWallet?.id }}</span>
    </label>
    <div tabindex="0" class="dropdown-content md:p-2 w-screen md:w-auto">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">
            <span
              class="material-symbols-outlined"
              [ngStyle]="{ color: getColorCode(currentStoredWallet!) }"
            >
              circle
            </span>
            {{ currentStoredWallet?.id }}
            <div class="badge badge-primary">
              {{ currentStoredWallet?.type }}
            </div>
          </h2>

          <h3 class="mt-4 mx-4 break-all md:whitespace-nowrap font-mono">
            {{ currentStoredWallet?.address }}
            <button
              mat-icon-button
              type="button"
              (click)="copyClipboard(currentStoredWallet?.address || '')"
            >
              <span class="material-symbols-outlined">content_copy</span>
            </button>
          </h3>

          <div class="stats stats-vertical md:stats-horizontal" *ngIf="symbolBalancesMap">
            <div class="stat">
              <div class="stat-title">Available</div>
              <div class="stat-value text-secondary">
                {{ symbolBalancesMap[symbol || ''] || 0 }}
              </div>
              <div class="stat-desc">{{ symbol }}</div>
            </div>
          </div>

          <div class="card-actions justify-end gap-2">
            <button class="btn gap-1 btn-info w-full md:w-auto md:px-8" routerLink="/">
              View Balance
            </button>
            <button
              class="btn gap-1 btn-error btn-outline w-full md:w-auto md:px-8"
              (click)="onDisconnectWallet($event)"
            >
              Disconnect
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <button
    class="btn btn-info btn-outline w-full md:w-auto md:px-8 gap-2"
    (click)="onConnectWallet($event)"
  >
    <span class="material-symbols-outlined">wallet</span>
    <span class="hidden md:inline">Connect wallet</span>
  </button>
</ng-template>
