<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="flex flex-wrap">
      <h2 class="card-title">Validators</h2>
      <span class="flex-auto"></span>
      <div class="btn-group">
        <button class="btn" [class]="{ 'btn-active': active }" (click)="onClickToggle()">
          Active
        </button>
        <button class="btn" [class]="{ 'btn-active': !active }" (click)="onClickToggle()">
          Inactive
        </button>
      </div>
    </div>

    <ng-container *ngIf="validators === null; then loading; else loaded"> </ng-container>
    <ng-template #loading>
      <p class="text-center">
        <span class="loading loading-dots loading-lg"></span>
      </p>
    </ng-template>
    <ng-template #loaded>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <th></th>
            <td>Validator</td>
            <td>Voting Power</td>
            <td>Tokens</td>
            <td>Commission</td>
          </thead>
          <tbody>
            <ng-container *ngIf="(validators?.length || 0) > 0; else empty">
              <tr
                *ngFor="let validator of validators; last as last"
                class="hover cursor-pointer"
                routerLink="/validators/{{ validator.val.operator_address }}"
              >
                <th>
                  <span class="material-icons" [ngStyle]="{ color: getColorCode(validator.val) }">
                    circle
                  </span>
                </th>
                <td>
                  {{ validator.val.description?.moniker }}
                </td>
                <td>
                  {{ validator.share | percent : '1.2-2' }}
                </td>
                <td>
                  {{ validator.val.tokens | unitConversion }}
                </td>
                <td>
                  {{ validator.val.commission?.commission_rates?.rate | percent : '1.0-0' }}
                </td>
              </tr>
            </ng-container>
            <ng-template #empty>
              <tr>
                <th></th>
                <td colspan="4">There is no validator.</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
