<ng-container *ngIf="validators === null; then loading; else loaded"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="(validators?.length || 0) > 0; then exist; else empty"> </ng-container>
</ng-template>
<ng-template #exist>
  <mat-card>
    <div class="flex flex-row items-end">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">construction</mat-icon>
        <mat-card-title>Validators</mat-card-title>
      </mat-card-header>
      <span class="flex-auto"></span>
      <mat-button-toggle-group #tgl="matButtonToggleGroup" (change)="onToggleChange(tgl.value)">
        <mat-button-toggle value="active">Active</mat-button-toggle>
        <mat-button-toggle value="inactive">Inactive</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-list>
      <mat-list-item>
        <span class="w-6/12 lg:w-9/12 break-all text-base pl-8 pr-8">Validator</span>
        <span class="flex-auto"></span>
        <span class="w-2/12 lg:w-3/12 text-right break-words text-sm">Voting Power</span>
        <span class="w-2/12 lg:w-3/12 text-right break-all text-sm">Tokens</span>
        <span class="w-2/12 lg:hidden text-right break-all text-xs">Commission</span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let validator of validators; last as last"
        routerLink="/validators/{{ validator.val.operator_address }}"
      >
        <span class="w-6/12 lg:w-9/12 flex content-center">
          <mat-icon matListIcon [ngStyle]="{ color: getColorCode(validator.val) }">
            circle
          </mat-icon>
          <span class="break-all text-base">{{ validator.val.description?.moniker }}</span>
        </span>
        <span class="flex-auto"></span>
        <span class="w-2/12 lg:w-3/12 text-right break-all text-base">{{
          validator.share | percent: '1.2-2'
        }}</span>
        <span class="flex-auto"></span>
        <span class="w-2/12 lg:w-3/12 text-right break-all text-base">{{
          validator.val.tokens | unitConversion
        }}</span>
        <span class="w-2/12 lg:hidden text-right break-all text-base">{{
          validator.val.commission?.commission_rates?.rate | percent: '1.0-0'
        }}</span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</ng-template>
<ng-template #empty>
  <p>There is no validator.</p>
</ng-template>
