<h2>Accounts Balances</h2>
<ng-container *ngIf="keys === null; then loading; else loaded"></ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="(keys?.length || 0) > 0; then exist; else empty"></ng-container>
</ng-template>
<ng-template #exist>
  <ng-container *ngIf="keys && accAddresses">
    <h3>{{ keys[0].id }} : {{ accAddresses[0] }}</h3>
    <mat-card class="mb-2">
      <mat-list *ngFor="let balance of balances0; last as last">
        <mat-list-item>
          <span>{{ balance.denom }}</span>
          <span class="flex-auto"></span>
          <span>{{ balance.amount }}</span>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list>
    </mat-card>

    <ng-container *ngIf="keys[1] && accAddresses[1]">
      <h3>{{ keys[1].id }} : {{ accAddresses[1] }}</h3>
      <mat-card class="mb-2">
        <mat-list *ngFor="let balance of balances1; last as last">
          <mat-list-item>
            <span>{{ balance.denom }}</span>
            <span class="flex-auto"></span>
            <span>{{ balance.amount }}</span>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="keys[2] && accAddresses[2]">
      <h3>{{ keys[2].id }} : {{ accAddresses[2] }}</h3>
      <mat-card class="mb-2">
        <mat-list *ngFor="let balance of balances2; last as last">
          <mat-list-item>
            <span>{{ balance.denom }}</span>
            <span class="flex-auto"></span>
            <span>{{ balance.amount }}</span>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="keys.length > 3">
      <button mat-flat-button color="accent" class="w-full" routerLink="/keys">See More</button>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #empty>
  <p>There is no key.</p>
</ng-template>
