<h2 class="mb-0">Accounts Balances</h2>
<ng-container *ngIf="keys === null; then loading; else loaded"></ng-container>
<ng-template #loading>
  <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
</ng-template>
<ng-template #loaded>
  <ng-container *ngIf="(keys?.length || 0) > 0; then exist; else empty"></ng-container>
</ng-template>
<ng-template #exist>
  <ng-container *ngIf="keys && accAddresses">
    <h3 class="mb-0">{{ keys[0].id }} : {{ accAddresses[0] }}</h3>
    <mat-card class="mb-2">
      <mat-list>
        <mat-list-item *ngFor="let balance of balances0; last as last">
          <span class="flex-auto"></span>
          <span class="mr-2">{{ balance.amount | number: '1.0-0' }}</span>
          <span>{{ balance.denom }}</span>
          <span *ngIf="balance?.denom?.length == 3" class="mr-2"></span>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <ng-container *ngIf="keys[1] && accAddresses[1]">
      <h3 class="mb-0">{{ keys[1].id }} : {{ accAddresses[1] }}</h3>
      <mat-card class="mb-2">
        <mat-list>
          <mat-list-item *ngFor="let balance of balances1; last as last">
            <span class="flex-auto"></span>
            <span class="mr-2">{{ balance.amount | number: '1.0-0' }}</span>
            <span>{{ balance.denom }}</span>
            <span *ngIf="balance?.denom?.length == 3" class="mr-2"></span>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="keys[2] && accAddresses[2]">
      <h3 class="mb-0">{{ keys[2].id }} : {{ accAddresses[2] }}</h3>
      <mat-card class="mb-2">
        <mat-list>
          <mat-list-item *ngFor="let balance of balances2; last as last">
            <span class="flex-auto"></span>
            <span class="mr-2">{{ balance.amount | number: '1.0-0' }}</span>
            <span>{{ balance.denom }}</span>
            <span *ngIf="balance?.denom?.length == 3" class="mr-2"></span>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="keys.length > 3">
      <button mat-flat-button color="accent" class="mb-4 w-full" routerLink="/keys">
        See More
      </button>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #empty>
  <p>There is no key.</p>
</ng-template>
