<ng-container *ngIf="txDetail">
  <mat-card class="mb-2">
    <mat-chip-list>
      <mat-chip color="primary" selected> {{txDetail.txType}} </mat-chip>
    </mat-chip-list>
    <mat-list>
      <mat-list-item>
        <span class="break-words">Address (From.):</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.fromAddress }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="break-words">Address (To.):</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.toAddress }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="whitespace-nowrap">Delay:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.vestingDelayed }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item>
        <span class="whitespace-nowrap">End time:</span>
        <span class="flex-auto"></span>
        <span class="ml-2 break-all text-xs sm:text-base">{{ txDetail.vestingEndTime | date }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item *ngFor="let balance of txDetail?.amounts; let i = index; last as last">
        <span *ngIf="txDetail?.amounts?.length == 1" class="break-words">Amount:</span>
        <span *ngIf="txDetail?.amounts?.length != 1" class="break-words">Amount {{i+1}}:</span>
        <span class="flex-auto"></span>
        <span class="mr-2">{{ balance.amount | number: '1.0-0' }}</span>
        <span>{{ balance.denom }}</span>
        <span *ngIf="balance?.denom?.length == 3" class="mr-2"></span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</ng-container>
