<ng-container *ngIf="txDetail">
  <div class="card bg-base-100 shadow-xl mb-4">
    <div class="card-body">
      <span class="badge badge-info"> {{ txDetail.txType }} </span>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>Address (From.)</th>
            <td class="font-mono">
              {{ txDetail.fromAddress }}
            </td>
          </tr>
          <tr>
            <th>Address (To.)</th>
            <td class="font-mono">
              {{ txDetail.toAddress }}
            </td>
          </tr>
          <tr>
            <th>Delay</th>
            <td>
              {{ txDetail.vestingDelayed }}
            </td>
          </tr>
          <tr>
            <th>End time</th>
            <td>
              {{ txDetail.vestingEndTime | date : 'yyyy-MM-dd a hh:mm z' }}
            </td>
          </tr>
          <tr *ngFor="let amount of txDetail.amounts; let i = index">
            <th>Amount #{{ i }}</th>
            <td>{{ amount.amount }}{{ amount.denom }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
