<view-balance
  [walletId]="walletId$ | async"
  [walletType]="walletType$ | async"
  [accAddress]="accAddress$ | async"
  [accountTypeName]="accountTypeName$ | async"
  [publicKey]="publicKey$ | async"
  [valAddress]="valAddress$ | async"
  [balanceSymbols]="balanceSymbols$ | async"
  [symbolBalancesMap]="symbolBalancesMap$ | async"
  [rewardSymbols]="rewardSymbols$ | async"
  [symbolRewardsMap]="symbolRewardsMap$ | async"
  [faucetSymbols]="faucetSymbols$ | async"
  [faucets]="faucets$ | async"
  [nodeInfo]="nodeInfo$ | async"
  (appWithdrawAllDelegatorReward)="onSubmitWithdrawAllDelegatorReward()"
></view-balance>
