<div class="bg-[#39465d] min-h-screen">
  <div class="mx-auto max-w-screen-xl w-full p-8">
    <div class="flex flex-row flex-wrap mb-8">
      <div class="text-xl breadcrumbs">
        <ul>
          <li><a routerLink="../..">Markets</a></li>
          <li>
            <a routerLink="..">{{ vault?.name }}</a>
          </li>
          <li>Tranche #{{ trancheId }}</li>
        </ul>
      </div>
      <span class="flex-auto"></span>
      <div class="join">
        <button class="btn btn-sm btn-primary glass join-item" (click)="changeSimple()">
          Earn
        </button>
        <button class="btn btn-sm btn-accent text-neutral join-item">Trade</button>
      </div>
    </div>

    <div class="flex flex-row flex-wrap gap-4 mb-4">
      <div class="card bg-base-200 shadow-xl w-full 2xl:w-1/2">
        <div class="tabs w-full">
          <a
            class="tab tab-lg tab-bordered w-1/2"
            [class.border-accent]="swapTab === 'pt' && modeTab === 'swap'"
            [class.text-accent]="swapTab === 'pt' && modeTab === 'swap'"
            [class.border-primary]="swapTab === 'yt' && modeTab === 'swap'"
            [class.text-primary]="swapTab === 'yt' && modeTab === 'swap'"
            (click)="modeTab = 'swap'"
          >
            Swap
          </a>
          <a
            class="tab tab-lg tab-bordered w-1/2"
            [class.border-accent]="swapTab === 'pt' && modeTab === 'mint'"
            [class.text-accent]="swapTab === 'pt' && modeTab === 'mint'"
            [class.border-primary]="swapTab === 'yt' && modeTab === 'mint'"
            [class.text-primary]="swapTab === 'yt' && modeTab === 'mint'"
            (click)="modeTab = 'mint'"
          >
            Mint
          </a>
        </div>
        <div class="card-body">
          <form
            #swapMintFormRef="ngForm"
            *ngIf="modeTab === 'swap' && txMode === 'mint'"
            (submit)="onSubmitSwap()"
          >
            <div class="form-control">
              <span class="label">
                <span *ngIf="swapTab === 'pt'" class="label-text">Input</span>
                <span *ngIf="swapTab === 'yt'" class="label-text">Input (Max Limit)</span>
              </span>
              <div>
                <label class="input-group join">
                  <span>
                    <div class="avatar">
                      <div class="w-8 rounded-full">
                        <img src="{{ vaultImage?.image }}" />
                      </div>
                      <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                        <div class="w-4 rounded-full">
                          <img src="{{ vaultImage?.subImage }}" />
                        </div>
                      </div>
                    </div>
                    {{ vault?.deposit_denom | coinDenom | async }}
                  </span>
                  <input
                    *ngIf="swapTab === 'pt'"
                    #swapUnderlyingAmountNgModelRef="ngModel"
                    class="join-item input input-bordered input-info w-full"
                    [class]="{
                      'input-error': swapUnderlyingAmountNgModelRef.errors
                    }"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="inputSwapUT"
                    [min]="0"
                    [max]="denomBalancesMap?.[vault?.deposit_denom || '']?.amount | coinAmount:vault?.deposit_denom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="swapUnderlyingAmount"
                    (input)="onChangeSwapUnderlyingAmount()"
                  />
                  <input
                    *ngIf="swapTab === 'yt'"
                    #requiredUnderlyingAmountNgModelRef="ngModel"
                    class="join-item input input-bordered w-full"
                    [class]="{
                      'input-error': requiredUnderlyingAmountNgModelRef.errors
                    }"
                    [disabled]="!inputDesiredYT"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="estimateRequiredUtForYt"
                    [min]="0"
                    [max]="denomBalancesMap?.[vault?.deposit_denom || '']?.amount | coinAmount:vault?.deposit_denom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="requiredUnderlyingAmount"
                  />
                </label>
                <button
                  *ngIf="swapTab === 'pt'"
                  type="button"
                  class="hidden sm:inline-flex btn btn-xs btn-primary mt-3 mr-9 absolute right-0"
                  (click)="inputSwapMaxUT()"
                >
                  Max
                </button>
              </div>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">
                  {{ denomBalancesMap?.[vault?.deposit_denom || '']?.amount | coinAmount:vault?.deposit_denom }}
                  {{ vault?.deposit_denom | coinDenom | async }}
                </span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <button type="button" class="btn btn-circle" (click)="txMode = 'redeem'">
                <span class="material-symbols-outlined"> swap_vert </span>
              </button>
            </div>
            <div class="divider"></div>

            <div class="form-control">
              <span class="label">
                <span *ngIf="swapTab === 'pt'" class="label-text">Output (Estimated)</span>
                <span *ngIf="swapTab === 'yt'" class="label-text">Output</span>
              </span>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div
                      class="w-8 rounded-full border-2"
                      [class]="{
                        'border-accent': swapTab === 'pt',
                        'border-primary': swapTab === 'yt'
                      }"
                    >
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                    <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                      <div class="w-4 rounded-full">
                        <img src="{{ vaultImage?.subImage }}" />
                      </div>
                    </div>
                  </div>
                  <div>{{ swapTab | uppercase }}</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input
                  *ngIf="swapTab === 'pt'"
                  class="join-item input input-bordered w-full"
                  value="{{ estimateMintPt }}"
                  readonly
                />
                <input
                  *ngIf="swapTab === 'yt'"
                  #desiredYtNgModelRef="ngModel"
                  class="join-item input input-bordered input-info w-full"
                  [class]="{
                    'input-error': desiredYtNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputDesiredYT"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="desiredYt"
                  (input)="onChangeSwapDesiredYtAmount()"
                />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="swapMintFormRef.invalid">
                <span class="material-symbols-outlined"> currency_exchange </span>
                <span>Swap</span>
              </button>
            </div>
          </form>

          <form
            #swapRedeemFormRef="ngForm"
            *ngIf="modeTab === 'swap' && txMode === 'redeem'"
            (submit)="onSubmitSwapRedeem()"
          >
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
              </span>
              <div>
                <label class="input-group join">
                  <span class="gap-2">
                    <div class="avatar">
                      <div
                        class="w-8 rounded-full border-2"
                        [class]="{
                          'border-accent': swapTab === 'pt',
                          'border-primary': swapTab === 'yt'
                        }"
                      >
                        <img src="{{ vaultImage?.image }}" />
                      </div>
                      <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                        <div class="w-4 rounded-full">
                          <img src="{{ vaultImage?.subImage }}" />
                        </div>
                      </div>
                    </div>
                    <div>{{ swapTab | uppercase }}</div>
                    <div>{{ vault?.name }}#{{ trancheId }}</div>
                  </span>
                  <input
                    *ngIf="swapTab === 'pt'"
                    #swapPtAmountNgModelRef="ngModel"
                    class="join-item input input-bordered input-info w-full"
                    [class]="{
                      'input-error': swapPtAmountNgModelRef.errors
                    }"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="inputPT"
                    [min]="0"
                    [max]="denomBalancesMap?.[ptDenom || '']?.amount | coinAmount:ptDenom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="swapPtAmount"
                    (input)="onChangeSwapPtAmount()"
                  />
                  <input
                    *ngIf="swapTab === 'yt'"
                    #swapYtAmountNgModelRef="ngModel"
                    class="join-item input input-bordered input-info w-full"
                    [class]="{
                      'input-error': swapYtAmountNgModelRef.errors
                    }"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="inputYT"
                    [min]="0"
                    [max]="denomBalancesMap?.[ytDenom || '']?.amount | coinAmount:ytDenom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="swapYtAmount"
                    (input)="onChangeSwapYtAmount()"
                  />
                </label>
                <button
                  *ngIf="swapTab === 'pt'"
                  type="button"
                  class="hidden sm:inline-flex btn btn-xs btn-primary mt-3 mr-9 absolute right-0"
                  (click)="inputSwapMaxPT()"
                >
                  Max
                </button>
                <button
                  *ngIf="swapTab === 'yt'"
                  type="button"
                  class="hidden sm:inline-flex btn btn-xs btn-primary mt-3 mr-9 absolute right-0"
                  (click)="inputSwapMaxYT()"
                >
                  Max
                </button>
              </div>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt" *ngIf="swapTab === 'pt'">
                  {{ denomBalancesMap?.[ptDenom || '']?.amount | coinAmount:ptDenom }}
                </span>
                <span class="label-text-alt" *ngIf="swapTab === 'yt'">
                  {{ denomBalancesMap?.[ytDenom || '']?.amount | coinAmount:ytDenom }}
                </span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <button type="button" class="btn btn-circle" (click)="txMode = 'mint'">
                <span class="material-symbols-outlined"> swap_vert </span>
              </button>
            </div>
            <div class="divider"></div>

            <div class="form-control">
              <span class="label">
                <span class="label-text">Output (Estimated)</span>
              </span>
              <label class="input-group join">
                <span>
                  <div class="avatar">
                    <div class="w-8 rounded-full">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                    <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                      <div class="w-4 rounded-full">
                        <img src="{{ vaultImage?.subImage }}" />
                      </div>
                    </div>
                  </div>
                  {{ vault?.deposit_denom | coinDenom | async }}
                </span>
                <input
                  *ngIf="swapTab === 'pt'"
                  class="join-item input input-bordered w-full"
                  value="{{ estimateRedeemPt }}"
                  readonly
                />
                <input
                  *ngIf="swapTab === 'yt'"
                  #desiredUtNgModelRef="ngModel"
                  class="join-item input input-bordered w-full"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="estimateRedeemMaturedYt"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="desiredUt"
                />
              </label>
              <span
                class="label"
                *ngIf="swapTab === 'yt' && tranchePool && !isMatured(tranchePool)"
              >
                <span class="label-text font-bold text-lg text-error">
                  YT cannot swap until maturity!
                </span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button
                class="btn btn-primary w-full gap-1"
                [disabled]="
                  swapRedeemFormRef.invalid ||
                  !tranchePool ||
                  (swapTab === 'yt' && !isMatured(tranchePool))
                "
              >
                <span class="material-symbols-outlined"> currency_exchange </span>
                <span>Swap</span>
              </button>
            </div>
          </form>

          <form
            #mintMintFormRef="ngForm"
            *ngIf="modeTab === 'mint' && txMode === 'mint'"
            (submit)="onSubmitMint()"
          >
            <div class="join mb-4">
              <button
                type="button"
                class="btn btn-sm join-item"
                [class.btn-neutral]="txMode === 'mint'"
                (click)="txMode = 'mint'"
              >
                Mint
              </button>
              <button type="button" class="btn btn-sm join-item" (click)="txMode = 'redeem'">
                Redeem
              </button>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
              </span>
              <div>
                <label class="input-group join">
                  <span>
                    <div class="avatar">
                      <div class="w-8 rounded-full">
                        <img src="{{ vaultImage?.image }}" />
                      </div>
                      <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                        <div class="w-4 rounded-full">
                          <img src="{{ vaultImage?.subImage }}" />
                        </div>
                      </div>
                    </div>
                    {{ vault?.deposit_denom | coinDenom | async }}
                  </span>
                  <input
                    class="join-item input input-bordered input-info w-full"
                    #mintUnderlyingAmountNgModelRef="ngModel"
                    [class]="{
                      'input-error': mintUnderlyingAmountNgModelRef.errors
                    }"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="inputMintUT"
                    [min]="0"
                    [max]="denomBalancesMap?.[vault?.deposit_denom || '']?.amount | coinAmount:vault?.deposit_denom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="mintUnderlyingAmount"
                    (input)="onChangeMintUnderlyingAmount()"
                  />
                </label>
                <button
                  type="button"
                  class="hidden sm:inline-flex btn btn-xs btn-primary mt-3 mr-9 absolute right-0"
                  (click)="inputMintMaxUT()"
                >
                  Max
                </button>
              </div>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">
                  {{ denomBalancesMap?.[vault?.deposit_denom || '']?.amount | coinAmount:vault?.deposit_denom }}
                  {{ vault?.deposit_denom | coinDenom | async }}
                </span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <span class="material-symbols-outlined"> arrow_downward </span>
            </div>
            <div class="divider"></div>

            <div class="form-control gap-2">
              <span class="label">
                <span class="label-text">Output (Estimated)</span>
              </span>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div class="w-8 rounded-full border-2 border-accent">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                    <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                      <div class="w-4 rounded-full">
                        <img src="{{ vaultImage?.subImage }}" />
                      </div>
                    </div>
                  </div>
                  <div>PT</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input
                  class="join-item input input-bordered w-full"
                  value="{{ estimateMintPtYt?.ptAmount }}"
                  readonly
                />
              </label>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div class="w-8 rounded-full border-2 border-primary">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                    <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                      <div class="w-4 rounded-full">
                        <img src="{{ vaultImage?.subImage }}" />
                      </div>
                    </div>
                  </div>
                  <div>YT</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input
                  class="join-item input input-bordered w-full"
                  value="{{ estimateMintPtYt?.ytAmount }}"
                  readonly
                />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="mintMintFormRef.invalid">
                <span class="material-symbols-outlined"> monetization_on </span>
                <span>Mint</span>
              </button>
            </div>
          </form>

          <form
            *ngIf="modeTab === 'mint' && txMode === 'redeem'"
            #mintRedeemFormRef="ngForm"
            (submit)="onSubmitRedeem()"
          >
            <div class="join mb-4">
              <button type="button" class="btn btn-sm join-item" (click)="txMode = 'mint'">
                Mint
              </button>
              <button
                type="button"
                class="btn btn-sm join-item"
                [class.btn-neutral]="txMode === 'redeem'"
                (click)="txMode = 'redeem'"
              >
                Redeem
              </button>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
              </span>
              <div>
                <label class="input-group join">
                  <span class="gap-2">
                    <div class="avatar">
                      <div class="w-8 rounded-full border-2 border-accent">
                        <img src="{{ vaultImage?.image }}" />
                      </div>
                      <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                        <div class="w-4 rounded-full">
                          <img src="{{ vaultImage?.subImage }}" />
                        </div>
                      </div>
                    </div>
                    <div>PT</div>
                    <div>{{ vault?.name }}#{{ trancheId }}</div>
                  </span>
                  <input
                    #pairPtAmountNgModelRef="ngModel"
                    class="join-item input input-bordered input-info w-full"
                    [class]="{
                      'input-error': pairPtAmountNgModelRef.errors
                    }"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="inputPtPair"
                    [min]="0"
                    [max]="denomBalancesMap?.[ptDenom || '']?.amount | coinAmount:ptDenom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="pairPtAmount"
                    (input)="onChangeRedeemPtAmount()"
                  />
                </label>
                <button
                  type="button"
                  class="hidden sm:inline-flex btn btn-xs btn-primary mt-3 mr-9 absolute right-0"
                  (click)="inputRedeemMaxPT()"
                >
                  Max
                </button>
              </div>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">
                  {{ denomBalancesMap?.[ptDenom || '']?.amount | coinAmount:ptDenom }}
                </span>
              </span>

              <span class="label">
                <span class="label-text"></span>
              </span>

              <div>
                <label class="input-group join">
                  <span class="gap-2">
                    <div class="avatar">
                      <div class="w-8 rounded-full border-2 border-primary">
                        <img src="{{ vaultImage?.image }}" />
                      </div>
                      <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                        <div class="w-4 rounded-full">
                          <img src="{{ vaultImage?.subImage }}" />
                        </div>
                      </div>
                    </div>
                    <div>YT</div>
                    <div>{{ vault?.name }}#{{ trancheId }}</div>
                  </span>
                  <input
                    #pairYtAmountNgModelRef="ngModel"
                    class="join-item input input-bordered input-info w-full"
                    [class]="{
                      'input-error': pairYtAmountNgModelRef.errors
                    }"
                    placeholder="0.000000"
                    required
                    type="number"
                    [(ngModel)]="inputYtPair"
                    [min]="0"
                    [max]="denomBalancesMap?.[ytDenom || '']?.amount | coinAmount:ytDenom"
                    pattern="^[0-9]*\.?[0-9]{0,6}$"
                    name="pairYtAmount"
                    (input)="onChangeRedeemYtAmount()"
                  />
                </label>
                <button
                  type="button"
                  class="hidden sm:inline-flex btn btn-xs btn-primary mt-3 mr-9 absolute right-0"
                  (click)="inputRedeemMaxYT()"
                >
                  Max
                </button>
              </div>

              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">
                  {{ denomBalancesMap?.[ytDenom || '']?.amount | coinAmount:ytDenom }}
                </span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <span class="material-symbols-outlined"> arrow_downward </span>
            </div>
            <div class="divider"></div>

            <div class="form-control gap-2">
              <span class="label">
                <span class="label-text">Output (Estimated)</span>
              </span>
              <label class="input-group join">
                <span>
                  <div class="avatar">
                    <div class="w-8 rounded-full">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                    <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                      <div class="w-4 rounded-full">
                        <img src="{{ vaultImage?.subImage }}" />
                      </div>
                    </div>
                  </div>
                  {{ vault?.deposit_denom | coinDenom | async }}
                </span>
                <input
                  class="join-item input input-bordered w-full"
                  value="{{ estimateRedeemPtYt?.redeemAmount }}"
                  readonly
                />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="mintRedeemFormRef.invalid">
                <span class="material-symbols-outlined"> redeem </span>
                <span>Redeem</span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-full 2xl:w-5/12">
        <div class="card-body">
          <div class="flex flex-wrap gap-2 items-center">
            <div class="join mb-4">
              <button
                class="btn btn-sm join-item btn-accent text-neutral"
                [class.glass]="swapTab === 'yt'"
                (click)="swapTab = 'pt'"
              >
                PT
              </button>
              <button
                class="btn btn-sm join-item btn-primary"
                [class.glass]="swapTab === 'pt'"
                (click)="swapTab = 'yt'"
              >
                YT
              </button>
            </div>
            <div class="flex-auto"></div>
            <div class="card bg-base-100 flex-row flex-wrap px-4 py-2 gap-3 items-center mb-4">
              <div class="avatar">
                <div
                  class="w-8 rounded-full border-2"
                  [class]="{
                    'border-accent': swapTab === 'pt',
                    'border-primary': swapTab === 'yt'
                  }"
                >
                  <img src="{{ vaultImage?.image }}" />
                </div>
                <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                  <div class="w-4 rounded-full">
                    <img src="{{ vaultImage?.subImage }}" />
                  </div>
                </div>
              </div>
              <div class="mr-4">
                <div class="text-xl font-bold">
                  {{ swapTab | uppercase }} {{ vault?.name }}#{{ trancheId }}
                </div>
                <div class="text-sm opacity-50"></div>
              </div>
              <div class="text-xl font-bold" *ngIf="tranchePool">
                {{ calcMaturity(tranchePool) | date : 'mediumDate' }}
              </div>
              <div class="text-sm opacity-50" *ngIf="tranchePool">
                {{ calcRestDays(tranchePool) }} Days
              </div>
            </div>
          </div>

          <div class="stats stats-vertical shadow mb-4">
            <div class="stat">
              <div class="stat-title">Liquidity</div>
              <div class="stat-value">{{ totalLiquidityUSD?.total | currency }}</div>
              <div class="stat-desc"></div>
            </div>
            <!-- <div class="stat">
              <div class="stat-title">24h Volume</div>
              <div class="stat-value">{{ '0' | currency }}</div>
              <div class="stat-desc"></div>
            </div> -->
            <div class="stat">
              <div class="stat-title">Underlying APY</div>
              <div class="stat-value">{{ trancheYtAPYs?.ls_apy | percent : '1.2-2' }}</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat" *ngIf="swapTab === 'pt'">
              <div class="stat-title">Fixed APY</div>
              <div class="stat-value">{{ tranchePtAPYs?.pt_apy | percent : '1.2-2' }}</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat" *ngIf="swapTab === 'yt'">
              <div class="stat-title">Long Yield APY</div>
              <div class="stat-value">{{ trancheYtAPYs?.yt_apy | percent : '1.2-2' }}</div>
              <div class="stat-desc"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
