<div class="bg-[#39465d]">
  <div class="mx-auto max-w-screen-xl w-full p-8" id="page-top">
    <div class="flex flex-row flex-wrap mb-8">
      <div class="text-xl breadcrumbs">
        <ul>
          <li><a routerLink="../..">Markets</a></li>
          <li>
            <a routerLink="..">{{ vault?.name }}</a>
          </li>
          <li>Tranche #{{ trancheId }}</li>
        </ul>
      </div>
      <span class="flex-auto"></span>
      <div class="join">
        <button class="btn btn-sm btn-primary glass join-item" (click)="changeSimple()">
          Earn
        </button>
        <button class="btn btn-sm btn-accent join-item">Trade</button>
      </div>
    </div>

    <div class="flex flex-row flex-wrap gap-4 mb-8">
      <div class="flex-auto"></div>
      <div class="card bg-base-200 shadow-xl w-full md:w-auto">
        <div class="tabs w-full">
          <a
            class="tab tab-lg tab-bordered w-1/2"
            [class.border-accent]="swapTab === 'pt' && modeTab === 'swap'"
            [class.text-accent]="swapTab === 'pt' && modeTab === 'swap'"
            [class.border-primary]="swapTab === 'yt' && modeTab === 'swap'"
            [class.text-primary]="swapTab === 'yt' && modeTab === 'swap'"
            (click)="modeTab = 'swap'"
          >
            Swap
          </a>
          <a
            class="tab tab-lg tab-bordered w-1/2"
            [class.border-accent]="swapTab === 'pt' && modeTab === 'mint'"
            [class.text-accent]="swapTab === 'pt' && modeTab === 'mint'"
            [class.border-primary]="swapTab === 'yt' && modeTab === 'mint'"
            [class.text-primary]="swapTab === 'yt' && modeTab === 'mint'"
            (click)="modeTab = 'mint'"
          >
            Mint
          </a>
        </div>
        <div class="card-body">
          <form
            #swapMintFormRef="ngForm"
            *ngIf="modeTab === 'swap' && txMode === 'mint'"
            (submit)="onSubmitSwapMint()"
          >
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
                <button class="btn btn-xs btn-primary">Max</button>
              </span>
              <label class="input-group join">
                <button class="btn">
                  <div class="avatar">
                    <div class="w-8 rounded-full">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  {{ underlyingDenom | coinDenom | async }}
                  <div class="flex-auto"></div>
                  <div class="material-symbols-outlined">keyboard_arrow_down</div>
                </button>
                <input
                  #swapUnderlyingAmountNgModelRef="ngModel"
                  class="join-item input input-bordered input-info w-full"
                  [class]="{
                    'input-error': swapUnderlyingAmountNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputUnderlying"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="swapUnderlyingAmount"
                  (change)="onChangeSwapUnderlyingAmount()"
                />
              </label>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">0.0000</span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <button type="button" class="btn btn-circle" (click)="txMode = 'redeem'">
                <span class="material-symbols-outlined"> swap_vert </span>
              </button>
            </div>
            <div class="divider"></div>

            <div class="form-control">
              <span class="label">
                <span class="label-text">Output</span>
              </span>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div
                      class="w-8 rounded-full border-2"
                      [class]="{
                        'border-accent': swapTab === 'pt',
                        'border-primary': swapTab === 'yt'
                      }"
                    >
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  <div>{{ swapTab | uppercase }}</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input
                  *ngIf="swapTab === 'pt'"
                  class="join-item input input-bordered w-full"
                  readonly
                />
                <input
                  *ngIf="swapTab === 'yt'"
                  #desiredYtNgModelRef="ngModel"
                  class="join-item input input-bordered w-full"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputDesiredYT"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="desiredYt"
                />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="swapMintFormRef.invalid">
                <span class="material-symbols-outlined"> attach_money </span>
                <span>Swap</span>
              </button>
            </div>
          </form>

          <form
            #swapRedeemFormRef="ngForm"
            *ngIf="modeTab === 'swap' && txMode === 'redeem'"
            (submit)="onSubmitSwapRedeem()"
          >
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
                <button class="btn btn-xs btn-primary">Max</button>
              </span>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div
                      class="w-8 rounded-full border-2"
                      [class]="{
                        'border-accent': swapTab === 'pt',
                        'border-primary': swapTab === 'yt'
                      }"
                    >
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  <div>{{ swapTab | uppercase }}</div>
                  <div>{{ underlyingDenom | coinDenom | async }}</div>
                </span>
                <input
                  *ngIf="swapTab === 'pt'"
                  #swapPtAmountNgModelRef="ngModel"
                  class="join-item input input-bordered input-info w-full"
                  [class]="{
                    'input-error': swapPtAmountNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputPT"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="swapPtAmount"
                  (change)="onChangeSwapPtAmount()"
                />
                <input
                  *ngIf="swapTab === 'yt'"
                  #swapYtAmountNgModelRef="ngModel"
                  class="join-item input input-bordered input-info w-full"
                  [class]="{
                    'input-error': swapYtAmountNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputYT"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="swapYtAmount"
                  (change)="onChangeSwapYtAmount()"
                />
              </label>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">0.0000</span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <button type="button" class="btn btn-circle" (click)="txMode = 'mint'">
                <span class="material-symbols-outlined"> swap_vert </span>
              </button>
            </div>
            <div class="divider"></div>

            <div class="form-control">
              <span class="label">
                <span class="label-text">Output</span>
              </span>
              <label class="input-group join">
                <button class="btn">
                  <div class="avatar">
                    <div class="w-8 rounded-full">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  {{ underlyingDenom | coinDenom | async }}
                  <div class="flex-auto"></div>
                  <div class="material-symbols-outlined">keyboard_arrow_down</div>
                </button>
                <input
                  *ngIf="swapTab === 'pt'"
                  class="join-item input input-bordered w-full"
                  readonly
                />
                <input
                  *ngIf="swapTab === 'yt'"
                  #desiredUtNgModelRef="ngModel"
                  class="join-item input input-bordered w-full"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputDesiredUnderlying"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="desiredUt"
                />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="swapRedeemFormRef.invalid">
                <span class="material-symbols-outlined"> attach_money </span>
                <span>Swap</span>
              </button>
            </div>
          </form>

          <form
            #mintMintFormRef="ngForm"
            *ngIf="modeTab === 'mint' && txMode === 'mint'"
            (submit)="onSubmitMintMint()"
          >
            <div class="join mb-4">
              <button
                type="button"
                class="btn btn-sm join-item"
                [class.btn-neutral]="txMode === 'mint'"
                (click)="txMode = 'mint'"
              >
                Mint
              </button>
              <button type="button" class="btn btn-sm join-item" (click)="txMode = 'redeem'">
                Redeem
              </button>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
                <button class="btn btn-xs btn-primary">Max</button>
              </span>
              <label class="input-group join">
                <button class="btn">
                  <div class="avatar">
                    <div class="w-8 rounded-full">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  {{ underlyingDenom | coinDenom | async }}
                  <div class="flex-auto"></div>
                  <div class="material-symbols-outlined">keyboard_arrow_down</div>
                </button>
                <input
                  class="join-item input input-bordered input-info w-full"
                  #mintUnderlyingAmountNgModelRef="ngModel"
                  [class]="{
                    'input-error': mintUnderlyingAmountNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputUnderlying"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="mintUnderlyingAmount"
                  (change)="onChangeMintUnderlyingAmount()"
                />
              </label>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">0.0000</span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <span class="material-symbols-outlined"> arrow_downward </span>
            </div>
            <div class="divider"></div>

            <div class="form-control gap-2">
              <span class="label">
                <span class="label-text">Output</span>
              </span>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div class="w-8 rounded-full border-2 border-accent">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  <div>PT</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input class="join-item input input-bordered w-full" readonly />
              </label>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div class="w-8 rounded-full border-2 border-primary">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  <div>YT</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input class="join-item input input-bordered w-full" readonly />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="mintMintFormRef.invalid">
                <span class="material-symbols-outlined"> attach_money </span>
                <span>Swap</span>
              </button>
            </div>
          </form>

          <form
            *ngIf="modeTab === 'mint' && txMode === 'redeem'"
            #mintRedeemFormRef="ngForm"
            (submit)="onSubmitMintRedeem()"
          >
            <div class="join mb-4">
              <button type="button" class="btn btn-sm join-item" (click)="txMode = 'mint'">
                Mint
              </button>
              <button
                type="button"
                class="btn btn-sm join-item"
                [class.btn-neutral]="txMode === 'redeem'"
                (click)="txMode = 'redeem'"
              >
                Redeem
              </button>
            </div>
            <div class="form-control">
              <span class="label">
                <span class="label-text">Input</span>
                <button class="btn btn-xs btn-primary">Max</button>
              </span>
              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div class="w-8 rounded-full border-2 border-accent">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  <div>PT</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input
                  #pairPtAmountNgModelRef="ngModel"
                  class="join-item input input-bordered input-info w-full"
                  [class]="{
                    'input-error': pairPtAmountNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputPtPair"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="pairPtAmount"
                  (change)="onChangeRedeemMintPtAmount()"
                />
              </label>
              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">0.0000</span>
              </span>

              <span class="label">
                <span class="label-text"></span>
                <button class="btn btn-xs btn-primary">Max</button>
              </span>

              <label class="input-group join">
                <span class="gap-2">
                  <div class="avatar">
                    <div class="w-8 rounded-full border-2 border-primary">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  <div>YT</div>
                  <div>{{ vault?.name }}#{{ trancheId }}</div>
                </span>
                <input
                  #pairYtAmountNgModelRef="ngModel"
                  class="join-item input input-bordered input-info w-full"
                  [class]="{
                    'input-error': pairYtAmountNgModelRef.errors
                  }"
                  placeholder="0.000000"
                  required
                  type="number"
                  [(ngModel)]="inputYtPair"
                  [min]="0"
                  pattern="^[0-9]*\.?[0-9]{0,6}$"
                  name="pairYtAmount"
                  (change)="onChangeRedeemMintYtAmount()"
                />
              </label>

              <span class="label">
                <span class="label-text-alt">Available Balance:</span>
                <span class="label-text-alt">0.0000</span>
              </span>
            </div>

            <div class="flex flex-row justify-center">
              <span class="material-symbols-outlined"> arrow_downward </span>
            </div>
            <div class="divider"></div>

            <div class="form-control gap-2">
              <span class="label">
                <span class="label-text">Output</span>
              </span>
              <label class="input-group join">
                <button class="btn">
                  <div class="avatar">
                    <div class="w-8 rounded-full">
                      <img src="{{ vaultImage?.image }}" />
                    </div>
                  </div>
                  {{ underlyingDenom | coinDenom | async }}
                  <div class="flex-auto"></div>
                  <div class="material-symbols-outlined">keyboard_arrow_down</div>
                </button>
                <input class="join-item input input-bordered w-full" readonly />
              </label>
              <span class="label">
                <span class="label-text"></span>
              </span>
            </div>
            <div class="card-actions mt-4">
              <button class="btn btn-primary w-full gap-1" [disabled]="mintRedeemFormRef.invalid">
                <span class="material-symbols-outlined"> attach_money </span>
                <span>Swap</span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="flex-auto"></div>

      <div class="card bg-base-200 shadow-xl w-full md:w-auto">
        <div class="card-body">
          <div class="flex flex-wrap gap-2 items-center mb-4">
            <div class="join">
              <button
                class="btn btn-sm join-item"
                [class.btn-accent]="swapTab === 'pt'"
                (click)="swapTab = 'pt'"
              >
                PT
              </button>
              <button
                class="btn btn-sm join-item"
                [class.btn-primary]="swapTab === 'yt'"
                (click)="swapTab = 'yt'"
              >
                YT
              </button>
            </div>
            <div class="flex-auto"></div>
            <div class="card bg-base-100 flex-row flex-wrap px-4 gap-3 items-center">
              <div class="avatar">
                <div class="gap-2">
                  <div
                    class="w-8 rounded-full border-2"
                    [class]="{
                      'border-accent': swapTab === 'pt',
                      'border-primary': swapTab === 'yt'
                    }"
                  >
                    <img src="{{ vaultImage?.image }}" />
                  </div>
                  <div class="avatar -ml-2 mt-4" *ngIf="vaultImage?.subImage">
                    <div class="w-4 rounded-full">
                      <img src="{{ vaultImage?.subImage }}" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="mr-4">
                <div class="text-xl font-bold">
                  {{ swapTab | uppercase }} {{ vault?.name }}#{{ trancheId }}
                </div>
                <div class="text-sm opacity-50"></div>
              </div>
              <div class="text-xl font-bold" *ngIf="tranchePool">
                {{ calcMaturity(tranchePool) | date : 'mediumDate' }}
              </div>
              <div class="text-sm opacity-50" *ngIf="tranchePool">
                {{ calcRestDays(tranchePool) }} Days
              </div>
            </div>
          </div>

          <div class="stats stats-vertical md:stats-horizontal shadow">
            <div class="stat">
              <div class="stat-title">Liquidity</div>
              <div class="stat-value">{{ '0' | currency }}</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat">
              <div class="stat-title">24h Volume</div>
              <div class="stat-value">{{ '0' | currency }}</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat">
              <div class="stat-title">Underlying APY</div>
              <div class="stat-value">{{ '0' | percent : '1.2-2' }}</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat">
              <div class="stat-title">Fixed APY</div>
              <div class="stat-value">{{ tranchePtAPYs?.pt_apy | percent : '1.2-2' }}</div>
              <div class="stat-desc"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-auto"></div>
    </div>

    <div class="card bg-base-200 shadow-xl w-full md:w-auto">
      <div class="card-body">
        <h2 class="card-title">Transactions</h2>
        <div class="tabs w-full">
          <a
            class="tab tab-lg tab-bordered text-accent"
            [class.border-accent]="txTab === 'all'"
            (click)="txTab = 'all'"
          >
            All
          </a>
          <a
            class="tab tab-lg tab-bordered text-accent"
            [class.border-accent]="txTab === 'swap'"
            (click)="txTab = 'swap'"
          >
            Swaps
          </a>
          <a
            class="tab tab-lg tab-bordered text-accent"
            [class.border-accent]="txTab === 'liquidity'"
            (click)="txTab = 'liquidity'"
          >
            Liquidity
          </a>
        </div>
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
              <tr class="border-b-2 border-[#adc9ff]">
                <td>Action</td>
                <td>Value</td>
                <td>Token In</td>
                <td>Token Out</td>
                <td>Time</td>
              </tr>
            </thead>
            <tbody>
              <tr class="hover cursor-pointer border-b-2 border-[#adc9ff]">
                <td>Redeem</td>
                <td>{{ '1885.86' | currency }}</td>
                <td></td>
                <td>
                  <div class="flex flex-row items-center gap-2">
                    <div class="avatar">
                      <div class="w-8 rounded-full">
                        <img src="{{ vaultImage?.image }}" />
                      </div>
                    </div>
                    0.8957
                  </div>
                </td>
                <td>4d 0h 40 min</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
