<view-vault
  [vault]="vault$ | async"
  [denom]="denom$ | async"
  [availableDenoms]="availableDenoms$ | async"
  [denomBalancesMap]="denomBalancesMap$ | async"
  [denomMetadataMap]="denomMetadataMap$ | async"
  [symbolImage]="symbolImage$ | async"
  [totalDepositAmount]="totalDepositAmount$ | async"
  [totalBondedAmount]="totalBondedAmount$ | async"
  [totalUnbondingAmount]="totalUnbondingAmount$ | async"
  [withdrawReserve]="withdrawReserve$ | async"
  [estimatedMintAmount]="estimatedMintAmount$ | async"
  [estimatedRedeemAmount]="estimatedRedeemAmount$ | async"
  [estimatedDepositedAmount]="estimatedDepositedAmount$ | async"
  [vaultBalance]="vaultBalance$ | async"
  [usdDepositAmount]="usdDepositAmount$ | async"
  [vaultInfo]="vaultInfo$ | async"
  [externalWalletAddress]="externalWalletAddress"
  (changeDeposit)="onChangeDeposit($event)"
  (changeWithdraw)="onChangeWithdraw($event)"
  (appDeposit)="onSubmitDeposit($event)"
  (appWithdraw)="onSubmitWithdraw($event)"
  (appClickChain)="onClickChain($event)"
></view-vault>
