<view-vault
  [vault]="vault$ | async"
  [symbol]="symbol$ | async"
  [displaySymbol]="displaySymbol$ | async"
  [symbolBalancesMap]="symbolBalancesMap$ | async"
  [symbolMetadataMap]="symbolMetadataMap$ | async"
  [symbolImage]="symbolImage$ | async"
  [totalDepositAmount]="totalDepositAmount$ | async"
  [totalBondedAmount]="totalBondedAmount$ | async"
  [totalUnbondingAmount]="totalUnbondingAmount$ | async"
  [withdrawReserve]="withdrawReserve$ | async"
  [estimatedMintAmount]="estimatedMintAmount$ | async"
  [estimatedRedeemAmount]="estimatedRedeemAmount$ | async"
  [vaultInfo]="vaultInfo$ | async"
  (changeDeposit)="onChangeDeposit($event)"
  (changeWithdraw)="onChangeWithdraw($event)"
  (appDeposit)="onSubmitDeposit($event)"
  (appWithdraw)="onSubmitWithdraw($event)"
></view-vault>
