<view-vault
  [vault]="vault$ | async"
  [symbol]="displaySymbol$ | async"
  [symbolBalancesMap]="symbolBalancesMap$ | async"
  [symbolMetadataMap]="symbolMetadataMap$ | async"
  [symbolImage]="symbolImage$ | async"
  [totalDepositAmount]="totalDepositAmount$ | async"
  [totalBondedAmount]="totalBondedAmount$ | async"
  [totalUnbondingAmount]="totalUnbondingAmount$ | async"
  [totalWithdrawalBalance]="totalWithdrawalBalance$ | async"
  [estimatedMintAmount]="estimatedMintAmount$ | async"
  [estimatedBurnAmount]="estimatedBurnAmount$ | async"
  [vaultAPY]="vaultAPY$ | async"
  (changeDeposit)="onChangeDeposit($event)"
  (changeWithdraw)="onChangeWithdraw($event)"
  (appDeposit)="onSubmitDeposit($event)"
  (appWithdraw)="onSubmitWithdraw($event)"
></view-vault>
