<div class="mx-auto max-w-screen-xl">
  <div class="flex flex-row flex-wrap mb-8">
    <h2>Your Subscribing Trader</h2>
  </div>
  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#1</div>
        </div>
        <h2 class="card-title">UnUniFi Exemplary traders 1</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">Size Coefficient</div>
            <div class="stat-value text-primary">10%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Leverage Coefficient</div>
            <div class="stat-value text-info">100%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Current APY</div>
            <div class="stat-value text-secondary">1.234%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Commission Fee</div>
            <div class="stat-value">1.23%</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <div class="card-actions justify-end">
          <button
            routerLink="ununifi155u042u8wk3al32h3vzxu989jj76k4zcu44v6w"
            class="btn btn-outline btn-info mx-8"
          >
            View
          </button>
          <label for="untrace-model" class="btn btn-outline btn-error px-8"> Unsubscribe </label>
        </div>
        <input type="checkbox" id="untrace-model" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure to unsubscribe this Trader?</h3>
            <form>
              <div class="modal-action">
                <label for="untrace-model" class="btn btn-outline">Cancel</label>
                <button class="btn btn-error">Unsubscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row flex-wrap mb-8">
    <h2>Exemplary Traders</h2>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#1</div>
        </div>
        <h2 class="card-title">UnUniFi Exemplary traders 1</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">Current APY</div>
            <div class="stat-value text-secondary">12.34%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Commission Fee</div>
            <div class="stat-value">1.23%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Users</div>
            <div class="stat-value text-primary">1024</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <div class="card-actions justify-end">
          <button
            routerLink="ununifi155u042u8wk3al32h3vzxu989jj76k4zcu44v6w"
            class="btn btn-outline btn-info mx-8"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-auto mb-8">
    <div class="card bg-base-100 shadow-xl w-full">
      <div class="card-body">
        <div class="flex flex-row">
          <div class="badge badge-lg badge-primary mr-1">#2</div>
        </div>
        <h2 class="card-title">UnUniFi Exemplary traders 2</h2>
        <div class="stats flex flex-col md:flex-row">
          <div class="stat">
            <div class="stat-title">Current APY</div>
            <div class="stat-value text-secondary">10.23%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Commission Fee</div>
            <div class="stat-value">1.23%</div>
            <div class="stat-desc"></div>
          </div>
          <div class="stat">
            <div class="stat-title">Users</div>
            <div class="stat-value text-primary">24</div>
            <div class="stat-desc"></div>
          </div>
        </div>

        <div class="card-actions justify-end">
          <button
            routerLink="ununifi1v0h8j7x7kfys29kj4uwdudcc9y0nx6twwxahla"
            class="btn btn-outline btn-info mx-8"
          >
            View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
